#app-mount {
  background: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/wallpapers/dark-theme-1440.png") center/cover no-repeat;
}

.tutorialContainer_f9623d .svg_c5f96a {
  background: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_dark-theme.png") center/contain no-repeat;
}

#app-mount:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(218, 212, 187, 0.05)), color-stop(30%, transparent), color-stop(80%, transparent), to(rgba(218, 212, 187, 0.05))), radial-gradient(transparent 50%, rgba(218, 212, 187, 0.1));
  background: linear-gradient(to right, rgba(218, 212, 187, 0.05), transparent 30%, transparent 80%, rgba(218, 212, 187, 0.05)), radial-gradient(transparent 50%, rgba(218, 212, 187, 0.1));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

:root {
  --color-high: rgb(87, 84, 74);
  --color-low: rgb(218, 212, 187);
  --color-mid: rgb(151, 147, 129);
  --color-alert: rgb(205, 102, 77);
  --color-high-trans: rgba(87, 84, 74, 0.6);
  --color-low-trans: rgba(218, 212, 187, 0.8);
  --color-mid-trans: rgb(151, 147, 129, 0.5);
  --color-alert-trans: rgba(205, 102, 77, 0.7);
  --selector-img: url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/extras/nier-selector_high.png");
}

::-moz-selection {
  background-color: var(--color-alert);
  color: var(--color-low);
}

::selection {
  background-color: var(--color-alert);
  color: var(--color-low);
}