#app-mount {
	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/wallpapers/light-theme-1440.png')
		center/cover no-repeat;
}

.tutorialContainer-1pL9QS .svg-2zuE5p {
	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_light-theme.png')
		center/contain no-repeat;
}

#app-mount:before {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
			to right,
			rgba(78, 75, 66, 0.2),
			transparent 30%,
			transparent 80%,
			rgba(78, 75, 66, 0.4)
		),
		radial-gradient(transparent 50%, rgba(78, 75, 66, 0.4));
	user-select: none;
	pointer-events: none;
}

.theme-dark .mentioned-Tre-dv a.anchor-1MIwyf {
	background-color: var(--color-high-trans);
	border-radius: 0.25em;
}

::selection {
	background-color: var(--color-alert);
	color: var(--color-high);
}
