#app-mount {
  background: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/wallpapers/light-theme-1440.png") center/cover no-repeat;
}

.tutorialContainer_b06ae6 .svg__34dd4 {
  background: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_light-theme.png") center/contain no-repeat;
}

#app-mount:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(78, 75, 66, 0.2)), color-stop(30%, transparent), color-stop(80%, transparent), to(rgba(78, 75, 66, 0.4))), radial-gradient(transparent 50%, rgba(78, 75, 66, 0.4));
  background: linear-gradient(to right, rgba(78, 75, 66, 0.2), transparent 30%, transparent 80%, rgba(78, 75, 66, 0.4)), radial-gradient(transparent 50%, rgba(78, 75, 66, 0.4));
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

::-moz-selection {
  background-color: var(--color-alert);
  color: var(--color-high);
}

::selection {
  background-color: var(--color-alert);
  color: var(--color-high);
}