@import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
@keyframes pulsingBackground {
  0% {
    background-color: var(--color-low);
  }
  20% {
    background-color: var(--color-low);
    opacity: 100%;
  }
  50% {
    background-color: var(--color-low-trans);
    opacity: 75%;
  }
  80% {
    background-color: var(--color-low);
    opacity: 100%;
  }
  100% {
    background-color: var(--color-low);
  }
}
:root {
  --header-primary: var(--color-low) !important;
  --header-secondary: var(--color-low) !important;
  --text-normal: var(--color-low);
  --channels-default: var(--color-low);
  --interactive-normal: var(--color-low);
  --interactive-hover: var(--color-low);
  --interactive-active: var(--color-low);
  --text-link: var(--color-alert);
  --text-muted: var(--color-low);
  --interactive-muted: var(--color-mid);
  --background-primary: var(--color-high);
  --background-secondary: var(--color-high);
  --background-secondary-alt: var(--color-high);
  --background-tertiary: var(--color-high-trans);
  --background-accent: #4f545c;
  --background-floating: var(--color-high);
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: var(--color-mid);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --background-mentioned: var(--color-alert-trans);
  --background-mentioned-hover: var(--color-alert-trans);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --background-help-warning: rgba(250, 166, 26, 0.1);
  --background-help-info: rgba(0, 176, 244, 0.1);
  --scrollbar-thin-thumb: var(--color-low);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: var(--color-low);
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--color-low);
  --scrollbar-auto-scrollbar-color-track: transparent;
  --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
      0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --logo-primary: var(--color-low);
  --focus-primary: var(--color-alert);
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: var(--color-high);
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: var(--color-high);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

.app-2rEoOp,
.bg-h5JY_x {
  background-color: transparent;
}

.wordmarkWindows-1v0lYD {
  color: transparent;
}

.winButtonClose-1HsbF-:hover {
  transition: background-color 0.2s, color 0.2s ease;
  color: var(--color-high);
  background: var(--color-alert);
}

.winButtonMinMax-PBQ2gm:hover {
  transition: background-color 0.2s, color 0.2s ease;
  color: var(--color-high);
  background: var(--color-low);
}

.input-cIJ7To {
  background-color: var(--color-high);
  border-radius: 0;
  border: 2px solid var(--color-low);
  color: var(--color-low);
}
.input-cIJ7To:hover {
  border-color: var(--color-mid);
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--color-alert);
}
.input-cIJ7To::placeholder {
  color: var(--color-mid);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  border-radius: 0;
  border-color: transparent;
  background-color: var(--color-low);
  color: var(--color-high);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:active,
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover,
.lookFilled-1Gx00P.colorGrey-2DXtkV:active,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
  background-color: var(--color-mid) !important;
  color: var(--color-high) !important;
}

.jumpButton-JkYoYK,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
  border-radius: 0;
  border-color: transparent;
  background-color: var(--color-alert);
  color: var(--color-high);
}
.jumpButton-JkYoYK:hover, .jumpButton-JkYoYK:active,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:active,
.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookFilled-1Gx00P.colorRed-1TFJan:active,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:active {
  background-color: var(--color-low) !important;
  color: var(--color-high) !important;
}

.container-3auIfb[style="opacity: 1; background-color: rgb(114, 118, 125);"] {
  background: var(--color-mid) !important;
}
.container-3auIfb[style="opacity: 1; background-color: rgb(114, 118, 125);"] path {
  fill: var(--color-mid);
}

.container-3auIfb[style="opacity: 1; background-color: rgb(67, 181, 129);"] {
  background: var(--color-low) !important;
}
.container-3auIfb[style="opacity: 1; background-color: rgb(67, 181, 129);"] path {
  fill: var(--color-low);
}

.bd-switch {
  background-color: var(--color-mid);
}
.bd-switch::after {
  background-color: var(--color-high);
}

.bd-switch-checked {
  background-color: var(--color-low);
}

.cardPrimaryEditable-3KtE4g {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-low);
  border: 1px solid var(--color-low);
}
.cardPrimaryEditable-3KtE4g[style="background-color:"] {
  background: var(--color-low);
}

.divider-3FBTu8,
.theme-dark .children-19S4PO:after,
.container-1r6BKw.themed-ANHk51 {
  background: transparent;
}

.header-2o-2hj,
.content-yTz4x3:before,
.searchBar-6Kv8R2 {
  box-shadow: none;
}

.name-3YKhmS,
.title-29uC1r {
  letter-spacing: 1px;
  text-shadow: 3px 4px 0 var(--color-mid);
  padding-right: 3px;
  margin: 0;
}

.akaBadge-1M-1Gw {
  background: var(--color-alert);
  color: var(--color-high);
}

.title-3qD0b- .children-19S4PO .iconWrapper-2OrFZ1 {
  margin: 0 5px;
}
.title-3qD0b- .children-19S4PO .icon-22AiRD {
  margin: 6px 0px;
  width: 16px;
  height: 16px;
  color: var(--color-high);
  background: var(--color-low);
}
.title-3qD0b- .children-19S4PO path:first-child {
  background-color: var(--color-low);
  fill: var(--color-low);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9,
.childWrapper-anI2G9 {
  background-color: transparent;
  color: transparent;
}

.tutorialContainer-1v44GL .wrapper-25eVIn,
.tutorialContainer-1v44GL .svg-1X37T1 {
  height: 57px;
  width: 48px;
}

.tutorialContainer-1v44GL .svg-1X37T1 {
  animation-name: y-spin;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes y-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.iconSize-2tmqqh {
  -webkit-mask: url("https://discord.com/assets/c30220448097b064286a8759a9b6c4af.svg");
          mask: url("https://discord.com/assets/c30220448097b064286a8759a9b6c4af.svg");
  background: var(--color-alert) !important;
}

foreignObject[mask="url(#svg-mask-status-dnd)"] .status-1AY8sU {
  background-color: var(--color-alert) !important;
}

.iconBadge-qZ4Ksk {
  background-color: var(--color-alert);
}

.strikethrough-1n4ekb {
  color: var(--color-alert);
}

.theme-dark .actionButton-VzECiy {
  color: var(--color-low);
}

.pointerEvents-2zdfdO[mask="url(#svg-mask-status-dnd)"] {
  fill: var(--color-alert);
}

path[d="M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z"] + path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"] {
  transform: translateX(-108%) translateY(0%) scale(2);
}

.unread-3zKkbm,
.panels-j1Uci_,
.wrapper-1ucjTd:hover .content-3at_AU,
.modeSelected-1zApJ_ .content-3at_AU,
.modeSelected-1zApJ_:hover .content-3at_AU,
.container-PNkimc {
  background: transparent;
}

.unread-1xRYoj {
  color: var(--color-high);
  background: var(--color-alert);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.button-14-BFJ {
  border-radius: 0;
  border-color: transparent;
  background-color: transparent;
  color: var(--color-low);
}
.button-14-BFJ:hover, .button-14-BFJ:active {
  background-color: var(--color-low) !important;
  color: var(--color-high) !important;
}

.wrapper-1ucjTd {
  height: 32px;
  margin: 4px 0 4px 0;
}
.wrapper-1ucjTd.modeMuted-3osy7j {
  opacity: 50%;
}
.wrapper-1ucjTd.modeMuted-3osy7j .icon-1_QxNX,
.wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg {
  color: var(--color-low);
}
.wrapper-1ucjTd .icon-1_QxNX {
  transition: color 0.2s, background-color 0.2s;
  height: 12px;
  width: 12px;
  z-index: 1;
  background-color: var(--color-low);
}
.wrapper-1ucjTd .icon-1_QxNX path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"],
.wrapper-1ucjTd .icon-1_QxNX path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"],
.wrapper-1ucjTd .icon-1_QxNX path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
  fill: var(--color-high);
}
.wrapper-1ucjTd .content-3at_AU {
  height: 28px;
  margin-left: 0;
  border-radius: 0;
  top: 2px;
}
.wrapper-1ucjTd .name-3_Dsmg,
.wrapper-1ucjTd .actionIcon-2Hi9ZG {
  transition: color 0.2s;
}
.wrapper-1ucjTd .mainContent-ENyL1r:before {
  transition: width 0.4s;
  position: absolute;
  animation-name: pulsingBackground;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 0%;
}
.wrapper-1ucjTd.modeConnected-2IEL4z, .wrapper-1ucjTd.modeSelected-1zApJ_, .wrapper-1ucjTd:hover {
  box-shadow: 0 1px var(--color-low), 0 -1px var(--color-low);
}
.wrapper-1ucjTd.modeConnected-2IEL4z .mainContent-ENyL1r:before, .wrapper-1ucjTd.modeSelected-1zApJ_ .mainContent-ENyL1r:before, .wrapper-1ucjTd:hover .mainContent-ENyL1r:before {
  width: 100%;
}
.wrapper-1ucjTd.modeConnected-2IEL4z .icon-1_QxNX, .wrapper-1ucjTd.modeSelected-1zApJ_ .icon-1_QxNX, .wrapper-1ucjTd:hover .icon-1_QxNX {
  color: var(--color-high);
  background-color: var(--color-high);
}
.wrapper-1ucjTd.modeConnected-2IEL4z .icon-1_QxNX path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"],
.wrapper-1ucjTd.modeConnected-2IEL4z .icon-1_QxNX path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"],
.wrapper-1ucjTd.modeConnected-2IEL4z .icon-1_QxNX path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"], .wrapper-1ucjTd.modeSelected-1zApJ_ .icon-1_QxNX path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"],
.wrapper-1ucjTd.modeSelected-1zApJ_ .icon-1_QxNX path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"],
.wrapper-1ucjTd.modeSelected-1zApJ_ .icon-1_QxNX path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"], .wrapper-1ucjTd:hover .icon-1_QxNX path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"],
.wrapper-1ucjTd:hover .icon-1_QxNX path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"],
.wrapper-1ucjTd:hover .icon-1_QxNX path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
  fill: var(--color-low);
}
.wrapper-1ucjTd.modeConnected-2IEL4z .actionIcon-2Hi9ZG,
.wrapper-1ucjTd.modeConnected-2IEL4z .name-3_Dsmg, .wrapper-1ucjTd.modeSelected-1zApJ_ .actionIcon-2Hi9ZG,
.wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg, .wrapper-1ucjTd:hover .actionIcon-2Hi9ZG,
.wrapper-1ucjTd:hover .name-3_Dsmg {
  z-index: 1;
  color: var(--color-high);
}
.wrapper-1ucjTd.modeUnread-1zpFdA .icon-1_QxNX {
  color: var(--color-alert);
  background-color: var(--color-alert);
}
.wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg {
  color: var(--color-alert);
}

.theme-dark .form-2fGMdU:before,
.chat-3bRxxu {
  background: transparent;
}

.mentioned-xhSam7:before {
  width: 0;
}

.divider-JfaTT5 {
  border: none;
}

.auto-Ge5KZx::-webkit-scrollbar,
.auto-Ge5KZx::-webkit-scrollbar-thumb,
.auto-Ge5KZx::-webkit-scrollbar-track {
  border-radius: 0;
  width: 6px;
}

.header-23xsNx {
  border-radius: 0;
  display: inline-block !important;
  padding: 4px 5px 4px 6px;
  background: var(--color-high);
  margin-left: 13px;
  box-shadow: 2px 2px 0 var(--color-mid), -3px 0 0 var(--color-low), -9px 0 0 var(--color-high), -21px 0 0 var(--color-low), -18px 2px 0 var(--color-mid);
}

.full-motion .avatar-1BDn8e.clickable-1bVtEA {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}
.full-motion .avatar-1BDn8e.clickable-1bVtEA:hover {
  filter: none;
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-alert);
}

.username-1A8OIy.clickable-1bVtEA {
  color: var(--color-low) !important;
}

.isUnread-3Ef-o9 .content-1o0f9g,
.unreadPill-2HyYtt,
.content-1o0f9g {
  border-radius: 0;
  background-color: var(--color-alert);
  color: var(--color-high);
}

.unreadPillCapStroke-7rkHbg {
  color: var(--color-alert);
  fill: var(--color-alert);
}

.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
  border-radius: 0;
  background-color: var(--color-low);
}

.emptyChannelIcon-cc932w {
  background-image: url("https://svgur.com/i/RGT.svg");
  -webkit-mask: url("https://svgur.com/i/RGT.svg");
          mask: url("https://svgur.com/i/RGT.svg");
  background: var(--color-mid) !important;
  margin: auto;
  width: 403px !important;
  height: 353px !important;
}

.theme-dark .mentioned-xhSam7 .mention.interactive:hover {
  color: var(--color-high);
}

.wrapper-3WhCwL {
  background: var(--color-alert-trans);
  color: var(--color-high);
}
.wrapper-3WhCwL:hover {
  color: var(--color-alert);
  background: var(--color-high);
}

.scrollableContainer-2NUZem {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.theme-dark .operations-36ENbA {
  color: var(--color-low);
}
.theme-dark .operations-36ENbA > a {
  color: var(--color-alert);
}

.codeBlockSyntax-2i-tMA,
.syntaxAfter-hcA4AH,
.syntaxBefore-1YQ9lW {
  color: var(--color-alert);
}

.channelTextArea-2VhZ6z {
  width: auto;
}

.channelTextArea-rNsIhG {
  border-radius: 0;
  margin-left: 21px;
  box-shadow: -3px 0 0 var(--color-low), -9px 0 0 var(--color-high), -21px 0 0 var(--color-low), -18px 3px 0 var(--color-mid), 3px 3px 0 var(--color-mid);
}

.placeholder-37qJjk {
  color: var(--color-mid);
}

.cooldownWrapper-3joyFc {
  color: var(--color-low) !important;
}

.attachButton-2WznTc {
  padding-left: 10px;
  padding-right: 10px;
}
.attachButton-2WznTc:hover .attachButtonPlus-jWVFah {
  transition: fill 0.1s ease-in-out;
  fill: var(--color-mid);
}

.embedFull-2tM8--,
.cozy-3raOZG .messageContent-2qWWxC pre {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 4px 4px 0 var(--color-mid);
}
.embedFull-2tM8-- code,
.cozy-3raOZG .messageContent-2qWWxC pre code {
  border-radius: 0;
  margin-left: 13px;
  margin-bottom: 4px;
  box-shadow: -3px 0 0 var(--color-low), -9px 0 0 var(--color-high), -21px 0 0 var(--color-low), -18px 4px 0 var(--color-mid);
}

.attachment-33OFj0 {
  margin-left: 13px;
  border-radius: 0;
  box-shadow: -3px 0 0 var(--color-low), -9px 0 0 var(--color-high), -21px 0 0 var(--color-low), -18px 3px 0 var(--color-mid), 3px 3px 0 var(--color-mid);
}
.attachment-33OFj0 .metadata-3WGS0M {
  color: var(--color-low);
}

.imageWrapper-2p5ogY:not(.embedImage-2W1cML) {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 4px 4px 0 var(--color-mid);
}

.wrapper-2TxpI8,
.video-8eMOth {
  border-radius: 0;
}

.reaction-1hd86g {
  border: 1px solid var(--color-low);
  border-radius: 0;
  background-color: transparent;
}
.reaction-1hd86g .reactionCount-2mvXRV {
  color: var(--color-low);
}
.reaction-1hd86g:hover {
  background: var(--color-mid);
  border-radius: 0;
  box-shadow: 2px 2px 0 var(--color-mid);
}
.reaction-1hd86g:hover .reactionCount-2mvXRV {
  color: var(--color-high);
}

.reaction-1hd86g.reactionMe-wv5HKu {
  background: var(--color-low);
  border-radius: 0;
  box-shadow: 2px 2px 0 var(--color-mid);
}
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
  color: var(--color-high);
}

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: var(--nier-font), Arial, Helvetica, sans-serif;
}

strong {
  font-family: Arial, Helvetica, sans-serif;
}

.markup-2BOw-j {
  font-size: 11pt;
}

.wrapper-1Rf91z,
.theme-dark .pageWrapper-1PgVDX,
.scroller-2TZvBN {
  background-color: transparent;
}

.guildSeparator-3s64Iy {
  height: 0;
}

.listItem-2P_4kh .svg-1X37T1 foreignObject {
  -webkit-mask: none;
          mask: none;
}

.expandedFolderBackground-2sPsd- {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.scroller-2TZvBN > div[aria-label=Servers] > .listItem-2P_4kh foreignObject {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.folderIconWrapper-226oVY {
  border-radius: 0;
}

.acronym-2mOFsV {
  color: var(--color-low) !important;
}

.item-2hkk8m {
  background-color: var(--color-alert);
  border-radius: 0;
  height: 48px !important;
}

.mention-1f5kbO {
  background: var(--color-alert);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-low);
}

.numberBadge-2s8kKX {
  background-color: var(--color-alert) !important;
  color: var(--color-high) !important;
  border-radius: 0;
}

.circleIconButton-jET_ig {
  color: var(--color-alert);
}
.circleIconButton-jET_ig.selected-ugP_am {
  background-color: var(--color-alert);
  color: var(--color-high);
}

.theme-dark .card-3DjzTQ,
.theme-dark .iconMask-3b8GzQ {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 5px 5px 0 var(--color-mid);
}

.scroller-1JbKMe,
.sidebar-2K8pFh,
.privateChannels-1nO12o {
  background: transparent;
}

.scroller-1IIF0A,
.scroller-9moviB,
.applicationStore-1pNvnv,
.nowPlayingColumn-2sl4cE,
.theme-dark .inset-3sAvek,
.theme-dark .container-1D34oG {
  background-color: transparent;
}

.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.theme-dark .text-GwUZgS,
.theme-dark .title-2BxgL2 {
  color: var(--color-low);
}

.theme-dark .feature-2w65J5,
.banner-WELp4M,
.wrapper-3D2qGf {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 4px 4px 0 var(--color-mid);
}
.theme-dark .feature-2w65J5 .inset-3sAvek,
.banner-WELp4M .inset-3sAvek,
.wrapper-3D2qGf .inset-3sAvek {
  border: 1px solid var(--color-mid);
  border-radius: 0;
}
.theme-dark .feature-2w65J5 .partyMemberOverflow-lXnzvu,
.banner-WELp4M .partyMemberOverflow-lXnzvu,
.wrapper-3D2qGf .partyMemberOverflow-lXnzvu {
  color: var(--color-high);
  background: var(--color-low);
}
.theme-dark .feature-2w65J5:hover,
.banner-WELp4M:hover,
.wrapper-3D2qGf:hover {
  background-color: var(--color-low) !important;
}
.theme-dark .feature-2w65J5:hover .partyMemberOverflow-lXnzvu,
.banner-WELp4M:hover .partyMemberOverflow-lXnzvu,
.wrapper-3D2qGf:hover .partyMemberOverflow-lXnzvu {
  color: var(--color-low);
  background: var(--color-high);
}
.theme-dark .feature-2w65J5:hover .base-1x0h_U,
.theme-dark .feature-2w65J5:hover .colorHeaderSecondary-3Sp3Ft,
.theme-dark .feature-2w65J5:hover .colorStandard-2KCXvj,
.banner-WELp4M:hover .base-1x0h_U,
.banner-WELp4M:hover .colorHeaderSecondary-3Sp3Ft,
.banner-WELp4M:hover .colorStandard-2KCXvj,
.wrapper-3D2qGf:hover .base-1x0h_U,
.wrapper-3D2qGf:hover .colorHeaderSecondary-3Sp3Ft,
.wrapper-3D2qGf:hover .colorStandard-2KCXvj {
  color: var(--color-high);
}

.theme-dark .emptyWumpus-12J3jI,
.image-1GzsFd {
  -webkit-mask: url("https://svgur.com/i/RGT.svg");
          mask: url("https://svgur.com/i/RGT.svg");
  background: var(--color-low) !important;
  width: 403px !important;
  height: 353px !important;
}

.actionButton-uPB8Fs:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: var(--color-low);
}
.actionButton-uPB8Fs:hover .icon-35-fSh {
  transition: color 0.1s ease-in-out;
  color: var(--color-high);
}

.scroller-2XE8rp {
  background: transparent;
}

.theme-dark .installationPath-3cStrB {
  box-shadow: none;
}

.theme-dark .usageInfo-2WQAwr,
.theme-dark .rowTitle-1KYtY7,
.theme-dark .rowBody-3dJTTZ {
  color: var(--color-low);
}

.clickable-1JJAn8:hover .layout-2DM8Md,
.members-1998pB,
.members-1998pB > div {
  background: transparent;
}

.container-2Pjhx- {
  transition: color 0.2s;
  max-width: none;
  border-radius: 0;
  height: 44px;
  margin: 5px 0 5px 0;
}
.container-2Pjhx- .layout-2DM8Md {
  background-color: transparent;
  height: 36px;
  margin: 3px 0 0 0;
  border-radius: 0;
}
.container-2Pjhx- .layout-2DM8Md:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  bottom: 2px;
  transition: width 0.4s;
  animation-name: pulsingBackground;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 0%;
}
.container-2Pjhx-.selected-aXhQR6, .container-2Pjhx-:hover {
  color: var(--color-high) !important;
  box-shadow: 0 1px var(--color-low), 0 -1px var(--color-low);
}
.container-2Pjhx-.selected-aXhQR6 .name-uJV0GL span,
.container-2Pjhx-.selected-aXhQR6 .activity-2Gy-9S,
.container-2Pjhx-.selected-aXhQR6 .muted-3mU76i, .container-2Pjhx-:hover .name-uJV0GL span,
.container-2Pjhx-:hover .activity-2Gy-9S,
.container-2Pjhx-:hover .muted-3mU76i {
  color: var(--color-high) !important;
}
.container-2Pjhx-.selected-aXhQR6 .layout-2DM8Md:before, .container-2Pjhx-:hover .layout-2DM8Md:before {
  width: 100%;
}
.container-2Pjhx-.selected-aXhQR6 .linkButtonIcon-Mlm5d6,
.container-2Pjhx-.selected-aXhQR6 .content-3QAtGj, .container-2Pjhx-:hover .linkButtonIcon-Mlm5d6,
.container-2Pjhx-:hover .content-3QAtGj {
  z-index: 1;
}

.botTagRegular-2HEhHi {
  background-color: var(--color-alert);
  color: var(--color-high);
}

#app-mount:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(78, 75, 66, 0.2), transparent 30%, transparent 80%, rgba(78, 75, 66, 0.4)), radial-gradient(transparent 50%, rgba(78, 75, 66, 0.4));
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none;
}

#app-mount:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.ibb.co/Fq9Jt09/Nie-R-Lattice.png");
  z-index: 10000;
  opacity: 0.03;
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none;
}

.wrapper-2Gsate {
  background: transparent;
}

.header-ykumBX,
.header-8ilj5e {
  box-shadow: none;
}

.popoutContainer-1MXdqN {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.full-motion .wrapper-2aW0bm:hover,
.wrapper-2aW0bm {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}
.full-motion .wrapper-2aW0bm:hover .button-1ZiXG9,
.wrapper-2aW0bm .button-1ZiXG9 {
  border-radius: 0;
  border-color: transparent;
  background-color: var(--color-high);
  color: var(--color-low);
}
.full-motion .wrapper-2aW0bm:hover .button-1ZiXG9:hover, .full-motion .wrapper-2aW0bm:hover .button-1ZiXG9:active,
.wrapper-2aW0bm .button-1ZiXG9:hover,
.wrapper-2aW0bm .button-1ZiXG9:active {
  background-color: var(--color-low) !important;
  color: var(--color-high) !important;
}

.messagesPopoutWrap-1MQ1bW {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.username-1A8OIy {
  color: var(--color-low) !important;
}

.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  background-color: var(--color-alert);
  color: var(--color-high);
}

.emojiPicker-3PwZFl {
  border: 1px solid var(--color-low);
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 4px 4px 0 var(--color-mid);
}

.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
  background: var(--color-low);
  border-radius: 0;
}

.menu-3sdvDG,
.theme-dark .tooltipBlack-PPG47z {
  background: var(--color-low);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}
.menu-3sdvDG .scroller-3BxosC,
.theme-dark .tooltipBlack-PPG47z .scroller-3BxosC {
  padding: 0;
}
.menu-3sdvDG .colorDefault-2K3EoJ,
.theme-dark .tooltipBlack-PPG47z .colorDefault-2K3EoJ {
  border-radius: 0;
  border-color: transparent;
  background-color: var(--color-low);
  color: var(--color-high);
  color: var(--color-high);
}
.menu-3sdvDG .colorDefault-2K3EoJ:hover, .menu-3sdvDG .colorDefault-2K3EoJ:active,
.theme-dark .tooltipBlack-PPG47z .colorDefault-2K3EoJ:hover,
.theme-dark .tooltipBlack-PPG47z .colorDefault-2K3EoJ:active {
  background-color: var(--color-high) !important;
  color: var(--color-low) !important;
}

.item-1tOPte {
  border-radius: 0;
  margin: 0;
}

.colorDanger-2qLCe1,
.colorDanger-2qLCe1 .checkbox-3s5GYZ,
.colorDanger-2qLCe1 .radioSelection-1HmrQS {
  color: var(--color-alert);
}

.clickCTA-2B6Kbs {
  color: var(--color-mid);
}

.theme-dark .tooltip-2QfLtc,
.theme-dark .listItemTooltip-CDcY8J {
  color: var(--color-high);
}

.separator-2I32lJ,
.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
  border: none;
}

.theme-dark .autocompleteShadow-iiGWFU {
  border: 1px solid var(--color-low);
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.theme-dark .autocompleteArrow-Zxoy9H,
.theme-dark .header-2bNvm4 {
  background-color: transparent;
  box-shadow: none;
}

.theme-dark .empty-3hoe1g .noResultsHeader-pqW4H-,
.theme-dark .empty-3hoe1g p,
.theme-dark .container-VSDcQc .input-1ppKdn {
  color: var(--color-low);
}
.theme-dark .empty-3hoe1g .noResultsHeader-pqW4H-::placeholder,
.theme-dark .empty-3hoe1g p::placeholder,
.theme-dark .container-VSDcQc .input-1ppKdn::placeholder {
  color: var(--color-mid);
}

.row-rrHHJU.selected-1pIgLL .rowInner-1vvRiF {
  background-color: var(--color-low);
  border-radius: 0;
}
.row-rrHHJU.selected-1pIgLL .rowInner-1vvRiF span {
  color: var(--color-high) !important;
}

.tabBarContainer-1s1u-z {
  border: none;
}

.separator-2I32lJ {
  margin: 0;
}

.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4,
.topSectionPlaying-1J5E4n,
.headerSpotify-zpWxgT,
.headerPlaying-j0WQBV,
.theme-dark .footer-1fjuF6 {
  background: transparent;
}

.theme-dark .activityProfile-2bJRaP .content-3JfFJh,
.theme-dark .activityProfile-2bJRaP .details-38sfDr,
.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7,
.theme-dark .activityProfile-2bJRaP .name-29ETJS,
.theme-dark .activityUserPopout-2yItg2 .content-3JfFJh,
.theme-dark .activityUserPopout-2yItg2 .details-38sfDr,
.theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7,
.theme-dark .activityUserPopout-2yItg2 .name-29ETJS {
  color: var(--color-high);
}
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
  color: var(--color-low);
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.colorDefault-2K3EoJ.focused-3afm-j,
.customStatus-1bh2V9,
.nameNormal-2lqVQK,
.nameWrap-3Z4G_9,
.activityName-1IaRLn {
  color: var(--color-high);
}

.additionalActionsIcon-1FoUlE,
.discriminator-xUhQkU,
.username-3gJmXY,
.headerName-fajvi9,
.headerTag-2pZJzA,
.headerTagUsernameNoNickname-2_H881 {
  color: var(--color-low);
}

.headerFill-adLl4x,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.colorDefault-2K3EoJ.focused-3afm-j,
.activity-11LB_k {
  background: var(--color-low);
}

.root-SR8cQa,
.theme-dark .colorPickerCustom-2CWBn2,
.userPopout-3XzG_A {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 5px 5px 0 var(--color-mid);
  border-color: var(--color-low);
}

.searchResult-9tQ1uo:before,
.searchResult-9tQ1uo:after,
.channelName-1JRO3C,
.searchResultsWrap-3-pOjs,
.theme-dark .option-96V44q:after {
  background: transparent;
}

.searchHeader-2XoQg7,
.searchResultMessage-1fxgXh.hit-1fVM9e {
  box-shadow: none;
}

.searchBar-3dMhjb {
  border-radius: 0;
  background: var(--color-high-trans);
}

.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3 {
  color: var(--color-high);
  background-color: var(--color-low);
}
.theme-dark .elevationBorderHigh-2WYJ09,
.theme-dark .container-3ayLPN {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 4px 4px 0 var(--color-mid);
}
.theme-dark .queryContainer-RKFJW- {
  color: var(--color-low);
  border: none;
}
.theme-dark .queryContainer-RKFJW- strong {
  color: var(--color-low);
}
.theme-dark .queryContainer-RKFJW-.focused-2bY0OD {
  color: var(--color-high);
  background-color: var(--color-low);
}
.theme-dark .queryContainer-RKFJW-.focused-2bY0OD strong {
  color: var(--color-high);
}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,
.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO,
.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
  color: var(--color-low);
}
.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL {
  color: var(--color-high);
}
.theme-dark .resultsGroup-r_nuzN::before {
  border: none;
}
.theme-dark .option-96V44q {
  margin: 0;
}
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml, .theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU,
.theme-dark .option-96V44q .searchResultChannelCategory-1l0lSn,
.theme-dark .option-96V44q .searchResultChannelIcon-1DnTme,
.theme-dark .option-96V44q strong,
.theme-dark .option-96V44q .nonText-3CRkO0,
.theme-dark .option-96V44q .filter-3Y_im-,
.theme-dark .option-96V44q .answer-1n6g43 {
  color: var(--color-low);
}
.theme-dark .option-96V44q.selected-rZcOL- {
  background: var(--color-low);
  border-radius: 0;
}
.theme-dark .option-96V44q.selected-rZcOL-::after {
  background: transparent;
}
.theme-dark .option-96V44q.selected-rZcOL-.user-O3Czj0 .displayUsername-Qekxml, .theme-dark .option-96V44q.selected-rZcOL-.user-O3Czj0 .displayedNick-3xxvzU,
.theme-dark .option-96V44q.selected-rZcOL- strong,
.theme-dark .option-96V44q.selected-rZcOL- .nonText-3CRkO0,
.theme-dark .option-96V44q.selected-rZcOL- .filter-3Y_im-,
.theme-dark .option-96V44q.selected-rZcOL- .answer-1n6g43 {
  color: var(--color-high);
}
.theme-dark .option-96V44q.selected-rZcOL- .searchResultChannelCategory-1l0lSn,
.theme-dark .option-96V44q.selected-rZcOL- .searchResultChannelIcon-1DnTme {
  color: var(--color-high);
}

.searchResult-9tQ1uo.expanded-w_LCGl,
.searchResultMessage-1fxgXh.hit-1fVM9e {
  border: 1px solid var(--color-low);
  border-radius: 0;
}

.backdrop-1wrmKB,
.backdropWithLayer-3_uhz4 {
  opacity: 0.4 !important;
}

.theme-dark .footer-2gL1pp {
  background-color: transparent;
  box-shadow: none;
}

.theme-dark .root-1gCeng {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 3px 3px 0 var(--color-mid);
}

.art-347BZj {
  background-image: none;
}

.header-3C6qT5 {
  padding-top: 0;
}

.theme-dark.authBox-hW6HRx {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 6px 6px 0 var(--color-mid);
}
.theme-dark.authBox-hW6HRx,
.theme-dark.authBox-hW6HRx .colorHeaderPrimary-26Jzh-,
.theme-dark.authBox-hW6HRx .colorHeaderSecondary-3Sp3Ft,
.theme-dark.authBox-hW6HRx .h5-18_1nd {
  color: var(--color-low);
}
.theme-dark.authBox-hW6HRx .lookLink-9FtZy-.colorBrand-3pXr91 {
  color: var(--color-alert);
}
.theme-dark.authBox-hW6HRx .qrCodeContainer-3sXarj,
.theme-dark.authBox-hW6HRx .qrCodeOverlay-qgtlTP {
  border: 1px solid var(--color-low);
}

.layer-3QrUeG,
.contentRegion-3nDuYy,
.sidebarRegionScroller-3MXcoP,
.contentRegionScroller-26nc1e,
.standardSidebarView-3F1I7i {
  background-color: transparent;
}

.side-8zPYf6 .separator-gCa7yv {
  background-color: transparent;
}

.theme-dark .keybind-KpFkfr {
  color: var(--color-low);
}
.theme-dark .closeButton-1tv5uR {
  transition: background-color 0.2s;
  border-color: var(--color-low);
}
.theme-dark .closeButton-1tv5uR:hover {
  background-color: var(--color-alert-trans);
}
.theme-dark .closeButton-1tv5uR path {
  fill: var(--color-low);
}

.side-8zPYf6 .item-PXvHYJ {
  transition: color 0.2s;
  border-radius: 0;
  margin: 2px 0;
}
.side-8zPYf6 .item-PXvHYJ .themed-OHr7kt.selected-3s45Ha, .side-8zPYf6 .item-PXvHYJ:hover.themed-OHr7kt, .side-8zPYf6 .item-PXvHYJ {
  background-color: transparent !important;
  height: 32px;
}
.side-8zPYf6 .item-PXvHYJ:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  bottom: 2px;
  transition: width 0.4s;
  animation-name: pulsingBackground;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 0%;
}
.side-8zPYf6 .item-PXvHYJ.selected-3s45Ha, .side-8zPYf6 .item-PXvHYJ:hover {
  color: var(--color-high);
  box-shadow: 0 1px var(--color-low), 0 -1px var(--color-low);
}
.side-8zPYf6 .item-PXvHYJ.selected-3s45Ha:before, .side-8zPYf6 .item-PXvHYJ:hover:before {
  width: 100%;
}
.side-8zPYf6 .item-PXvHYJ[style="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.1);"], .side-8zPYf6 .item-PXvHYJ[style="color: rgb(240, 71, 71);"] {
  color: var(--color-alert) !important;
}

.background-1QDuV2 {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 6px 6px 0 var(--color-mid);
}

.userSettingsSecurity-3IYeMF .isEnabled-24g9qA,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--color-low);
}

.bd-button {
  border-radius: 0;
  border-color: transparent;
  background-color: var(--color-low);
  color: var(--color-high);
}
.bd-button:hover, .bd-button:active {
  background-color: var(--color-mid) !important;
  color: var(--color-high) !important;
}
.bd-button.bd-button-danger {
  background-color: var(--color-alert);
}

.bd-addon-views .bd-view-button.selected {
  background-color: var(--color-alert);
}

.bd-addon-list .bd-addon-card {
  background: var(--color-high);
  border-radius: 0;
  box-shadow: 4px 4px 0 var(--color-mid);
}

.bd-addon-header svg {
  fill: var(--color-low);
}

.socialLinks-3jqNFy svg path {
  fill: var(--color-low) !important;
}
.socialLinks-3jqNFy svg:hover path {
  fill: var(--color-alert) !important;
}

.container-1giJp5 {
  border-bottom: none;
  padding-bottom: 0;
}