/*================================ Main Wallpaper ================================*/
#app-mount 
{ 
    background:url('https://i.ibb.co/yQM8Jhd/Nie-R-Background-low.png') center/cover no-repeat !important;
    /* 
    https://i.ibb.co/qyq2Mvw/R4HPUxC.png border
    https://i.ibb.co/98f2jx9/R4HPUxC.png borderless
    https://i.ibb.co/7NzPSCg/Nie-R-UI-lens-effect.png with Lens
    */
}
.homeIcon-tEMBK1 /* HOME BUTTON BACKGROUND */
{    
    /* background: url("https://i.imgur.com/3xonYy0.png"); HIGH COLOR ICON */
    background: url(https://i.imgur.com/09fncQw.png) center/contain no-repeat !important;
    height: 57px;
} 