/**
 * @name NieR: Automata UI
 * @version 1.0
 * @description Glory to Mankind. || 
 * Thanks to JulioDRai for letting me use their cursors! ~https://www.deviantart.com/juliodrai || 
 * Thanks to GOmonkeymanGO for letting me use some of their code https://github.com/ChaseIngebritson/YoRHa-Discord-Theme || 
 * @website https://github.com/AccraZed/YoRHA-UI-BetterDiscord
 * @author Accrazed
 * @invite X4nBPCa
 * @patreon https://www.patreon.com/accrazed
 * @authorId 153562159161278473
 */
 @import url("https://anti-betterdocs.github.io/BlockBetterDocs/code.css"); /* gets rid of cucks who try to steal my theme and make money via ads */
 @import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/stylesheet.css");
 @import url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/NieR%20Automata%20UI.theme.css");
 ::placeholder, body, button, input, select, textarea 
 {
     font-family: "sce-ps3_rodin_latinregular";
 }
 :root /* GLOBAL VARIABLES */
 {
     --color-high: rgb(218, 212, 187);
     --color-low: rgb(87, 84, 74);
     --color-mid: rgb(151, 147, 129);
     --color-alert: rgb(205, 102, 77);
     --nier-font: sce-ps3_rodin_latinregular;
 }
 