:root {
    --color-high: rgb(218, 212, 187) !important;
    --color-low: rgb(87, 84, 74) !important;
    --color-mid: rgb(151, 147, 129) !important;
    --color-alert: rgb(205, 102, 77) !important;
    --color-high-trans: rgba(218, 212, 187, 0.8) !important;
    --color-low-trans: rgba(87, 84, 74, 0.6) !important;
    --color-alert-trans: rgba(205, 102, 77, 0.7) !important;
    --nier-font: sce-ps3_rodin_latinregular !important;

    --header-primary: var(--color-low) !important;
    --header-secondary: var(--color-low) !important;
    --text-normal: var(--color-low) !important;
    --text-muted:var(--color-low) !important;
    --text-link: var(--color-alert) !important;
    --channels-default:var(--color-low) !important;
    --interactive-normal: var(--color-low) !important;
    --interactive-hover:var(--color-low) !important;
    --interactive-active: var(--color-low) !important;
    --interactive-muted: #4f545c !important;
    --background-primary: #36393f !important;
    --background-secondary: #2f3136 !important;
    --background-secondary-alt: #292b2f !important;
    --background-tertiary: #202225 !important;
    --background-accent: #4f545c !important;
    --background-floating: #18191c !important;
    --background-mobile-primary: #36393f !important;
    --background-mobile-secondary: #2f3136 !important;
    
    --background-modifier-hover: rgba(79,84,92,0.16) !important;
    --background-modifier-active: rgba(79,84,92,0.24) !important;
    --background-modifier-selected: rgba(79,84,92,0.32) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --background-mentioned: rgba(250,166,26,0.05) !important;
    --background-mentioned-hover: rgba(250,166,26,0.08) !important;
    --background-message-hover: rgba(4,4,5,0.07) !important;
    --background-help-warning: rgba(250,166,26,0.1) !important;
    --background-help-info: rgba(0,176,244,0.1) !important;
    --scrollbar-thin-thumb: #202225 !important;
    --scrollbar-thin-track: transparent !important;
    --scrollbar-auto-thumb: #202225 !important;
    --scrollbar-auto-track: #2e3338 !important;
    --scrollbar-auto-scrollbar-color-thumb: #202225 !important;
    --scrollbar-auto-scrollbar-color-track: #2f3136 !important;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15) !important;
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16) !important;
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24) !important;
    --logo-primary: #fff !important;
    --focus-primary: #00b0f4 !important;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4) !important;
    --channeltextarea-background: #40444b !important;
    --activity-card-background: #202225 !important;
    --textbox-markdown-syntax: #8e9297 !important;
    --deprecated-card-bg: rgba(32,34,37,0.6) !important;
    --deprecated-card-editable-bg: rgba(32,34,37,0.3) !important;
    --deprecated-store-bg: #36393f !important;
    --deprecated-quickswitcher-input-background: #72767d !important;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3) !important;
    --deprecated-text-input-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border: rgba(0,0,0,0.3) !important;
    --deprecated-text-input-border-hover: #040405 !important;
    --deprecated-text-input-border-disabled: #202225 !important;
    --deprecated-text-input-prefix: #dcddde !important;
}