@use '../vars/vars' as *;

$guild-bar-width: 65px;

// Transparencies
// # discover backdrop
.footer__214dc,
// # main wrapper
.ef3116c2da186559-wrapper {
	background: transparent;
}

// ----------------- STRUCTURE -------------------------
// Shrink guild bar
.ef3116c2da186559-wrapper._5e434347c823b592-guilds {
	width: $guild-bar-width;
}

// Square guild icons
.cc5dd25190031396-wrapper>svg>mask {
	display: none;
}

// Selected / Unread Guild blip on left
// # wrapper
._581051df43c5ebb6-wrapper {
	width: inherit;
}

// # Blip base
._581051df43c5ebb6-item {
	width: 9px;
	transition: background-color 0.2s;
	border-radius: 0;
	margin-left: 0;
	height: 48px !important;

	// stop it from sliding in from the left
	transform: none !important;

	// Unread Guild blip
	&[style="opacity: 1; height: 8px; transform: translateX(0px) translateZ(0px);"] {
		background-color: $alert;
	}
}

// Servers with no icons (just letters)
._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper,
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper {
	background-color: transparent;
}

// home icon / server list separator
._650eb104245d257b-listItem:has(._252b6afd49fda06f-guildSeparator) {
	display: none;
}

// Folders (god this shit is so fucking confusing)
// # Folder Icon (custom colored)
.visual-refresh .b18fe29d6fe8dd82-hiddenVisually {
	&:hover {
		background: $mid;
	}

	@include boxify($high, $mid, 3px);
}

._48112cbe77dc5022-folderPreviewWrapper {
	border-radius: 0;

	.f34534e8a5d3ca64-iconInactive {
		border-radius: 0;
	}
}

.visual-refresh .cc5dd25190031396-svg {
	left: -3px;
}

// # Folder Backdrop
.visual-refresh ._48112cbe77dc5022-folderGroupBackground {
	@include boxify($high, $mid, 3px);

	border-radius: 0;
	left: 9px;
}

// # square out servers in closed folders
.visual-refresh .expandedFolderIconWrapper__48112 {
	margin: 0;
}

.visual-refresh .expandedFolderIconWrapper__48112,
.visual-refresh ._48112cbe77dc5022-folderPreview {

	&,
	* {
		border-radius: 0 !important;
	}
}

// -------------------------- MISC ---------------------------------------------
// little badge on top-right of server icons that show ongoing streaming/vc
._650eb104245d257b-iconBadge {
	&._650eb104245d257b-isCurrentUserConnected {
		background-color: $alert;
		color: $low;
	}

	&.participating-2Z81oO {
		background-color: $alert;
	}
}

// Unread mentions indicators
.ef3116c2da186559-unreadMentionsIndicatorBottom,
.ef3116c2da186559-unreadMentionsIndicatorTop {
	width: $guild-bar-width;
}