// Transparencies
.container_a6d69a,
.theme-dark .form_a7d72e:before {
	background: transparent;
}
// Type box
.channelTextArea_d0696b {
	width: 100%;
}
.channelTextArea_a7d72e {
	border-radius: 0;
	margin-left: 21px;
	box-shadow: -3px 0 0 $low, -9px 0 0 $high, -21px 0 0 $low, -18px 3px 0 $mid, 3px 3px 0 $mid;
}
.placeholder__443e5 {
	color: $mid;
}
.cooldownWrapper_d7ebeb {
	color: $low !important;
}
// Buttons
.attachButton_f298d4 {
	padding: {
		left: 10px;
		right: 10px;
	}
	&:hover .attachButtonPlus_f298d4 {
		transition: fill 0.1s ease-in-out;
		fill: $mid;
	}
}
