// Embed card
.embedFull_b0068a,
.messageContent_f9f2ca pre {
	@include boxify($high, $mid, 4px);

	& > code {
		border-radius: 0;
		margin-left: 13px;
		margin-bottom: 4px;
		box-shadow: -3px 0 0 $low, -9px 0 0 $high, -21px 0 0 $low, -18px 4px 0 $mid;
	}
}
// Server invite
.wrapper_a71a1c {
	@include boxify($high, $mid, 3px);

	.inviteDestination_a71a1c {
		color: $low;
	}
	.iconActiveLarge_a64689 {
		border-radius: 0;
	}
}
// File attachments
.wrapperAudio_f72aac.newMosaicStyle_f72aac,
.attachment_b52bef.newMosaicStyle_b52bef,
.messageAttachmentMediaMosaic__67262 {
	border-radius: 0;
}
.attachment_b52bef {
	margin-left: 13px;
	border-radius: 0;
	box-shadow: -3px 0 0 var(--color-low), -9px 0 0 var(--color-high), -21px 0 0 var(--color-low),
		-18px 3px 0 var(--color-mid), 3px 3px 0 var(--color-mid);

	.metadata_b52bef {
		color: $low;
	}
}
// Audio
.wrapperAudio_f72aac.newMosaicStyle_f72aac {
	@include boxify($high, $mid, 3px);

	.audioControls_f72aac,
	.videoControls_f72aac {
		background-color: $high;
		border-radius: 0;
		border: 1px solid $low;
	}

	.mediaBarWrapper_d12f5a,
	.mediaBarWrapper_d12f5a:after,
	.mediaBarWrapper_d12f5a:before {
		background-color: $mid;
	}
}
// Images and Videos
.visualMediaItemContainer_cda674:not(.embedImage_b0068a),
.inlineMediaEmbed_b0068a.embed_b0068a {
	@include boxify($high, $mid, 4px);
	width: fit-content;
	margin-bottom: -2px;
}
// Media in Threads (Sidebar)
.chatLayerWrapper_d1c246 {
	.visualMediaItemContainer_cda674:not(.embedImage_b0068a),
	.inlineMediaEmbed_b0068a.embed_b0068a {
		width: unset;
	}
}

.visualMediaItemContainer_cda674,
.oneByOneGrid_cda674,
.mosaicItem_e5c1dc,
.imageWrapper_d4597d,
.clickableWrapper_d4597d,
.embed_b0068a,
.embedMedia_b0068a,
.embedImage_b0068a,
.wrapper_f72aac,
.video_f72aac {
	border-radius: 0 !important;
}
.visualMediaItemContainer_cda674 {
	.wrapper_f72aac {
		.videoControls_f72aac {
			width: 99.9%;
			.controlIcon_f72aac,
			.controlIcon_ef18ee {
				color: $high-trans !important;
			}
		}
		.durationTimeWrapper_f72aac {
			color: $high-trans;
		}
	}
}

// Spotify Listen-Along
.theme-dark .invite_f61cb8 {
	@include boxify($high, $mid, 3px);
	border: none;

	.header_f61cb8,
	.partyStatus_f61cb8 {
		color: $low;
	}
	.textLink_f61cb8 {
		color: $alert;
	}
}

//Spotify Song Embed
.embedSpotify_b0068a {
	.encore-dark-theme {
		border-radius: 0rem !important;
	}
}

//Fix for width of pinned embeds
.messagesPopout_ac90a2,
.focusLock_f9a4c9 {
	.embedWrapper_b558d0,
	.imageWrapper_d4597d {
		width: auto !important;
	}
}
//Fix for Image stretch in threads
.imageWrapper_d4597d {
	width: auto !important;
}
