// Embed card
.embedFull__8dc21,
.messageContent__21e69 pre {
	@include boxify($high, $mid, 4px);

	& > code {
		border-radius: 0;
		margin-left: 13px;
		margin-bottom: 4px;
		box-shadow: -3px 0 0 $low, -9px 0 0 $high, -21px 0 0 $low, -18px 4px 0 $mid;
	}
}
// Server invite
.wrapper_efe67f {
	@include boxify($high, $mid, 3px);

	.inviteDestination_bd24e2 {
		color: $low;
	}
	.iconActiveLarge__8985a {
		border-radius: 0;
	}
}
// File attachments
.wrapperAudio__555ce.newMosaicStyle_fb18b9,
.attachment_f3cf2c.newMosaicStyle__235c9,
.messageAttachmentMediaMosaic__65bfc {
	border-radius: 0;
}
.attachment_f3cf2c {
	margin-left: 13px;
	border-radius: 0;
	box-shadow: -3px 0 0 var(--color-low), -9px 0 0 var(--color-high), -21px 0 0 var(--color-low),
		-18px 3px 0 var(--color-mid), 3px 3px 0 var(--color-mid);

	.metadata__541c7 {
		color: $low;
	}
}
// Audio
.wrapperAudio__555ce.newMosaicStyle_fb18b9 {
	@include boxify($high, $mid, 3px);

	.audioControls__9fbe9,
	.videoControls__96149 {
		background-color: $high;
		border-radius: 0;
		border: 1px solid $low;
	}

	.mediaBarWrapper_f312bd,
	.mediaBarWrapper_f312bd:after,
	.mediaBarWrapper_f312bd:before {
		background-color: $mid;
	}
}
// Images and Videos
.imageWrapper_fd6587:not(.embedImage_e638a7) {
	@include boxify($high, $mid, 4px);
}
.mediaAttachmentsContainer_edba75,
.oneByOneGridSingle__01756,
.wrapper__3a7a0,
.video__4c052 {
	border-radius: 0;
}
// Spotify Listen-Along
.theme-dark .invite__2a93b {
	@include boxify($high, $mid, 3px);
	border: none;

	.header__8b673,
	.partyStatus__6a567 {
		color: $low;
	}
	.textLink__47850 {
		color: $alert;
	}
}
