// Reacts
.reaction-2A2y9y {
    &.reactionMe-3I9gFK {
        border: 1px solid $low;
    }
    border-radius: 0;
    background-color: transparent;
    border: 1px solid $low;
    .reactionCount-1zkLcN {
        color: $low;
    }
    &:hover {
        @include boxify($mid, $mid, 2px);
        .reactionCount-1zkLcN {
            color: $high;
        }
    }
}
.reaction-2A2y9y.reactionMe-3I9gFK {
    @include boxify($low, $mid, 2px);
    .reactionCount-1zkLcN {
        color: $high;
    }
}
