// Reacts
.reaction_b90ab0 {
	border-radius: 0;
	background-color: transparent;
	border: 1px solid $low;

	&.reactionMe_bf6909 {
		border: 1px solid $low;
		@include boxify($low, $mid, 2px);
		.reactionCount__60448 {
			color: $high;
		}
	}

	.reactionCount__60448 {
		color: $low;
	}
	&:hover {
		@include boxify($mid, $mid, 2px);
		.reactionCount__60448 {
			color: $high;
		}
	}
}
