// Message in chat that someone's opened a thread
.typeThread_d8bfb3.wrapper_d8bfb3 {
	margin-left: 0;
}
.hasThread_f9f2ca {
	// Elbow
	&.cozy_f9f2ca:after {
		border-left: 2px solid $low;
		border-bottom: 2px solid $low;
		border-bottom-left-radius: 0;
	}
	// Thread box,
	.container_c15230 {
		@include boxify($high, $mid, 3px);
	}
}

// Thread Sidebar
.chat-3JZdy8:before {
	visibility: hidden;
}

.iconWrapper_ec583a {
	background-color: $low;
	.icon_ec583a {
		color: $high;
		path:first-child {
			visibility: hidden;
		}
	}
}

.iconContainer_d76df7 .icon_da3997 path:first-child {
	visibility: hidden;
}

*[aria-label='Threads'],
*[aria-label='Thread'] {
	.icon_fc4f04 path:first-child {
		visibility: hidden;
	}
}

.threadIcon_e664f3 path:first-child {
	visibility: hidden;
}

.threadSidebar-1o3BTy {
	@include boxify($high, $mid, 3px);
}

.container_e1e976 .containerDefault_f6f816 {
	left: 40px;
}

.spine_e1e976 {
	color: $low;
}

// Thread popout
.browser_f542fc {
	@include boxify($high, $mid, 3px);
}

//Mention badge and unread coloring for threads (wtf discord, why is this so hard)
.typeThread_d8bfb3 {
	.name_d8bfb3 {
		position: absolute;
		left: 1px;
		max-width: 175px;
		text-align: left;
		&.overflow_a82120 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.mentionsBadge_e2a798 {
		position: absolute;
		padding-left: 121px;
		z-index: 1;
	}
}