@use '../vars/vars.scss' as *;

// transparencies
.visual-refresh .chatContent_f75fb0,
.visual-refresh .chat_f75fb0,
.chat_f75fb0,
// main chat+members sidebar wrapper
.chatContent_f75fb0,
// weird gradient on bottom
.chatGradient__36d07,
.chatTypingGradientAtBottom__36d07,
// just the chat container
// #header bar
.theme-dark .themed__9293f {
	background: transparent;
}

// # date
.content__908e2 {
	@include boxify($high, $mid, 3px);
}

// loading chat
.wrapper_fc8177,
.wrapper_cdf8a9,
.visual-refresh .wrapper_fc8177,
.visual-refresh .wrapper_cdf8a9 {
	background: transparent;
}