@use '../vars/vars.scss' as *;

// transparencies
.visual-refresh .f75fb00fb7356cbe-chatContent,
.visual-refresh .f75fb00fb7356cbe-chat,
.f75fb00fb7356cbe-chat,
// main chat+members sidebar wrapper
.f75fb00fb7356cbe-chatContent,
// weird gradient on bottom
._36d072eab2b2e737-chatGradient,
._36d072eab2b2e737-chatTypingGradientAtBottom,
// just the chat container
// #header bar
.theme-dark ._9293f6b2fc12398a-themed {
	background: transparent;
}

// TODO: this can probably be made much cuter / novel
// daily date markers
// # dividers
._908e20001ad67812-divider {}

// # date
._908e20001ad67812-content {
	color: $low;
	@include boxify($high, $mid, 3px);
}

// loading chat
.fc817765600a960a-wrapper,
.cdf8a9a2bbd98bd3-wrapper,
.visual-refresh .fc817765600a960a-wrapper,
.visual-refresh .cdf8a9a2bbd98bd3-wrapper {
	background: transparent;
}