@use '../vars/vars.scss' as *;

// transparencies
// # reply header
.visual-refresh .stackedBars__74017,
// # attachement background
.visual-refresh .channelAttachmentArea_b77158 {
	background-color: transparent;
}

.visual-refresh .channelTextArea_f75fb0 {
	background: $high;
}

// little random chat ciontainer
.themedBackground__74017 {
	background: transparent;
}

.visual-refresh .stackedBars__74017:not(:last-child) {
	border: none;
}

.clipContainer__841c8 {
	padding: 0;
}

.visual-refresh .actions__841c8 {
	margin: 0;
}

// Type box
.channelTextArea_f75fb0 {
	border-radius: 0;
	margin-left: 21px;
	box-shadow: -3px 0 0 $low, -9px 0 0 $high, -21px 0 0 $low, -18px 3px 0 $mid, 3px 3px 0 $mid;
}

.cooldownWrapper_b21699 {
	color: $low !important;
}

// Buttons
.attachButton__0923f {
	padding: {
		left: 10px;
		right: 10px;
	}

	&:hover .attachButtonPlus__0923f {
		transition: fill 0.1s ease-in-out;
		fill: $mid;
	}
}

//# app button
.button_e6e74f {
	@include boxify($high, $mid, 3px);
}