@use '../vars/vars.scss' as *;

// images


// code blocks
.newMosaicStyle__4d95d .footer__4d95d,
.newMosaicStyle__4d95d .textContainer__4d95d,
.textContainer__4d95d pre,
.visual-refresh .hljs {
	border-radius: 0;
}
.visual-refresh .textContainer__4d95d {
	background-color: rgba(87, 84, 74, 0.3);
}

// rich presence
.embed__623de {
    border-radius: 0;
}
.visual-refresh .embedFull__623de {
    @include boxify($high, $mid, 3px);
}
