@use '../vars/vars.scss' as *;

// images


// code blocks
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-footer,
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-textContainer,
._4d95d73152192cf9-textContainer pre,
.visual-refresh .hljs {
	border-radius: 0;
}

.visual-refresh .hljs {
	color: rgb(218, 212, 187);
}

._6c706db0523bd9a7-mosaicItemContent .hljs {
	background-color: rgb(87, 84, 74)
}

// rich presence
._623de82e76ad7f82-embed {
	border-radius: 0;
}

.visual-refresh ._623de82e76ad7f82-embedFull {
	@include boxify($high, $mid, 3px);
}