@use '../vars/vars' as *;

//Transparencies
//main container that holds all threads in the forum
.visual-refresh .f369dba7416c67f0-container,
//container for thread in the main forum window
.visual-refresh .f369dba7416c67f0-mainCard {
	background: transparent;
}

//weird colored line that showed up at the end of the title bar for forums
.theme-dark ._9293f6b2fc12398a-children:after {
	display: none;
}

/* forum post */
.visual-refresh ._9a337c84ff86a914-container {
	background: $high;
}

/* Friends header */
._4bd5201c86a2042b-defaultColor {
	color: $low;
}

// ========== main container that holds all threads in the forum ============= 
.f369dba7416c67f0-container {

	// "Sort & View" container
	.f369dba7416c67f0-sortDropdown._201d5e8a3c09670a-button._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-sizeMin._201d5e8a3c09670a-grow {
		background: $low;

		&:hover {
			background: $low-trans;
		}
	}

	// "Sort & View" text and icons
	.f369dba7416c67f0-sortDropdownInner * {
		color: $high !important;
	}

	// tags list at top of forum
	.a2c9e80f6531ccc2-pill,
	//All button for tag overflow at the top
	.f369dba7416c67f0-tagsButton {
		border-radius: 0px;
		background: transparent;
		color: $low;

		&.a2c9e80f6531ccc2-clickable:not(.a2c9e80f6531ccc2-disabled):hover {
			background-color: $mid;
		}
	}

	// contents of "all" button at top
	._201d5e8a3c09670a-contents.f369dba7416c67f0-tagsButtonInner {
		color: $low;
	}
}

// ============ forum posts that lay inside the container =====================
.visual-refresh .f369dba7416c67f0-mainCard {
	border: none;

	&:hover {
		@include boxify($high-mid, $mid, 3px);
	}

	&.faa96b2163f6a142-isOpen {
		@include boxify($low, $mid, 3px);

		.faa96b2163f6a142-messageContent,
		.faa96b2163f6a142-messageCountIcon,
		.a2c9e80f6531ccc2-pill {
			color: $high;
		}

		.faa96b2163f6a142-footer div,
		._5345c24c6249bc5b-defaultColor {
			color: $high !important;
		}
	}
}

// % "Get Started" panel for moderators
.visual-refresh .a685436e98c0d8fa-container {
	@include boxify($high, $mid, 3px);
	border: none;
}

// %% steps themselves for the panel
.a685436e98c0d8fa-stepContainer {
	background-color: $high-mid;

	.a685436e98c0d8fa-stepName,
	.a685436e98c0d8fa-stepDescription {
		opacity: 1;
	}

	&:hover {
		background-color: $low;

		.a685436e98c0d8fa-stepName,
		.a685436e98c0d8fa-stepDescription {
			color: $high !important;
		}

	}
}

.a685436e98c0d8fa-stepStatus.a685436e98c0d8fa-completed {
	color: $mid;
}

// press "all" button, "Select tags"

.visual-refresh ._5808f3d86030cee1-container {
	@include boxify($high, $mid, 3px);
	border: none;
}

// # said tags
.a2c9e80f6531ccc2-pill {
	border-radius: 0;
}

.theme-dark .a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-selected {
	border-color: $low;
}

.visual-refresh .a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-selected:not(.a2c9e80f6531ccc2-disabled):hover {
	background-color: $mid ;
}

//container for thread in the main forum window
.f369dba7416c67f0-mainCard {
	border: 1px solid $low;

	._9a337c84ff86a914-tagPill {
		//pills for tags in forums
		border-radius: 0px;
	}
}

// ================ the forum post that opens on the side ====================
.visual-refresh ._01ae244280823725-container,
.visual-refresh ._01ae244280823725-resizeHandle {
	background: transparent;
	border: none;
}

.ee23ac2acd215184-divider {
	background: transparent;
}

// footer to main post (follow, link, reacts, etc)
.visual-refresh ._34c2c51cfce1632e-container,
.visual-refresh ._34c2c51cfce1632e-header {
	margin: 0px 3px;
	@include boxify($high, $mid, 3px);
}

._34c2c51cfce1632e-container {
	border: none;
}