@use '../vars/vars' as *;

// Transparencies
// # main container
.c8ffbb79449f399c-container,
// # wrapper holding the list itself
.c8ffbb79449f399c-members,
// # individual member
.c8ffbb79449f399c-member,
._91a9d7f7e5248a56-clickable:hover ._91a9d7f7e5248a56-childContainer {
	background: transparent;
}

// slight border lines
.visual-refresh .c8ffbb79449f399c-container,
// # threads
.visual-refresh ._7641b507c6cdbb10-container {
	border: none;
}

// member hover/select animations
.c8ffbb79449f399c-member {
	margin: 4px 0;

	// -------------------- STRUCTURE ---------------------------------------
	// container that holds user pfp/name/etc
	._5d473ecff348c314-memberInner {
		padding-left: 5px;
	}

	// -------------------- ICONS / TEXT ---------------------------------------
	// member name
	._5d473ecff348c314-username {
		transition: color 0.2s;
	}

	// ------------------- TEXT+VOICE CHANNELS ---------------------------------

	// LinkTop is the main body
	._91a9d7f7e5248a56-childContainer {
		display: flex;
		align-items: center;

		height: 40px;
		padding: 0px;
		background-color: transparent;
	}

	// the main grower
	._91a9d7f7e5248a56-childContainer::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%; // 44px
		animation: pulsingBackground 2.5s infinite;

		box-shadow: 0 0 3px $low;

		transition: transform 0.4s;
		transform: scaleX(0);
		transform-origin: right;
	}

	// grower border
	._91a9d7f7e5248a56-childContainer::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 48px;
		pointer-events: none;

		box-shadow: 0 1px $low, 0 -1px $low;

		transition: transform 0.4s;
		transform: scale(0, 85%);
		transform-origin: right;
	}

	&._91a9d7f7e5248a56-selected,
	// When hovering and selecting
	&:hover {

		// grow border and body
		._91a9d7f7e5248a56-childContainer::before,
		._91a9d7f7e5248a56-childContainer::after {
			transform: scale(100%, 100%);
		}

		// invert name and icons
		.b0dfc2ed9c57037d-overflow,
		._5d473ecff348c314-username {
			color: $high;
		}
	}

	// When selected
	&._91a9d7f7e5248a56-selected {

		// the main grower changes to lighter color
		._91a9d7f7e5248a56-childContainer::before {
			transform: scale(100%, 100%);
			transition: transform 0.4s, opacity 0.4s;
			animation: none;
			background-color: $low;
			opacity: 0.65;
		}

		// grower border shrinks to right
		._91a9d7f7e5248a56-childContainer::after {
			transition: transform 0.75s;
			transform: scale(0%, 100%);
			transform-origin: left;
		}
	}
}

// member group labels
.visual-refresh .c8ffbb79449f399c-membersGroup {
	padding-left: 0;
}

//<--->//
//User Profile Sidebar in DMs
.user-profile-sidebar :where(._75742e4cc9019aeb-avatar) {
	left: 0px;
	top: 0px;
}

.user-profile-sidebar .ab86098b36386ff7-container {
	top: calc(var(--custom-user-profile-banner-height) - -160px);
	left: 8px;
}

.ab86098b36386ff7-container {
	.ab86098b36386ff7-outer {
		max-width: 324px;
	}
}
