@use '../vars/vars' as *;

// TODO: I PULLED THIS STRAIGHT FROM SRC2: trim fat

// Transparencies
.chatContent_f75fb0,
.theme-dark .form_f75fb0:before,
.container_c8ffbb,
.chat_f75fb0 {
	background: transparent;
}
.mentioned__5126c:before {
	width: 0;
}
.divider__908e2 {
	border-color: $alert;
}
// Scrollbar
.auto-2K3UW5::-webkit-scrollbar,
.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track {
	border-radius: 0;
	width: 6px;
}
// Username label
.a11y-font-scaled-down .cozy_c19a55.wrapper_c19a55 .header_c19a55,
.cozyMessage__5126c .header_c19a55 {
	border-radius: 0;
	display: inline-block !important;
	padding: 4px 5px 4px 6px;
	background: var(--color-high);
	margin-left: 13px;
	box-shadow: 2px 2px 0 $mid, -3px 0 0 $low, -9px 0 0 $high, -21px 0 0 $low, -18px 2px 0 $mid;
}

// Profile Picture
.full-motion .avatar_c19a55.clickable_c19a55 {
	@include boxify($high, $mid, 3px);

	&:hover {
		filter: none;
		@include boxify($high, $alert, 3px);
	}
}
// Date stamp
.isUnread__908e2 .content__908e2,
.unreadPill__908e2,
.content__908e2 {
	border-radius: 0;
	background-color: $alert;
	color: $high;
}
.unreadPillCapStroke__908e2 {
	color: $alert;
	fill: $alert;
}
// Quotes
.blockquoteContainer__75297 .blockquoteDivider__75297 {
	border-radius: 0;
	background-color: $low;
}
.emptyChannelIcon__00de6 {
	background-image: url('https://svgur.com/i/RGT.svg');
	@include remask('https://svgur.com/i/RGT.svg', $mid);
	margin: auto;
	width: 403px !important;
	height: 353px !important;
}
// Mentions
.theme-dark {
	.mentioned__5126c {
		.anchor_edefb8 {
			text-shadow: 1px 1px 2px $low, 0 0 25px $high, 0 0 5px $alert;
		}
	}
	.wrapper_f61d60.interactive {
		// mention text
		background: $alert-trans;
		border-radius: 0px;
		&:hover {
			color: $alert;
			background: $high;
			text-decoration: none;
		}
	}
}
// .mentioned__5126c .messageContent_c19a55 a,
// .wrapper_f61d60,
// .roleMention__75297,
// .mention {
// 	color: rgb(218, 212, 187);
// }
// Replies
.mouse-mode.full-motion .replying__5126c {
	&,
	&:hover {
		background-color: $alert-trans;
	}
	&:before {
		background-color: $alert;
	}
}
.backgroundFlash__5126c {
	transition: background-color 0.1s;
	background-color: $alert-trans !important;
}
[style='background-color: rgba(114, 137, 218, 0);'] {
	background-color: transparent !important;
	transition: background-color 0.5s;
}
.colorBrand_c9946a {
	color: $alert;
}
.repliedMessage_c19a55:before {
	border-left: var(--spine-width) solid $low;
	border-bottom: 0 solid $low;
	border-right: 0 solid $low;
	border-top: var(--spine-width) solid $low;
	border-radius: 0;
}
.replyBadge_c19a55 {
	border-radius: 0;
	border: 1px solid $low;
}
// Spoiler tagged
.spoilerText-2G40u0 {
	border-radius: 0;
}
.spoilerMarkdownContent__54ab5.hidden__54ab5,
.theme-dark .spoilerText-2G40u0.hidden__54ab5 {
	background-color: $low;
}
// You're viewing older messages /// X+ new messages since
.newMessagesBar__0f481,
.jumpToPresentBar__0f481 {
	box-shadow: none;
	background-color: $alert;
	border-radius: 0;
	button {
		color: $high;
	}
}
// Edit Message
.scrollableContainer__74017 {
	@include boxify($high, $mid, 3px);
}
.theme-dark .operations_bab751 {
	color: $low;
	& > a {
		color: $alert;
	}
}
.codeBlockSyntax_ada32f,
.syntaxAfter_ada32f,
.syntaxBefore_ada32f {
	color: $alert;
}
// Timestamps
.compact_c19a55 .headerText_c19a55 {
	border-right: 2px dashed $alert;
}
.compact_c19a55 .timestamp_c19a55,
.cozy_c19a55 .timestamp_c19a55.alt_c19a55 {
	margin-right: 0;
	width: auto;
}
//Launcher button next to message field
.button_e6e74f {
	border-radius: 0px;
}