@use '../vars/vars' as *;

// TODO: I PULLED THIS STRAIGHT FROM SRC2: trim fat

// Transparencies
.f75fb00fb7356cbe-chatContent,
.theme-dark .f75fb00fb7356cbe-form:before,
.c8ffbb79449f399c-container,
.f75fb00fb7356cbe-chat {
	background: transparent;
}

// header thin border
.visual-refresh .f75fb00fb7356cbe-chat[data-has-border='true'] {
	border: none;
}

._5126c0cd07f243a0-mentioned:before {
	width: 0;
}

._908e20001ad67812-divider {
	border-color: $alert;
}

// Scrollbar
.auto-2K3UW5::-webkit-scrollbar,
.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track {
	border-radius: 0;
	width: 6px;
}

// Username label
.a11y-font-scaled-down .c19a557985eb7793-cozy.c19a557985eb7793-wrapper .c19a557985eb7793-header,
._5126c0cd07f243a0-cozyMessage .c19a557985eb7793-header {
	border-radius: 0;
	display: inline-block !important;
	padding: 4px 5px 4px 6px;
	background: var(--color-high);
	margin-left: 13px;
	box-shadow: 2px 2px 0 $mid, -3px 0 0 $low, -9px 0 0 $high, -21px 0 0 $low, -18px 2px 0 $mid;
}

// Profile Picture
.full-motion .c19a557985eb7793-avatar.c19a557985eb7793-clickable {
	@include boxify($high, $mid, 3px);

	&:hover {
		filter: none;
		@include boxify($high, $alert, 3px);
	}
}

// Date stamp
.visual-refresh ._908e20001ad67812-content {
	background-color: $low;
}

._908e20001ad67812-isUnread ._908e20001ad67812-content,
._908e20001ad67812-unreadPill,
._908e20001ad67812-content {
	border-radius: 0;
	background-color: $alert;
	color: $high;
}

._908e20001ad67812-unreadPillCapStroke {
	color: $alert;
	fill: $alert;
}

// Quotes
._752971923a1e6683-blockquoteContainer ._752971923a1e6683-blockquoteDivider {
	border-radius: 0;
	background-color: $low;
}

// Mentions
.theme-dark {
	._5126c0cd07f243a0-mentioned {
		.edefb8e22d63c542-anchor {
			text-shadow: 1px 1px 2px $low, 0 0 25px $high, 0 0 5px $alert;
		}
	}

	._4106ae7c1472c1de-wrapper.interactive {
		// mention text
		background: $alert-trans;
		border-radius: 0px;

		&:hover {
			color: $alert;
			background: $high;
			text-decoration: none;
		}
	}
}

// Replies
.mouse-mode.full-motion ._5126c0cd07f243a0-replying {

	&,
	&:hover {
		background-color: $alert-trans;
	}

	&:before {
		background-color: $alert;
	}
}

._5126c0cd07f243a0-backgroundFlash {
	transition: background-color 0.1s;
	background-color: $alert-trans !important;
}

[style='background-color: rgba(114, 137, 218, 0);'] {
	background-color: transparent !important;
	transition: background-color 0.5s;
}

.colorBrand_c9946a {
	color: $alert;
}

.c19a557985eb7793-repliedMessage:before {
	border-left: var(--spine-width) solid $low;
	border-bottom: 0 solid $low;
	border-right: 0 solid $low;
	border-top: var(--spine-width) solid $low;
	border-radius: 0;
}

.c19a557985eb7793-replyBadge {
	border-radius: 0;
	border: 1px solid $low;
}

// Spoiler tagged
.spoilerText-2G40u0 {
	border-radius: 0;
}

._299eb87491f4b6d1-spoilerMarkdownContent._299eb87491f4b6d1-hidden,
.theme-dark .spoilerText-2G40u0._299eb87491f4b6d1-hidden {
	background-color: $low;
}

// You're viewing older messages /// X+ new messages since
._0f481cbbd7530492-newMessagesBar,
._0f481cbbd7530492-jumpToPresentBar {
	box-shadow: none;
	background-color: $alert;
	border-radius: 0;

	button {
		color: $high;
	}
}

// Edit Message
._740174f3d6a2c8fe-scrollableContainer {
	@include boxify($high, $mid, 3px);
}

.theme-dark .bab7519355c8eed6-operations {
	color: $low;

	&>a {
		color: $alert;
	}
}

.ada32f6ad5a36c58-codeBlockSyntax,
.ada32f6ad5a36c58-syntaxAfter,
.ada32f6ad5a36c58-syntaxBefore {
	color: $alert;
}

// Timestamps
.c19a557985eb7793-compact .c19a557985eb7793-headerText {
	border-right: 2px dashed $alert;
}

.c19a557985eb7793-compact .c19a557985eb7793-timestamp,
.c19a557985eb7793-cozy .c19a557985eb7793-timestamp.c19a557985eb7793-alt {
	margin-right: 0;
	width: auto;
}

//Launcher button next to message field
.e6e74fd4d1221f53-button {
	border-radius: 0px;
}

// Reacts
.visual-refresh ._23977d5b7cef7361-reaction {
	border-radius: 0;
	background-color: transparent;
	border: 1px solid $low;

	._23977d5b7cef7361-reactionCount {
		color: $low;
	}

	&:hover {
		border: 1px solid $low;

		@include boxify($mid, $mid, 2px);

		._23977d5b7cef7361-reactionCount {
			color: $high;
		}
	}

	&._23977d5b7cef7361-reactionMe {
		border: 1px solid $low;
		@include boxify($low, $mid, 2px);

		._23977d5b7cef7361-reactionCount {
			color: $high;
		}
	}
}

// # add react
._23977d5b7cef7361-reactionBtn._23977d5b7cef7361-forceShow {
	border-radius: 0;
}

/* hover over attachment button */

._06ab41fd2ef7af3f-hoverButtonGroup {
	border-radius: 0px;
	box-shadow: 2px 2px 0 $mid;
}

._06ab41fd2ef7af3f-nonMediaMosaicItem {
	outline: 0px;
}

/* uploaded media corners (not embeds) */

.f4758a8d6346d18b-visualMediaItemContainer {
	border-radius: 0px;
}

._6c706db0523bd9a7-mosaicItemMediaMosaic {
	border-radius: 0px;
}

.af017ab847f75d02-imageWrapper {
	border-radius: 0px;
}

.f4758a8d6346d18b-oneByOneGridSingle {
	border-radius: 0px;
}