// private_channel_bar.scss covers the left-hand sidebar animation when in home > DMing people or on home or whatever

@use '../vars/vars.scss' as *;

.visual-refresh .e6b7699ce8339e1c-privateChannels,
.visual-refresh ._99e7cad8d4c55236-scroller {
	background: transparent;
}

// right padding on user bar
._972a0d22c8afa7f0-iconsContainer,
// Chonky Friends/Library/Nitro/Shop buttons
:where(.visual-refresh) ._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) ._972a0d22c8afa7f0-link {
	padding: 0;
}

:where(.visual-refresh) ._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) svg {
	padding-left: 10px;
}

._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) {
	height: 40px;
}

.bf202d63ad53e289-interactive:focus-within,
.bf202d63ad53e289-interactive:hover {
	background: transparent;
}

._972a0d22c8afa7f0-interactive:active,
._972a0d22c8afa7f0-interactiveSelected {
	background: transparent;
}

// weird hidden divs that add stupid padding shit
// JUST KIDDING, DON"T FUCK WITH THIS, THIS BREAKS SCROLLING DOWN IF YOU DISABLE IT LOL
.d125d22cdfd32cfe-content[aria-label="Direct Messages"]>div:first-child {}

.a244c3c87d2b1e13-container {
	border-radius: 0
}

.a244c3c87d2b1e13-container {
	border-radius: 0;
	padding: 0;
	margin-left: 36px;

	// Entire channels list container
	// selector backdrop
	&::before {
		content: '';
		position: absolute;
		left: -16px;
		width: 2px;
		height: 100%;
		bottom: 0px;
		border-radius: 0;
		padding: 4px 2.5px 4px 2.5px;
		margin-left: -1px;
		box-shadow: -3px 0 0 $mid, -15px 0 0 transparent, -14px 0 0 $mid, -18px 2px 0 transparent;
	}
}

.bf202d63ad53e289-interactive {
	padding: 0;

	// -------------------- ICONS / TEXT ------------------------------
	// channel name
	.b0dfc2ed9c57037d-overflow,
	._20a53846fe2e8513-name,
	._20a53846fe2e8513-subText {
		transition: color 0.2s;
	}

	// Profile picture
	._44b0c28be7879b7b-wrapper foreignObject {
		mask: none;
	}

	// Close icon
	._972a0d22c8afa7f0-closeButton {
		position: absolute;
		z-index: 3;
		right: 0;
		color: $alert;
	}

	._972a0d22c8afa7f0-linkButtonIcon,
	._20a53846fe2e8513-content,
	._972a0d22c8afa7f0-subtext {
		position: relative;
	}

	// ------------------------ STRUCTURE ----------------------------

	// VERY IMPORTANT. Padding must be zero or we get subpixel errors
	._972a0d22c8afa7f0-link {
		margin: 4px 0px;
		padding: 0;
	}

	._972a0d22c8afa7f0-channel,
	.bf202d63ad53e289-interactive,
	._20a53846fe2e8513-layout {
		height: 36px;
	}

	// ------------------- TEXT+VOICE CHANNELS ----------------------------

	// Base block + border. hold the text
	// LinkTop is the main body
	._972a0d22c8afa7f0-link {
		height: 36px;
		padding: 0px 0px;
		background-color: $high-mid;
	}

	// the main grower
	._972a0d22c8afa7f0-link::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 36px;
		animation: pulsingBackground 2.5s infinite;
		z-index: 0;

		box-shadow: 0 0 3px $low;

		transition: transform 0.4s;
		transform: scaleX(0);
		transform-origin: left;
	}

	// grower border
	._972a0d22c8afa7f0-link::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 44px;
		pointer-events: none;

		box-shadow: 0 1px $low, 0 -1px $low;

		transition: transform 0.4s;
		transform: scale(0, 85%);
		transform-origin: left;
	}

	&.bf202d63ad53e289-selected,
	// When hovering and selecting
	&:hover {

		// grow border and body
		._972a0d22c8afa7f0-link::before,
		._972a0d22c8afa7f0-link::after {
			transform: scale(100%, 100%);
		}

		// invert name and icons
		.b0dfc2ed9c57037d-overflow,
		._972a0d22c8afa7f0-linkButtonIcon,
		._20a53846fe2e8513-name,
		._20a53846fe2e8513-subText {
			color: $high;
		}
	}

	// When selected
	&.bf202d63ad53e289-selected {
		._972a0d22c8afa7f0-link::before {
			transform: scale(100%, 100%);
			animation: none;
			background-color: $low;
			opacity: 0.65;
			height: 36px;
		}

		// TODO: this doesn't work. for whatever reason, the borders don't retreat to the right, tehy just disappear 
		._972a0d22c8afa7f0-link::after {
			transition: transform 0.75s;
			transform: scale(0%, 100%);
			transform-origin: right;
		}
	}

	// SELECTOR CHANNEL ---------------------------------------------
	&::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		animation-fill-mode: forwards;
		width: 24px;
		/* Adjust width as needed */
		height: 22px;
		/* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		background-size: cover;
		background-repeat: no-repeat;

		transition: opacity 0.175s ease-in-out;
		opacity: 0;
	}

	&:not(.bf202d63ad53e289-selected):hover::before {
		opacity: 1;
	}

	&.bf202d63ad53e289-selected::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform-origin: top;
		transform: translateY(-50%);
		width: 24px;
		/* Adjust width as needed */
		height: 22px;
		/* Adjust height as needed */
		background-image: $selector-img-invert; // overridded in light/dark/night files
		opacity: 1;

		background-size: cover;
		background-repeat: no-repeat;
	}

	&.bf202d63ad53e289-selected::after {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		/* Adjust width as needed */
		height: 22px;
		/* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		animation: fade-out 0.25s;
		animation-fill-mode: forwards;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

// Undread channels
._972a0d22c8afa7f0-unreadPill {
	top: 8px;
	left: -6px;
	height: 36px;

	background-color: $alert;
	border-radius: 0;
}