@use '../vars/vars' as *;

// Transparencies
// # main containers
._5e434347c823b592-sidebar,
.theme-dark ._2637a2609f343032-container,
// # unread message blip
._2ea32c412048f708-unread,
// # user profile

._5e434347c823b592-panels,
.theme-dark .content__37e49 {
	background: transparent;
}


// ummm... this changes a bunch of places to squares... which is pretty convenient...
._44b0c28be7879b7b-wrapper {
	border-radius: 0;

	foreignObject {
		mask: none;
	}
}

// # weird scrollbar in bottom left corner under profile
.visual-refresh ._5e434347c823b592-sidebar:after {
	display: none;
}

.f37cb1984c371ee5-header {
	box-shadow: none;
}

// Unread messages notification
._7aaec78b97ff00f7-bar,
// ... the other Unread messages notification (shows up when scrolled down and there's an unread channel above)
._3b95d7d910416e54-bar {
	._7aaec78b97ff00f7-barText {
		color: $high !important;
	}

	@include boxify($alert, $mid, 3px);
}

// sidebar slight lines
.visual-refresh .f37cb1984c371ee5-header,
.visual-refresh ._5e434347c823b592-sidebarList {
	border: none;
}

// User info
button._67645e1530f1195d-button {
	@include buttonify(transparent, $low, $low, $high);

	._5eb9b3cc7c2b1ce8-lottieIcon {
		--__lottieIconColor: currentColor !important;
	}
}

// used to scale up lock / warning icons etc
@mixin scaleChanIconAndColor($aria-label, $color-icon) {
	._2ea32c412048f708-iconContainer[aria-label='#{$aria-label}'] ._2ea32c412048f708-icon {
		color: transparent;

		path {
			fill: none;

			&:first-child {
				fill: $color-icon;
				transform: translate(-26px, 1px) scale(200%);
			}
		}
	}
}

// fix the stupid hover/nonhover squishing
:where(.visual-refresh) ._2ea32c412048f708-iconContainer {
	width: inherit;
}

// Channel hover/select animations
._2ea32c412048f708-wrapper {
	padding: 0;
	margin-left: 15px;

	// -------------------- ICONS / TEXT ---------------------------------------
	// Channel name
	._2ea32c412048f708-name {
		transition: color 0.2s;
	}

	// Square icon
	._2ea32c412048f708-iconContainer {
		display: flex;
		align-items: center;
		justify-content: center;

		._2ea32c412048f708-icon {
			transition: color 0.2s, background-color 0.2s;
			height: 12px;
			width: 12px;
			z-index: 1;
			background-color: $low;
			color: $high;
		}

		// Text channels have no hashtag
		&[aria-label='#{$aria-label-text-active-threads}'] ._2ea32c412048f708-icon,
		&[aria-label='Text icon'] ._2ea32c412048f708-icon {
			color: $low;
		}
	}

	// Private text channels only show lock
	@include scaleChanIconAndColor($aria-label-text-limited, $high);
	// nsfw channels show only warning
	@include scaleChanIconAndColor($aria-label-text-age-restricted, $high);

	// Voice icon and lock icons should show
	&._2ea32c412048f708-modeLocked,
	&.typeVoice__2ea32 {
		._2ea32c412048f708-icon {
			color: $high;
		}
	}

	// Channel icons on side
	.c69b6db0641110f6-actionIcon {
		color: $high;
	}

	// ------------------------ STRUCTURE --------------------------------------

	// VERY IMPORTANT. Padding must be zero or we get subpixel errors
	._2ea32c412048f708-link {
		margin: 9px 0px;
		padding: 0;
	}

	// Not sure?
	._658442d9ffa4221c-content {
		height: 28px;
		margin-left: 0;
		border-radius: 0;
		justify-content: center;
		padding: 0px 8px;
	}

	// ------------------- TEXT+VOICE CHANNELS ---------------------------------

	// LinkTop is the main body
	._2ea32c412048f708-linkTop {
		height: 24px;
		padding: 0px 6px;
		background-color: $high-mid;
	}

	// the main grower
	._2ea32c412048f708-linkTop::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%; // 28px
		animation: pulsingBackground 2.5s infinite;

		box-shadow: 0 0 3px $low;

		transition: transform 0.4s;
		transform: scaleX(0);
		transform-origin: left;
	}

	// grower border
	._2ea32c412048f708-linkTop::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 32px;
		pointer-events: none;

		box-shadow: 0 1px $low, 0 -1px $low;

		transition: transform 0.4s;
		transform: scale(0, 85%);
		transform-origin: left;
	}

	&._2ea32c412048f708-modeConnected,
	&._2ea32c412048f708-modeSelected,
	// When hovering and selecting
	&:hover {

		// grow border and body
		._2ea32c412048f708-linkBottom::before,
		._2ea32c412048f708-linkTop::before,
		._2ea32c412048f708-linkTop::after {
			transform: scale(100%, 100%);
		}

		// invert name and icons
		._2ea32c412048f708-name {
			color: $high;
		}

		._2ea32c412048f708-iconContainer {
			._2ea32c412048f708-icon {
				background-color: $high;
				color: $high;
			}

			&[aria-label='#{$aria-label-voice}'] ._2ea32c412048f708-icon,
			&[aria-label='#{$aria-label-voice-limited}'] ._2ea32c412048f708-icon {
				color: $low;
			}
		}

		// Private text channels only show lock
		@include scaleChanIconAndColor($aria-label-text-limited, $low);
		// nsfw channels show only warning
		@include scaleChanIconAndColor($aria-label-text-age-restricted, $low);

		.c69b6db0641110f6-actionIcon path {
			transition: opacity 0.5s;
			opacity: 1;
			fill: $high;
		}

		&._2ea32c412048f708-modeLocked,
		&.typeVoice__2ea32 {
			._2ea32c412048f708-icon {
				color: $low;
			}
		}
	}

	// When selected
	&._2ea32c412048f708-modeConnected,
	&._2ea32c412048f708-modeSelected {

		._2ea32c412048f708-linkBottom::before,
		._2ea32c412048f708-linkTop::before {
			transform: scale(100%, 100%);
			transition: transform 0.4s, opacity 0.4s;
			animation: none;
			background-color: $low;
			opacity: 0.65;
		}

		._2ea32c412048f708-linkTop::after {
			transition: transform 0.75s;
			transform: scale(0%, 100%);
			transform-origin: right;
		}
	}

	// Unread channels will override
	._2ea32c412048f708-unread._2ea32c412048f708-unreadImportant~div {
		._2ea32c412048f708-icon {
			color: $alert;
			background-color: $alert;
		}

		._2ea32c412048f708-name {
			color: $alert;
		}
	}

	// Muted channels
	&._2ea32c412048f708-modeMuted {
		opacity: 50%;
	}

	// ------------------- SELECTOR ARROW ------------------------------------
	// Hovering selector
	&::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		animation-fill-mode: forwards;
		width: 24px;
		/* Adjust width as needed */
		height: 22px;
		/* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		background-size: cover;
		background-repeat: no-repeat;

		transition: opacity 0.175s ease-in-out;
		opacity: 0;
	}

	&:not(._2ea32c412048f708-modeSelected):hover::before {
		opacity: 1;
	}

	// Selected Channel
	// tbh this is kind of magic i forgot how it works
	// # white arrow that fades in
	&._2ea32c412048f708-modeSelected::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform-origin: top;
		transform: translateY(-50%);
		width: 24px;
		/* Adjust width as needed */
		height: 22px;
		/* Adjust height as needed */
		background-image: $selector-img-invert; // overridded in light/dark/night files

		opacity: 1;

		background-size: cover;
		background-repeat: no-repeat;
	}

	// # black arrow that fades out into white
	&._2ea32c412048f708-modeSelected::after {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		/* Adjust width as needed */
		height: 22px;
		/* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		animation: fade-out 0.25s;
		animation-fill-mode: forwards;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.c3cd7d38925bcd00-list {
	//Container that holds users in the VC
	margin-top: 1.5px; //fix for some awkward bumping between the borders
}

// ------------------- SELECTOR BACKDROP ---------------------------------------
._2637a2609f343032-container {

	// selector backdrop
	.d125d22cdfd32cfe-content::before {
		content: '';
		position: absolute;
		left: 0px;
		width: 2px;
		height: 100%;
		bottom: 0px;
		border-radius: 0;
		padding: 4px 2.5px 4px 2.5px;
		margin-left: -1px;
		box-shadow: -3px 0 0 $mid, -15px 0 0 transparent, -14px 0 0 $mid, -18px 2px 0 transparent;
	}

	// selector backdrop for threads
	._5b40bdd67543ba35-container::before {
		content: '';
		position: absolute;
		left: 25px;
		top: 0px;
		height: 100%;
		border-radius: 0;
		padding: 0 2.5px;
		margin-left: -1px;
		box-shadow: -3px 0 0 $mid, -15px 0 0 transparent, -14px 0 0 $mid, -18px 2px 0 transparent;
	}
}

// ------------------- THREADS --------------------------------
._5b40bdd67543ba35-spineBorder {
	background: transparent;
}

._5b40bdd67543ba35-spine {
	z-index: 2;
	left: 6px;
	top: 6.5px;

	width: 12px !important;
	height: 12px !important;
	background-color: $low;

	&[style='transform: rotateX(180deg) translateY(-9px);'] {
		display: none;
	}

	&:has(~ ._2ea32c412048f708-typeThread:hover),
	&:has(~ ._2ea32c412048f708-typeThread._2ea32c412048f708-modeSelected) {
		background-color: $high;
		color: $high;
	}
}

._2ea32c412048f708-typeThread ._2ea32c412048f708-link {
	margin-left: 0;
}

._2ea32c412048f708-typeThread ._2ea32c412048f708-name.b0dfc2ed9c57037d-overflow {
	left: 24px;
}

// ---------------------- MISC ----------------------------------------

// Banner at the top of server channel list
.f37cb1984c371ee5-hasBanner.f37cb1984c371ee5-bannerVisible {
	z-index: 2;
}

._629e4c86564a4ee7-scroller {

	//container that holds actual channels
	.d125d22cdfd32cfe-content {
		margin-left: 20px;
		//padding-left: 15px;
		//background-color: $mid-trans;
	}
}

.visual-refresh ._260e1982cd52c5c3-wrapper {
	color: $high;
	border-radius: 0;
	border: 1px solid $mid;
	height: 18px;

	._260e1982cd52c5c3-users {
		background-color: $low;
		padding-left: 4px;
		z-index: 1;
	}

	._260e1982cd52c5c3-total {
		padding: 0 3px 0 0;
		background-color: $alert;
		color: $high;
		z-index: 2;
	}

	._260e1982cd52c5c3-total::after {
		border-right-color: $alert;
	}
}