@use '../vars/vars' as *;

//transparencies
.visual-refresh ._7641b507c6cdbb10-container {
	background: transparent;
}

// thread container
._2ea32c412048f708-typeThread.threadsInChannelListQoLExperiment__2ea32._2ea32c412048f708-wrapper {
	margin-left: 0;
}

._2ea32c412048f708-typeThread.threadsInChannelListQoLExperiment__2ea32 ._2ea32c412048f708-link {
	padding: 0;
}

._2ea32c412048f708-iconContainer[aria-label='#{$aria-label-thread}'] {
	visibility: hidden;
}

// Message in chat that someone's opened a thread
._2ea32c412048f708-typeThread._2ea32c412048f708-wrapper {
	margin-left: 0;
}

.c19a557985eb7793-hasThread {

	// Elbow
	&.c19a557985eb7793-cozy:after {
		border-left: 2px solid $low;
		border-bottom: 2px solid $low;
		border-bottom-left-radius: 0;
	}

	// Thread box,
	._9271d23503a01b50-container {
		@include boxify($high, $mid, 3px);
	}
}

// Thread Sidebar
.chat-3JZdy8:before {
	visibility: hidden;
}

._54b20d287f944f7b-iconWrapper {
	background-color: $low;

	._54b20d287f944f7b-icon {
		color: $high;

		path:first-child {
			visibility: hidden;
		}
	}
}

._235ca3770d90ab7c-iconContainer .icon_da3997 path:first-child {
	visibility: hidden;
}

*[aria-label='Threads'],
*[aria-label='Thread'] {
	._9293f6b2fc12398a-icon path:first-child {
		//visibility: hidden; TODO fix whatever this was meant to be
	}
}

.d9c8822889d1d4a1-threadIcon path:first-child {
	visibility: hidden;
}

.threadSidebar-1o3BTy {
	@include boxify($high, $mid, 3px);
}

._5b40bdd67543ba35-container .c69b6db0641110f6-containerDefault {
	left: 40px;
}

._5b40bdd67543ba35-spine {
	color: $low;
}

// Thread popout
.d98031d9a3e08b09-browser {
	@include boxify($high, $mid, 3px);
}

//Mention badge and unread coloring for threads (wtf discord, why is this so hard)
._2ea32c412048f708-typeThread {
	._2ea32c412048f708-name {
		position: absolute;
		left: 25px;
		max-width: 175px;
		text-align: left;

		&.b0dfc2ed9c57037d-overflow {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	._933a166a2ed4d49c-mentionsBadge {
		position: absolute;
		padding-left: 121px;
		z-index: 1;
	}
}