// user_area concerns the bottom-left user profile panel and specific text available on pressing the panel

@use '../vars/vars.scss' as *;

// transparencies
.visual-refresh .panels__5e434,
.panel__5dec7,
.sidebar__5e434:after {
	background: $high-mid;
}

// the container that holds the "edit profile / invisible, and "switch accounts" buttons
:where(.overlay_c0bea0) {
	background: transparent;
}

.menuOverlay_ce8328 {
	padding: 0;
}

// container that contains user profile panel + activity
.panels__5e434 {
}

// the buttons mentioned above
.custom-user-profile-theme .themeColor_fb7f94.primary_fb7f94,
.menuItemInner_ce8328 {
	@include buttonify($high-mid, $low, $low, $high);
}

// divider
.menuDivider_ce8328 {
	display: none;
}