// user_area concerns the bottom-left user profile panel and specific text available on pressing the panel

@use '../vars/vars.scss' as *;

// transparencies
.visual-refresh ._5e434347c823b592-panels,
._5dec784a68542d60-panel,
._5e434347c823b592-sidebar:after {
	background: $high-mid;
}

// the container that holds the "edit profile / invisible, and "switch accounts" buttons
:where(.c0bea05627c5dc35-overlay) {
	background: transparent;
}

.ce832809562bf737-menuOverlay {
	padding: 0;
}

// container that contains user profile panel + activity
._5e434347c823b592-panels {
}

// the buttons mentioned above
.custom-user-profile-theme .themeColor_fb7f94.primary_fb7f94,
.ce832809562bf737-menuItemInner {
	@include buttonify($high-mid, $low, $low, $high);
}

// divider
.menuDivider_ce8328 {
	display: none;
}