//transparencies

// ## call container
.visual-refresh .cb9592ad77576717-channelChatWrapper,
.visual-refresh .cb9592ad77576717-wrapper,
.cb9592ad77576717-callContainer {
	background: transparent;
}
// slight border line
.visual-refresh .cb9592ad77576717-callContainer {
	border: none;
}
