@import url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/font/vietnam/stylesheet.css');
@import url('https://buns.gay/YoRHA-UI-BetterDiscord/font/vietnam/stylesheet.css');

::placeholder,
body,
button,
input,
select,
textarea {
	font-family: var(--nier-font), 'vietnam-pro', Arial, Helvetica, sans-serif;
}
strong {
	font-family: var(--nier-font), 'vietnam-pro', Arial, Helvetica, sans-serif;
}
.markup_f8f345 {
	font-size: 11pt;
}
