::placeholder,
body,
button,
input,
select,
textarea {
	font-family: var(--nier-font), Arial, Helvetica, sans-serif;
}
strong {
	font-family: Arial, Helvetica, sans-serif;
}
.markup-eYLPri {
	font-size: 11pt;
}
