/* Light */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('fotrodin_pro_l-webfont.woff2') format('woff2'),
		url('fotrodin_pro_l-webfont.woff') format('woff');
	font-weight: lighter;
	font-style: normal;
}
/* Normal/Medium */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('fotrodin_pro_m-webfont.woff2') format('woff2'),
		url('fotrodin_pro_m-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* BOLD T1 */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('fotrodin_pro_db-webfont.woff2') format('woff2'),
		url('fotrodin_pro_db-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* BOLD T2 */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('fotrodin_pro_eb-webfont.woff2') format('woff2'),
		url('fotrodin_pro_eb-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
/* BOLD T3 */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('fotrodin_pro_ub-webfont.woff2') format('woff2'),
		url('fotrodin_pro_ub-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
