/* Light */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('Rodin-Light.woff2') format('woff2');
	font-weight: lighter;
	font-style: normal;
}
/* Normal/Medium */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('Rodin-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* BOLD T1 */
@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('Rodin-Regular.woff2') format('woff2');
	font-weight:bold;
	font-style: normal;
}

/* Light Italic */
/*@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('Rodin-Light.woff2') format('woff2');
	font-weight: lighter;
	font-style: italic;
}

/* Normal Italic */ /*NOT USED*/
/*@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('Rodin-Light.woff2') format('woff2');
	font-weight: lighter;
	font-style: italic;
}

/* Bold Italic */ /*NOT USED*/
/*@font-face {
	font-family: 'sce-ps3_rodin_latinregular';
	src: url('Rodin-Light.woff2') format('woff2');
	font-weight: lighter;
	font-style: italic;
}