// whole container
.userPanelOuter_c69a7b {
	@include boxify($low, $mid, 3px);
	padding: 0 !important;

	// weird box that sits over theme colors, under boxes
	// seems to darken the color selection
	.userPanelInner_c69a7b::before {
		//height: 100%;
		width: 100%;
	}
	.userPanelInner_c69a7b {
		gap: 0px;
	}

	.mask_d5fdb1 {
		// pfp mask around banner
		mask circle {
			display: none;
		}

		padding-bottom: 2px;
		padding-right: 40px;
	}

	.header_a823cd {
		padding: 0;
		margin: 0.25em;

		// janky ass invisible container?
		.invisibleContainer_af9888.panel_af9888 {
			display: none;
		}

		// .invisibleContainer_af9888.panel_af9888,
		.visibleContainer_af9888.panel_af9888 {
			display: flex;
			align-content: center;
			justify-content: center;
			//padding: 4em 0em 0em 0em;
		}

		// thinking text and bubbles
		.statusBubbleOuter_af9888 {
			max-width: none;
			width: 100%;
			max-height: none;
			border-radius: 0;
			box-shadow: none;
			margin: 0.25em;
			border: 2px transparent;
			background-color: transparent;

			.statusBubble_af9888 {
				background-color: transparent;
				border-radius: 0;
				word-wrap: normal;
				padding: 0;
				//width: fit-content;

				.content_af9888 {
					-webkit-line-clamp: 100;
				}
			}

			.content_af9888 {
				max-height: none !important;
				overflow: visible;
				word-wrap: normal;
				//width: fit-content;
				display: flex;
				align-items: center;
				background-color: $high;
				padding-right: 5px;
				.emoji_ad923e {
					height: 32px;
					width: 32px;
				}
			}

			.singleLineAlign_af9888 {
				text-align: center;
			}
		}
		.statusBubbleOuter_af9888:before,
		.statusBubbleOuter_af9888:after {
			display: none;
		}

		//edit status buttons on user status hover
		.popover_f7be4f.visible_f7be4f {
			.left_bba79b:not(:hover) {
				path[d='m13.96 5.46 4.58 4.58a1 1 0 0 0 1.42 0l1.38-1.38a2 2 0 0 0 0-2.82l-3.18-3.18a2 2 0 0 0-2.82 0l-1.38 1.38a1 1 0 0 0 0 1.42ZM2.11 20.16l.73-4.22a3 3 0 0 1 .83-1.61l7.87-7.87a1 1 0 0 1 1.42 0l4.58 4.58a1 1 0 0 1 0 1.42l-7.87 7.87a3 3 0 0 1-1.6.83l-4.23.73a1.5 1.5 0 0 1-1.73-1.73Z'] {
					fill: $high;
				}
			}
			.right_bba79b:not(:hover) {
				path[d='M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z'],
				path[d='M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z'] {
					fill: $high;
				}
			}
		}

		//edit profile button
		.headerButtons_bc9cc2 {
			width: fit-content;
			height: auto;
		}

		// thinking text
		.visibleContainer_af9888.panel_af9888 {
			position: relative;
			top: 0;
			left: 0;
			padding-top: 0px;
			width: fit-content;
			display: flex;
		}

		// profile picture area
		.avatar_f94206.panel_f94206 {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $mid;
			padding: 2em;
			border-radius: 0;
			position: relative;
			top: 0;
			left: 0;

			// the actual pfp
			.wrapper_c51b4e {
				border-radius: 0;
				mask-image: none;
			}
		}
	}

	// usernames, mutuals, roles
	.body_a972fe {
		margin: 0em 0.5em 0.5em 0.5em;
		padding: 0.5em;
		background: $high;

		.overlayBackground_c69a7b {
			//container that everything below username (had to be categorized seperately cuz it broke everything otherwise lol)
			border: 0px;
			height: 100%;
			width: auto;
			background: $high;

			.markup_f8f345 {
				height: auto;
				.lineClamp2Plus_a595eb {
					-webkit-line-clamp: 12 !important;
				}
			}
		}
		.activity_cd74cc,
		.activity_a972fe {
			//activites (takes on profile theme color and can cause conflict with colors)
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: $low;
			border-radius: 0px;
			background-color: transparent;
		}
	}
}

//extra area below user profile
.overlayBackground_c69a7b.overlay_a8795b,
.footer_a823cd {
	margin: 0em 0.5em 0.5em 0.5em;
	padding: 0.5em;
	background: $high;
	.divider_e3d8a6 {
		background-color: $low;
		margin: 0px;
		width: 100%;
	}
}
