// Transparencies
.unread_d8bfb3,
.theme-dark .container_ee69e0,
.theme-dark .container_b2ca13,
.panels_a4d4d9,
.theme-dark .container_b2ca13,
.wrapper_d8bfb3:hover .link_d8bfb3,
.modeSelected_d8bfb3 .link_d8bfb3,
.modeSelected_d8bfb3:hover .link_d8bfb3 {
	background: transparent;
}
.header_fd6364 {
	box-shadow: none;
}
// Unread messages notification
.unread_edf32f {
	color: $high;
	@include boxify($alert, $mid, 3px);
}
// User info
.button_adca65 {
	@include buttonify(transparent, $low, $low, $high);

	&:hover .lottieIcon_f73ef7 :not(defs *)[fill][fill-opacity] {
		fill: $high;
	}
}
// Channel hover/select animations
.containerDefault_f6f816 {
	padding-bottom: 2px;
	padding-top: 2px;

	.actionIcon_f6f816 {
		//Invite button on channel hover/selection
		path[d='M19 14a1 1 0 0 1 1 1v3h3a1 1 0 0 1 0 2h-3v3a1 1 0 0 1-2 0v-3h-3a1 1 0 1 1 0-2h3v-3a1 1 0 0 1 1-1Z'],
		path[d='M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM16.62 13.17c-.22.29-.65.37-.92.14-.34-.3-.7-.57-1.09-.82-.52-.33-.7-1.05-.47-1.63.11-.27.2-.57.26-.87.11-.54.55-1 1.1-.92 1.6.2 3.04.92 4.15 1.98.3.27-.25.95-.65.95a3 3 0 0 0-2.38 1.17ZM15.19 15.61c.13.16.02.39-.19.39a3 3 0 0 0-1.52 5.59c.2.12.26.41.02.41h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5a7.5 7.5 0 0 1 13.19-4.89ZM9.5 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM15.5 22Z'] {
			fill: $high;
		}
	}
}

.wrapper_d8bfb3 {
	padding: 0;
	margin-left: 15px;

	// Square icon
	.iconContainer_d8bfb3 {
		align-self: center;
		.icon_d8bfb3 {
			transition: color 0.2s, background-color 0.2s;
			height: 12px;
			width: 12px;
			z-index: 1;
			background-color: $low;
			color: $low;
		}
	}
	&.modeMuted_d8bfb3 {
		opacity: 50%;
	}

	&.modeLocked_d8bfb3,
	&.typeVoice_d8bfb3 {
		.icon_d8bfb3 {
			color: $high;
			path {
				fill: $high;
			}
		}
	}

	// Animation
	.link_d8bfb3 {
		padding: 1px 0;
	}

	.content_cc29d1 {
		height: 28px;
		margin-left: 0;
		border-radius: 0;
		justify-content: center;
		padding: 0px 8px;
	}

	.linkTop_d8bfb3 {
		height: 28px;
		margin-left: 0;
		border-radius: 0;
		justify-content: center;
		padding: 0px 8px;
	}
	.name_d8bfb3,
	.actionIcon_f6f816 {
		transition: color 0.2s;
	}

	.linkBottom_d8bfb3 {
		margin: 0;
		padding: 0px 24px;

		.hoverable_e66732 {
			.pencilIcon_e66732,
			.statusText_e66732 {
				color: $high;
			}
		}

		&:hover {
			.pencilIcon_e66732,
			.statusText_e66732 {
				color: $mid;
			}
		}
	}

	// settings/invite button in channel side
	.children_d8bfb3 {
		margin: 0;
	}
	// Selected channel
	&.modeConnected_d8bfb3,
	&.modeSelected_d8bfb3,
	&:hover {
		&.typeThread_d8bfb3,
		&.typeDefault_d8bfb3,
		&.typeVoice_d8bfb3 {
			.linkTop_d8bfb3:before,
			.linkTop_d8bfb3::after {
				transform: scaleX(1);
			}
			.linkTop_d8bfb3::after {
				height: 33px;
			}

			.linkBottom_d8bfb3 {
				position: relative;
				top: 0;
				right: 0;
			}
			.icon_d8bfb3 {
				color: $high;
				background-color: $high;
			}
			.actionIcon_f6f816,
			.name_d8bfb3 {
				z-index: 1;
				color: $high;
			}
			.wrapper_a5bc92 {
				z-index: 1;
			}
		}
		&.typeVoice_d8bfb3 .icon_d8bfb3 path {
			fill: $low;
		}
	}
	// Unread channels
	.unreadImportant_d8bfb3 ~ div {
		.icon_d8bfb3 {
			color: $alert !important;
			background-color: $alert !important;
		}
		.name_d8bfb3 {
			color: $alert !important;
		}
	}

	//specificity for hover/select animations
	&.typeDefault_d8bfb3, //normal channels
	&.typeThread_d8bfb3 {
		// the block itself
		.linkTop_d8bfb3::before {
			content: '';
			transition: 0.4s;
			position: absolute;
			width: 100%;
			height: 100%;

			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;

			transform: scaleX(0);
			transform-origin: left;
		}
		// the border
		.linkTop_d8bfb3::after {
			content: '';
			transition: transform 0.4s;
			position: absolute;
			width: 100%;

			box-shadow: 0 1px $low, 0 -1px $low;

			transform: scaleX(0);
			transform-origin: left;
		}
	}

	&.typeVoice_d8bfb3 {
		//VC the user is not in. Handles hover animation and related
		.linkTop_d8bfb3:before,
		.linkBottom_d8bfb3:before {
			content: '';
			transition: transform 0.4s;
			position: absolute;
			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			height: 100%;
		}
		.linkBottom_d8bfb3:before {
			margin-left: -24px;
		}
	}
	&:hover.typeVoice_d8bfb3 {
		//same as above
		.linkTop_d8bfb3:before,
		.linkBottom_d8bfb3:before {
			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			transform: scaleX(1);
		}
		.linkBottom_d8bfb3 {
			.statusDiv_e66732 {
				.statusText_e66732 {
					color: $high;
				}
			}
		}
	}

	&.modeConnected_d8bfb3.typeVoice_d8bfb3,
	&.modeSelected_d8bfb3.typeVoice_d8bfb3 {
		//VC the user is in. Handles hover animation and related
		.linkTop_d8bfb3:before,
		.linkBottom_d8bfb3:before {
			content: '';
			transition: transform 0.4s;
			position: absolute;
			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			height: 100%;
		}
		.linkTop_d8bfb3,
		.linkBottom_d8bfb3 {
			//Technically doesn't have a hover animation, uses the selected channel animation instead
			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			transform: scaleX(1);

			box-shadow: none;
		}
	}

	@keyframes fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	//Test for pointer
	&:not(.modeSelected_d8bfb3):hover::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		animation: fade-in 0.175s;
		animation-fill-mode: forwards;
		width: 24px; /* Adjust width as needed */
		height: 22px; /* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		transition: opacity 0.5s;

		background-size: cover;
		background-repeat: no-repeat;
	}
	&.modeSelected_d8bfb3::after {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px; /* Adjust width as needed */
		height: 22px; /* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		animation: fade-out 0.25s;
		animation-fill-mode: forwards;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&.modeSelected_d8bfb3::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		transition: opacity 0.5s;
		width: 24px; /* Adjust width as needed */
		height: 22px; /* Adjust height as needed */
		background-image: $selector-img-invert; // overridded in light/dark/night files

		background-size: cover;
		background-repeat: no-repeat;
	}
}
.list_a478e5 {
	//Container that holds users in the VC
	margin-top: 1.5px; //fix for some awkward bumping between the borders
}

// Entire channels list container
.container_ee69e0 {
	.content_eed6a8::before {
		content: '';
		position: absolute;
		left: 0px;
		width: 2px;
		height: 100%;
		bottom: 0px;
		border-radius: 0;
		padding: 4px 2.5px 4px 2.5px;
		margin-left: -1px;
		box-shadow: -3px 0 0 $mid, -15px 0 0 transparent, -14px 0 0 $mid, -18px 2px 0 transparent;
	}
}

//Banner at the top of server channel list
.hasBanner_fd6364.bannerVisible_fd6364 {
	z-index: 2;
}

.scroller_c43953 {
	//container that holds actual channels
	.content_eed6a8 {
		margin-left: 20px;
		//padding-left: 15px;
		//background-color: $mid-trans;
	}
}

// Voice channel limits
.wrapper_a5bc92 {
	border-radius: 0;
	border: 1px solid $mid;
	height: 18px;
	.users_a5bc92 {
		padding-left: 4px;
		z-index: 1;
	}
	.total_a5bc92 {
		background-color: $alert;
		color: $high;
		z-index: 2;
	}
	.total_a5bc92::after {
		border-right-color: $alert;
	}
}
.base_a4d4d9 {
	border-radius: 0;
}
// Thread splines
.spineBorder_e1e976 {
	background: transparent;
}
.spine_e1e976 {
	z-index: 2;
	left: 8px;

	top: 11px;
	width: 12px !important;
	height: 12px !important;
	background-color: $low;

	&[style='transform: rotateX(180deg) translateY(-9px);'] {
		display: none;
	}

	&:has(~ .typeThread_d8bfb3:hover),
	&:has(~ .typeThread_d8bfb3.modeSelected_d8bfb3) {
		background-color: $high;
		color: $high;
	}
}

.typeThread_d8bfb3 .link_d8bfb3 {
	margin-left: 0;
}
.typeThread_d8bfb3 .name_d8bfb3.overflow_a82120 {
	left: 24px;
}
