// Transparencies
.unread-3zKkbm,
.panels-j1Uci_,
.wrapper-1ucjTd:hover .content-3at_AU,
.modeSelected-1zApJ_ .content-3at_AU,
.modeSelected-1zApJ_:hover .content-3at_AU,
.container-PNkimc {
    background: transparent;
}
// Unread messages notification
.unread-1xRYoj {
    color: $high;
    @include boxify($alert, $mid, 3px);
}
// User info
.button-14-BFJ {
    @include buttonify(transparent, $low, $low, $high);
}
// Channel hover/select animations
.wrapper-1ucjTd {
    height: 32px;
    margin: 4px 0 4px 0;

    // Muted Channels
    &.modeMuted-3osy7j {
        opacity: 50%;

        .icon-1_QxNX,
        .name-3_Dsmg {
            color: $low;
        }
    }
    // Square icon
    .icon-1_QxNX {
        transition: color 0.2s, background-color 0.2s;
        height: 12px;
        width: 12px;
        z-index: 1;
        background-color: $low;
        // Voice channels/Locked channels
        path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"],
        path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"],
        path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
            fill: $high;
        }

    }
    // Animation
    .content-3at_AU {
        height: 28px;
        margin-left: 0;
        border-radius: 0;
        top: 2px;
    }
    .name-3_Dsmg,
    .actionIcon-2Hi9ZG {
        transition: color 0.2s;
    }
    .mainContent-ENyL1r:before {
        transition: width 0.4s;
        position: absolute;
        animation-name: pulsingBackground;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        width: 0%;
    }
    // Selected channel
    &.modeConnected-2IEL4z,
    &.modeSelected-1zApJ_,
    &:hover {
        box-shadow: 0 1px $low, 0 -1px $low;

        .mainContent-ENyL1r:before {
            width: 100%;
        }
        .icon-1_QxNX {
            color: $high;
            background-color: $high;
            // Voice channels/Locked channels
            path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"],
            path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"],
            path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
                fill: $low;
            }
        }
        .actionIcon-2Hi9ZG,
        .name-3_Dsmg {
            z-index: 1;
            color: $high;
        }
    }
    // Unread channels
    &.modeUnread-1zpFdA {
        .icon-1_QxNX
        {
            color: $alert;
            background-color: $alert;
        }
        .name-3_Dsmg{
            color: $alert;
        }
    }
}