// Transparencies
.unread_d8bfb3,
.theme-dark .container_ee69e0,
.theme-dark .container_b2ca13,
.panels_a4d4d9,
.theme-dark .container_b2ca13,
.wrapper_d8bfb3:hover .link_d8bfb3,
.modeSelected_d8bfb3 .link_d8bfb3,
.modeSelected_d8bfb3:hover .link_d8bfb3 {
	background: transparent;
}
.header_fd6364 {
	box-shadow: none;
}
// Unread messages notification
.unread_edf32f {
	color: $high;
	@include boxify($alert, $mid, 3px);
}
// User info
.button_adca65 {
	@include buttonify(transparent, $low, $low, $high);

	&:hover .lottieIcon_f73ef7 :not(defs *)[fill][fill-opacity] {
		fill: $high;
	}
}
// Channel hover/select animations
.wrapper_d8bfb3 {
	padding: 0;
	margin-left: 15px;
	// -------------------- ICONS / TEXT ------------------------------
	// channel name
	.name_d8bfb3 {
		transition: color 0.2s;
	}
	// Square icon
	.iconContainer_d8bfb3 {
		align-self: center;
		.icon_d8bfb3 {
			transition: color 0.2s, background-color 0.2s;
			height: 12px;
			width: 12px;
			z-index: 1;
			background-color: $low;
			color: $low;
		}
	}
	&.modeMuted_d8bfb3 {
		opacity: 50%;
	}

	// Voice icon and lock icons should show
	&.modeLocked_d8bfb3,
	&.typeVoice_d8bfb3 {
		.icon_d8bfb3 {
			color: $high;
		}
	}
	// Channel icons on side
	.actionIcon_f6f816 {
		color: $high;
	}
	// ------------------------ STRUCTURE ----------------------------

	// VERY IMPORTANT. Padding must be zero or we get subpixel errors
	.link_d8bfb3 {
		margin: 8px 0px;
		padding: 0;
	}

	// Not sure?
	.content_cc29d1 {
		height: 28px;
		margin-left: 0;
		border-radius: 0;
		justify-content: center;
		padding: 0px 8px;
	}

	.linkBottom_d8bfb3 {
		margin: 0;

		.hoverable_e66732 {
			.pencilIcon_e66732,
			.statusText_e66732 {
				color: $low;
			}
		}

		&:hover {
			.pencilIcon_e66732,
			.statusText_e66732 {
				color: $mid;
			}
		}
	}

	// ------------------- TEXT+VOICE CHANNELS ----------------------------

	// Base block + border. hold the text
	&.typeDefault_d8bfb3,
	&.typeThread_d8bfb3,
	&.typeVoice_d8bfb3 {
		// LinkTop is the main body
		.linkTop_d8bfb3 {
			height: 25px;
			padding: 0px 6px;
			background-color: $high-mid;
		}

		// the main grower
		.linkTop_d8bfb3::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%; // 28px
			animation: pulsingBackground 2.5s infinite;

			box-shadow: 0 0 3px $low;

			transition: transform 0.4s;
			transform: scaleX(0);
			transform-origin: left;
		}
		// grower border
		.linkTop_d8bfb3::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 30px;
			pointer-events: none;

			box-shadow: 0 1px $low, 0 -1px $low;

			transition: transform 0.4s;
			transform: scale(0, 90%);
			transform-origin: left;
		}

		&.modeConnected_d8bfb3,
		&.modeSelected_d8bfb3,// When hovering and selecting
		&:hover {
			// grow border and body
			.linkBottom_d8bfb3::before,
			.linkTop_d8bfb3::before,
			.linkTop_d8bfb3::after {
				transform: scale(100%, 100%);
			}

			// invert name and icons
			.name_d8bfb3 {
				color: $high;
			}
			.iconContainer_d8bfb3 {
				.icon_d8bfb3 {
					background-color: $high;
					color: $high;
				}
			}
			.actionIcon_f6f816 path {
				transition: opacity 0.5s;
				opacity: 1;
				fill: $high;
			}
			&.modeLocked_d8bfb3,
			&.typeVoice_d8bfb3 {
				.icon_d8bfb3 {
					color: $low;
				}
			}
		}
		// When selected
		&.modeConnected_d8bfb3,
		&.modeSelected_d8bfb3 {
			.linkBottom_d8bfb3::before,
			.linkTop_d8bfb3::before {
				transform: scale(100%, 100%);
				transition: transform 0.4s, opacity 0.4s;
				animation: none;
				background-color: $low;
				opacity: 0.65;
			}

			.linkTop_d8bfb3::after {
				transition: transform 0.75s;
				transform: scale(0%, 100%);
				transform-origin: right;
			}
		}

		// Unread channels will override
		.unread_d8bfb3.unreadImportant_d8bfb3 ~ div {
			.icon_d8bfb3 {
				color: $alert;
				background-color: $alert;
			}
			.name_d8bfb3 {
				color: $alert;
			}
		}
	}

	// SELECTOR CHANNEL ---------------------------------------------
	&::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		animation-fill-mode: forwards;
		width: 24px; /* Adjust width as needed */
		height: 22px; /* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		background-size: cover;
		background-repeat: no-repeat;

		transition: opacity 0.175s ease-in-out;
		opacity: 0;
	}
	&:not(.modeSelected_d8bfb3):hover::before {
		opacity: 1;
	}
	&.modeSelected_d8bfb3::before {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform-origin: top;
		transform: translateY(-50%);
		width: 24px; /* Adjust width as needed */
		height: 22px; /* Adjust height as needed */
		background-image: $selector-img-invert; // overridded in light/dark/night files
		opacity: 1;

		background-size: cover;
		background-repeat: no-repeat;
	}
	&.modeSelected_d8bfb3::after {
		content: '';
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px; /* Adjust width as needed */
		height: 22px; /* Adjust height as needed */
		background-image: $selector-img; // overridded in light/dark/night files
		animation: fade-out 0.25s;
		animation-fill-mode: forwards;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.list_a478e5 {
	//Container that holds users in the VC
	margin-top: 1.5px; //fix for some awkward bumping between the borders
}

// Entire channels list container
.container_ee69e0 {
	// selector backdrop
	.content_eed6a8::before {
		content: '';
		position: absolute;
		left: 0px;
		width: 2px;
		height: 100%;
		bottom: 0px;
		border-radius: 0;
		padding: 4px 2.5px 4px 2.5px;
		margin-left: -1px;
		box-shadow: -3px 0 0 $mid, -15px 0 0 transparent, -14px 0 0 $mid, -18px 2px 0 transparent;
	}

	// selector backdrop for threads
	.container_e1e976::before {
		content: '';
		position: absolute;
		left: 25px;
		top: 0px;
		height: 100%;
		border-radius: 0;
		padding: 0 2.5px;
		margin-left: -1px;
		box-shadow: -3px 0 0 $mid, -15px 0 0 transparent, -14px 0 0 $mid, -18px 2px 0 transparent;
	}
}

//Banner at the top of server channel list
.hasBanner_fd6364.bannerVisible_fd6364 {
	z-index: 2;
}

.scroller_c43953 {
	//container that holds actual channels
	.content_eed6a8 {
		margin-left: 20px;
		//padding-left: 15px;
		//background-color: $mid-trans;
	}
}

// Voice channel limits
.wrapper_a5bc92 {
	border-radius: 0;
	border: 1px solid $mid;
	height: 18px;
	.users_a5bc92 {
		padding-left: 4px;
		z-index: 1;
	}
	.total_a5bc92 {
		background-color: $alert;
		color: $high;
		z-index: 2;
	}
	.total_a5bc92::after {
		border-right-color: $alert;
	}
}
.base_a4d4d9 {
	border-radius: 0;
}
// Thread splines
.spineBorder_e1e976 {
	background: transparent;
}
.spine_e1e976 {
	z-index: 2;
	left: 6px;
	top: 6.5px;

	width: 12px !important;
	height: 12px !important;
	background-color: $low;

	&[style='transform: rotateX(180deg) translateY(-9px);'] {
		display: none;
	}

	&:has(~ .typeThread_d8bfb3:hover),
	&:has(~ .typeThread_d8bfb3.modeSelected_d8bfb3) {
		background-color: $high;
		color: $high;
	}
}

.typeThread_d8bfb3 .link_d8bfb3 {
	margin-left: 0;
}
.typeThread_d8bfb3 .name_d8bfb3.overflow_a82120 {
	left: 24px;
}
