// Transparencies
.theme-dark .scroller__89969,
.scroller_a9a4b4,
.scroller__244e5,
.applicationStore__444b9,
.nowPlayingColumn_b025fe,
.container__3673d,
.theme-dark .inset__61d5b,
.theme-dark .container_bd15da {
	background-color: transparent;
}
.peopleListItem_dab480.active__6b8ff,
.peopleListItem_dab480:hover {
	@include boxify($high, $mid, 3px);
}
.peopleListItem_dab480 {
	border-top: none;
}
// Low color
.theme-dark .text__0e310,
.theme-dark .title__496be {
	color: $low;
}
// "Active Now" tags, (misc. cards too)
.scroller__7c25e {
	border: none;
}
.theme-dark .feature-2IUcBI,
.banner-WELp4M,
.wrapper__3c6d5 {
	transition: all 0.1s;
	@include boxify($high, $mid, 4px);

	.inset__61d5b {
		border: 1px solid $mid;
		border-radius: 0;
	}
	.partyMemberOverflow_fa82b9 {
		color: $high;
		background: $low;
	}
	.section__253ec {
		border-radius: 0;
	}
	&:hover {
		background-color: $low !important;

		.partyMemberOverflow_fa82b9 {
			color: $low;
			background: $high;
		}
		.text-sm-normal-3Zj3Iv.textContent_e33074,
		.defaultColor__30336,
		.base__1aa9d,
		span,
		.colorHeaderSecondary__5539c,
		.colorStandard__3d599 {
			color: $high;
		}
		.section__253ec div {
			color: $low;
		}
	}
}
// 'Active Now' Header
.header_c56a27 {
	@include titlify(2px, 4px);
}
// Close button hover
.children_cf6731 {
	z-index: 1;
}
.actionButton__2b4bb:hover {
	transition: background-color 0.2s ease-in-out;
	background-color: $low;

	.icon__4ee3f {
		transition: color 0.1s ease-in-out;
		color: $high;
	}
}
// Header divider
.tabBody_a90ea8:before {
	display: none;
}

.tabBar__73938 .item_e4ca95 {
	@include buttonify(transparent, $low, $low, $high);

	&.selected_a523ff {
		background-color: $low !important;
		color: $high;
	}
}
