// Transparencies
.theme-dark .scroller-WSmht3,
.scroller-2XLwLg,
.scroller-29cQFV,
.applicationStore-2nk7Lo,
.nowPlayingColumn-1eCBCN,
.container-1oAagU,
.theme-dark .inset-SbsSFp,
.theme-dark .container-2cd8Mz {
	background-color: transparent;
}
.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
	@include boxify($high, $mid, 3px);
}
// Low color
.theme-dark .text-27cdrj,
.theme-dark .title-2CL_z0 {
	color: $low;
}
// "Active Now" tags, (misc. cards too)
.theme-dark .feature-2IUcBI,
.banner-WELp4M,
.wrapper-2RrXDg {
	transition: all 0.1s;
	@include boxify($high, $mid, 4px);

	.inset-SbsSFp {
		border: 1px solid $mid;
		border-radius: 0;
	}
	.partyMemberOverflow-3G1oZz {
		color: $high;
		background: $low;
	}
	.section-3G9aLW {
		border-radius: 0;
	}
	&:hover {
		background-color: $low !important;

		.partyMemberOverflow-3G1oZz {
			color: $low;
			background: $high;
		}
		.text-sm-normal-3Zj3Iv.textContent-TsKzji,
		.defaultColor-1EVLSt,
		.base-ZDDK0g,
		span,
		.colorHeaderSecondary-2mxIhA,
		.colorStandard-1Xxp1s {
			color: $high;
		}
		.section-3G9aLW div {
			color: $low;
		}
	}
}
// 'Active Now' Header
.header-Imy05m {
	@include titlify(2px, 4px);
}
// No pending requests image
.theme-dark .emptyWumpus-11kRB0,
.image-20MDYu {
	@include remask('https://svgur.com/i/RGT.svg', $low);
	width: 403px !important;
	height: 353px !important;

	& + div .text-27cdrj {
		visibility: hidden;
		justify-content: center;

		&::before {
			visibility: visible;
			content: 'Nothing to see here, friend! *rolls away*';
		}
	}
}
// Close button hover
.children-283-lq {
	z-index: 1;
}
.actionButton-3-B2x-:hover {
	transition: background-color 0.2s ease-in-out;
	background-color: $low;

	.icon-1WVg4I {
		transition: color 0.1s ease-in-out;
		color: $high;
	}
}
// Header divider
.tabBody-2dgbAs:before {
	display: none;
}
