// Transparencies
.scroller__99e7c.scroller__99e7c,
.scroller__4a84a,
.scroller__244e5,
.applicationStore_f07d62,
.nowPlayingColumn__133bf,
.container__7d20c,
.theme-dark .inset_bf1984,
.container__133bf.container__133bf {
	background-color: transparent;
}
.peopleListItem_cc6179.active_cc6179,
.peopleListItem_cc6179:hover {
	@include boxify($high, $mid, 3px);
}
.peopleListItem_cc6179 {
	border-top: none;
}
// Low color
.theme-dark .text__0e310,
.theme-dark .title__496be {
	color: $low;
}
// "Active Now" tags, (misc. cards too)
.scroller__7d20c {
	border: none;
}
.theme-dark .feature-2IUcBI,
.banner-WELp4M,
.wrapper__00943 {
	transition: all 0.1s;
	@include boxify($high, $mid, 4px);

	.inset_bf1984 {
		border: 1px solid $mid;
		border-radius: 0;
	}
	.partyMemberOverflow_e45a82 {
		color: $high;
		background: $low;
	}
	.section__00943 {
		border-radius: 0;
	}
	&:hover {
		background-color: $low !important;

		.partyMemberOverflow_e45a82 {
			color: $low;
			background: $high;
		}
		.base_eb1a4c,
		.defaultColor__4bd52,
		span,
		.colorHeaderSecondary_c9946a,
		.colorStandard_c9946a {
			color: $high;
		}
		// smaller text for active now (game name etc)
		.text-sm\/normal_cf4812 {
			color: $high !important; //using important was necessary as it failed to invert colors due to a global variable
		}
		.section__00943 div {
			color: $low;
		}
	}
}
// 'Active Now' Header
.header__7d20c {
	@include titlify(2px, 4px);
}
// Close button hover
.children__91a9d {
	z-index: 1;
}
.actionButton_f8fa06:hover {
	transition: background-color 0.2s ease-in-out;
	background-color: $low;

	.icon_f8fa06 {
		transition: color 0.1s ease-in-out;
		color: $high;
	}
}
// Header divider
.tabBody__133bf:before {
	display: none;
}

.tabBar__133bf .item__133bf {
	@include buttonify(transparent, $low, $low, $high);

	&.selected_b3f026 {
		background-color: $low !important;
		color: $high;
	}
}
