// Transparencies
.scroller__9c698 {
	background: transparent;
}
.theme-dark .installationPath_fa3a82 {
	box-shadow: none;
}

// Colors
.theme-dark {
	.usageInfo_a68f86,
	.rowTitle_ec0ae0,
	.rowBody__737e5 {
		color: $low;
	}
}
