// Transparencies
.scroller_fb04e1 {
	background: transparent;
}
.theme-dark .installationPath_a6f654 {
	box-shadow: none;
}

// Colors
.theme-dark {
	.usageInfo__27106,
	.rowTitle_a6f654,
	.rowBody_a6f654 {
		color: $low;
	}
}
