// Transparencies
.scroller-2XE8rp {
    background: transparent;
}
.theme-dark .installationPath-3cStrB {
    box-shadow: none;
}

// Colors
.theme-dark {
    .usageInfo-2WQAwr,
    .rowTitle-1KYtY7,
    .rowBody-3dJTTZ {
        color: $low;
    }
}
