// Transparencies
.scroller-1TOeMq {
	background: transparent;
}
.theme-dark .installationPath-2PbaRC {
	box-shadow: none;
}

// Colors
.theme-dark {
	.usageInfo-2CQ9c7,
	.rowTitle-2MoCno,
	.rowBody-uWDd7Y {
		color: $low;
	}
}
