// Transparencies
.scroller__89969,
.sidebar_e031be,
.privateChannels__9b518,
.interactiveSelected__689f0,
.interactive__3e804,
.interactive__3e804:hover {
	background: transparent;
}

// Member hover/select animations
.theme-dark .channel__0aef5 {
	transition: color 0.2s;
	border-radius: 0;
	margin: 2px 0 2px 0;
	position: relative;

	// Animation
	.layout__59abc {
		background-color: transparent !important;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			bottom: 2px;
			transition: transform 0.4s;
			animation-name: pulsingBackground;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			box-shadow: 0 0 2px $low;
		}
	}

	// Selected channel
	&:hover .interactive__0786a,
	.interactiveSelected__689f0 {
		box-shadow: 0 1px $low, 0 -1px $low;
		color: $high;
		.layout__59abc:before {
			transform: scaleX(1);
		}
		.subtext__798a4,
		.activityText__56d3b,
		.overflow__993fa,
		.highlighted_e2e5df {
			color: $high;
		}
		.avatar__7bd22, // Home icons like friends, Library, nitro
        .closeButton__116c3, // Close DM button on DM list when hovering
		.content_b5e449 {
			z-index: 1;
		}
	}
}
