// Transparencies
.scroller_c47fa9,
.sidebar_a4d4d9,
.privateChannels_f0963d,
.interactiveSelected_c91bad,
.interactive_c91bad,
.interactive_c91bad:hover {
	background: transparent;
}

// Member hover/select animations
.theme-dark .channel_c91bad {
	transition: color 0.2s;
	border-radius: 0;
	margin: 2px 0 2px 0;
	position: relative;

	// Animation
	.layout_f9647d {
		background-color: transparent !important;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			bottom: 2px;
			transition: transform 0.4s;
			animation-name: pulsingBackground;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			box-shadow: 0 0 2px $low;
		}
	}

	// Selected channel
	&:hover .interactive_f5eb4b,
	.interactiveSelected_c91bad {
		box-shadow: 0 1px $low, 0 -1px $low;
		color: $high;
		.layout_f9647d:before {
			transform: scaleX(1);
		}
		.subtext_c91bad,
		.activityText_c91bad,
		.overflow_c74e70,
		.highlighted_f9647d {
			color: $high;
		}
		.avatar_f9647d, // Home icons like friends, Library, nitro
        .closeButton_c91bad, // Close DM button on DM list when hovering
		.content_f9647d {
			z-index: 1;
		}
	}
}
