// Transparencies
.scroller__4b984,
.sidebar_ded4b5,
.privateChannels__93473,
.interactiveSelected_ec846b,
.interactive_a868bc,
.interactive_a868bc:hover {
	background: transparent;
}

// Member hover/select animations
.theme-dark .channel_c21703 {
	transition: color 0.2s;
	border-radius: 0;
	margin: 2px 0 2px 0;
	position: relative;

	// Animation
	.layout__59abc {
		background-color: transparent !important;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			bottom: 2px;
			transition: transform 0.4s;
			animation-name: pulsingBackground;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			box-shadow: 0 0 2px $low;
		}
	}

	// Selected channel
	&:hover .interactive__776ee,
	.interactiveSelected_ec846b {
		box-shadow: 0 1px $low, 0 -1px $low;
		color: $high;
		.layout__59abc:before {
			transform: scaleX(1);
		}
		.subtext__623a0,
		.activityText__84949,
		.overflow__87fe8,
		.highlighted__7bba7 {
			color: $high;
		}
		.avatar__7bd22, // Home icons like friends, Library, nitro
        .closeButton__8f1fd, // Close DM button on DM list when hovering
		.content_f767b8 {
			z-index: 1;
		}
	}
}
