@use '../vars/vars' as *;
// friends screen in home page

// transparencies
// # main body
._133bf5eea8e33a34-nowPlayingColumn,
._7d20cf18f8a2784c-container,
.visual-refresh ._133bf5eea8e33a34-tabBody {
  background: transparent;
}

// # header borders
.visual-refresh ._9293f6b2fc12398a-container {
  border-bottom: none;
}

// Active now
._7e549558f336cddb-itemCard {
  border: none;
  @include boxify($high, $mid, 3px);

}

.visual-refresh .bf1984a18b3ec6f0-outer.bf1984a18b3ec6f0-interactive,
.visual-refresh .bf1984a18b3ec6f0-outer.bf1984a18b3ec6f0-interactive:hover {
  background-color: $mid;
}