// home.scss contains transparencies and miscellaneous modifications

@use '../vars/vars.scss' as *;

// transparencies
// # store
.allPerksScroller_ca1a02,
.mainPageScroller_ca1a02,
.visual-refresh .shop__08415,
.applicationStore_f07d62,
// # game scroller
.scroller__4a84a,
// # main containers
.visual-refresh .homeWrapper__0920e,
.visual-refresh .container__133bf {
  background: transparent;
}

// header border
.visual-refresh .container__133bf {
  border-top: none;
}

// sidebar header border
.visual-refresh .searchBar__35e86 {
  border-bottom: none;
}

// sidebar divider between DMs and upper sections
.visual-refresh .sectionDivider__35e86 {
  display: none;
}

// "Find or start a conversation" button above private message channels
// You can find the styling for the prompt itself in app/prompts.scss
.searchBar__35e86 {
  padding-right: 7px;
  padding-left: 35px;
}

.lookFilled__201d5.colorPrimary__201d5 {
  border-radius: 0;
  padding: 0;

  @include buttonify($high-mid, $low, $low, $high);

  .contents__201d5 {
    padding: 0px 8px;
  }
}