// icon.scss contains styling for the discord home icon. see the light/dark/night variants for the YoRHa icon styling

@use '../vars/vars.scss' as *;

._1f388bcaa446c0c8-tutorialContainer {
  ._650eb104245d257b-listItem {
    height: 60px;
  }

  .cc5dd25190031396-svg {
    height: 60px;
    top: 0;

    animation: y-spin 12s ease-in-out infinite;

    mask {
      display: none;
    }

    ._6e9f8dce4cc18de3-childWrapper {
      display: none;
    }
  }
}