@use '../vars/vars.scss' as *;

/* Transparencies */
.shopScroll__6db1d,
.visual-refresh ._084152b107f71237-shop,
.visual-refresh ._6db1d32c47b6ad72-shop {
	background: transparent;
	background-color: transparent;
}

/* Shop */
.visual-refresh ._8067953d83f4b8a8-headerBar {
	background: $high-trans;
}

.visual-refresh .shopCard_c3d04b {
	background-color: $low;
	border-radius: 0px;
	border: 1px $mid;

	&:hover {
		border: 1px $mid;
		box-shadow: 4px 4px 0 $low;
	}
}

.visual-refresh .darkCardBackground_c3d04b,
.visual-refresh .lightCardBackground_c3d04b {
	background-color: $mid;
}

._084152b107f71237-featuredBlock {
	border-radius: 0px;

	&:hover {
		top: -4px;
		filter: drop-shadow(4px 4px 0 $low);
	}
}

._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorWhite {
	color: $low;
	background-color: $high;

	&:hover {
		color: $high;
		background-color: $low;
	}
}

._8067953d83f4b8a8-discordLogo {
	color: $low;
}