// Storing this here because formatters are really stupid about the parenthesis
$aria-label-text-limited: 'Text (Limited) icon';
$aria-label-text-age-restricted: 'Text (Age-Restricted) icon';
$aria-label-voice: 'Voice icon';
$aria-label-voice-limited: 'Voice (Limited) icon';
$aria-label-text-active-threads: 'Text (Active Threads) icon'