.default-colors,
:root {
	--red-100: var(--red-100-hsl);
	--red-130: var(--red-130-hsl);
	--red-160: var(--red-160-hsl);
	--red-200: var(--red-200-hsl);
	--red-230: var(--red-230-hsl);
	--red-260: var(--red-260-hsl);
	--red-300: var(--red-300-hsl);
	--red-330: var(--red-330-hsl);
	--red-345: var(--red-345-hsl);
	--red-360: var(--red-360-hsl);
	--red-400: var(--red-400-hsl);
	--red-430: var(--red-430-hsl);
	--red-460: var(--red-460-hsl);
	--red-500: var(--red-500-hsl);
	--red-530: var(--red-530-hsl);
	--red-560: var(--red-560-hsl);
	--red-600: var(--red-600-hsl);
	--red-630: var(--red-630-hsl);
	--red-660: var(--red-660-hsl);
	--red-700: var(--red-700-hsl);
	--red-730: var(--red-730-hsl);
	--red-760: var(--red-760-hsl);
	--red-800: var(--red-800-hsl);
	--red-830: var(--red-830-hsl);
	--red-860: var(--red-860-hsl);
	--red-900: var(--red-900-hsl);
	--red-100-hsl: var(--color-alert);
	--red-130-hsl: var(--color-alert);
	--red-160-hsl: var(--color-alert);
	--red-200-hsl: var(--color-alert);
	--red-230-hsl: var(--color-alert);
	--red-260-hsl: var(--color-alert);
	--red-300-hsl: var(--color-alert);
	--red-330-hsl: var(--color-alert);
	--red-345-hsl: var(--color-alert);
	--red-360-hsl: var(--color-alert);
	--red-400-hsl: var(--color-alert);
	--red-430-hsl: var(--color-alert);
	--red-460-hsl: var(--color-alert);
	--red-500-hsl: var(--color-alert);
	--red-530-hsl: var(--color-alert);
	--red-560-hsl: var(--color-alert);
	--red-600-hsl: var(--color-alert);
	--red-630-hsl: var(--color-alert);
	--red-660-hsl: var(--color-alert);
	--red-700-hsl: var(--color-alert);
	--red-730-hsl: var(--color-alert);
	--red-760-hsl: var(--color-alert);
	--red-800-hsl: var(--color-alert);
	--red-830-hsl: var(--color-alert);
	--red-860-hsl: var(--color-alert);
	--red-900-hsl: var(--color-alert);

	--radius-none: 0;
	--radius-xs: 0;
	--radius-sm: 0;
	--radius-md: 0;
	--radius-lg: 0;
	--radius-xl: 0;
	--radius-xxl: 0;
	--radius-round: 0;

	// --orange-100: hsl(var(--orange-100-hsl) / 1);
	// --orange-100-hsl: 18 calc(var(--saturation-factor, 1) * 100%) 98%;
	// --orange-130: hsl(var(--orange-130-hsl) / 1);
	// --orange-130-hsl: 23 calc(var(--saturation-factor, 1) * 100%) 96.5%;
	// --orange-160: hsl(var(--orange-160-hsl) / 1);
	// --orange-160-hsl: 21 calc(var(--saturation-factor, 1) * 93.9%) 93.5%;
	// --orange-200: hsl(var(--orange-200-hsl) / 1);
	// --orange-200-hsl: 21 calc(var(--saturation-factor, 1) * 92.3%) 89.8%;
	// --orange-230: hsl(var(--orange-230-hsl) / 1);
	// --orange-230-hsl: 24 calc(var(--saturation-factor, 1) * 92.5%) 84.3%;
	// --orange-260: hsl(var(--orange-260-hsl) / 1);
	// --orange-260-hsl: 23 calc(var(--saturation-factor, 1) * 94.5%) 78.6%;
	// --orange-300: hsl(var(--orange-300-hsl) / 1);
	// --orange-300-hsl: 25 calc(var(--saturation-factor, 1) * 94.6%) 71.2%;
	// --orange-330: hsl(var(--orange-330-hsl) / 1);
	// --orange-330-hsl: 27 calc(var(--saturation-factor, 1) * 94.7%) 62.7%;
	// --orange-345: hsl(var(--orange-345-hsl) / 1);
	// --orange-345-hsl: 28 calc(var(--saturation-factor, 1) * 87.7%) 55.5%;
	// --orange-360: hsl(var(--orange-360-hsl) / 1);
	// --orange-360-hsl: 26 calc(var(--saturation-factor, 1) * 71.3%) 50.8%;
	// --orange-400: hsl(var(--orange-400-hsl) / 1);
	// --orange-400-hsl: 25 calc(var(--saturation-factor, 1) * 67.5%) 45.9%;
	// --orange-430: hsl(var(--orange-430-hsl) / 1);
	// --orange-430-hsl: 25 calc(var(--saturation-factor, 1) * 69.5%) 39.8%;
	// --orange-460: hsl(var(--orange-460-hsl) / 1);
	// --orange-460-hsl: 24 calc(var(--saturation-factor, 1) * 72.2%) 35.3%;
	// --orange-500: hsl(var(--orange-500-hsl) / 1);
	// --orange-500-hsl: 22 calc(var(--saturation-factor, 1) * 76.1%) 31.2%;
	// --orange-530: hsl(var(--orange-530-hsl) / 1);
	// --orange-530-hsl: 22 calc(var(--saturation-factor, 1) * 77%) 27.3%;
	// --orange-560: hsl(var(--orange-560-hsl) / 1);
	// --orange-560-hsl: 21 calc(var(--saturation-factor, 1) * 77.2%) 24.1%;
	// --orange-600: hsl(var(--orange-600-hsl) / 1);
	// --orange-600-hsl: 23 calc(var(--saturation-factor, 1) * 79.2%) 20.8%;
	// --orange-630: hsl(var(--orange-630-hsl) / 1);
	// --orange-630-hsl: 22 calc(var(--saturation-factor, 1) * 79.2%) 18.8%;
	// --orange-660: hsl(var(--orange-660-hsl) / 1);
	// --orange-660-hsl: 22 calc(var(--saturation-factor, 1) * 78.8%) 16.7%;
	// --orange-700: hsl(var(--orange-700-hsl) / 1);
	// --orange-700-hsl: 22 calc(var(--saturation-factor, 1) * 76.3%) 14.9%;
	// --orange-730: hsl(var(--orange-730-hsl) / 1);
	// --orange-730-hsl: 22 calc(var(--saturation-factor, 1) * 78.8%) 12.9%;
	// --orange-760: hsl(var(--orange-760-hsl) / 1);
	// --orange-760-hsl: 21 calc(var(--saturation-factor, 1) * 78.9%) 11.2%;
	// --orange-800: hsl(var(--orange-800-hsl) / 1);
	// --orange-800-hsl: 21 calc(var(--saturation-factor, 1) * 80%) 9.8%;
	// --orange-830: hsl(var(--orange-830-hsl) / 1);
	// --orange-830-hsl: 20 calc(var(--saturation-factor, 1) * 76.7%) 8.4%;
	// --orange-860: hsl(var(--orange-860-hsl) / 1);
	// --orange-860-hsl: 20 calc(var(--saturation-factor, 1) * 73%) 7.3%;
	// --orange-900: hsl(var(--orange-900-hsl) / 1);
	// --orange-900-hsl: 26 calc(var(--saturation-factor, 1) * 72.4%) 5.7%;
	// --yellow-100: hsl(var(--yellow-100-hsl) / 1);
	// --yellow-100-hsl: 34 calc(var(--saturation-factor, 1) * 100%) 96.9%;
	// --yellow-130: hsl(var(--yellow-130-hsl) / 1);
	// --yellow-130-hsl: 31 calc(var(--saturation-factor, 1) * 100%) 95.5%;
	// --yellow-160: hsl(var(--yellow-160-hsl) / 1);
	// --yellow-160-hsl: 33 calc(var(--saturation-factor, 1) * 100%) 91.4%;
	// --yellow-200: hsl(var(--yellow-200-hsl) / 1);
	// --yellow-200-hsl: 35 calc(var(--saturation-factor, 1) * 97.3%) 85.5%;
	// --yellow-230: hsl(var(--yellow-230-hsl) / 1);
	// --yellow-230-hsl: 37 calc(var(--saturation-factor, 1) * 96.6%) 77.1%;
	// --yellow-260: hsl(var(--yellow-260-hsl) / 1);
	// --yellow-260-hsl: 41 calc(var(--saturation-factor, 1) * 96.8%) 62.9%;
	// --yellow-300: hsl(var(--yellow-300-hsl) / 1);
	// --yellow-300-hsl: 40 calc(var(--saturation-factor, 1) * 86.4%) 56.9%;
	// --yellow-330: hsl(var(--yellow-330-hsl) / 1);
	// --yellow-330-hsl: 40 calc(var(--saturation-factor, 1) * 75.3%) 52.4%;
	// --yellow-345: hsl(var(--yellow-345-hsl) / 1);
	// --yellow-345-hsl: 40 calc(var(--saturation-factor, 1) * 71%) 48.6%;
	// --yellow-360: hsl(var(--yellow-360-hsl) / 1);
	// --yellow-360-hsl: 39 calc(var(--saturation-factor, 1) * 74.4%) 42.9%;
	// --yellow-400: hsl(var(--yellow-400-hsl) / 1);
	// --yellow-400-hsl: 38 calc(var(--saturation-factor, 1) * 78.6%) 38.4%;
	// --yellow-430: hsl(var(--yellow-430-hsl) / 1);
	// --yellow-430-hsl: 37 calc(var(--saturation-factor, 1) * 84.4%) 32.7%;
	// --yellow-460: hsl(var(--yellow-460-hsl) / 1);
	// --yellow-460-hsl: 36 calc(var(--saturation-factor, 1) * 87.8%) 28.8%;
	// --yellow-500: hsl(var(--yellow-500-hsl) / 1);
	// --yellow-500-hsl: 36 calc(var(--saturation-factor, 1) * 93.8%) 25.1%;
	// --yellow-530: hsl(var(--yellow-530-hsl) / 1);
	// --yellow-530-hsl: 35 calc(var(--saturation-factor, 1) * 92.9%) 22.2%;
	// --yellow-560: hsl(var(--yellow-560-hsl) / 1);
	// --yellow-560-hsl: 34 calc(var(--saturation-factor, 1) * 94%) 19.6%;
	// --yellow-600: hsl(var(--yellow-600-hsl) / 1);
	// --yellow-600-hsl: 35 calc(var(--saturation-factor, 1) * 93.1%) 17.1%;
	// --yellow-630: hsl(var(--yellow-630-hsl) / 1);
	// --yellow-630-hsl: 35 calc(var(--saturation-factor, 1) * 92.4%) 15.5%;
	// --yellow-660: hsl(var(--yellow-660-hsl) / 1);
	// --yellow-660-hsl: 35 calc(var(--saturation-factor, 1) * 91.4%) 13.7%;
	// --yellow-700: hsl(var(--yellow-700-hsl) / 1);
	// --yellow-700-hsl: 34 calc(var(--saturation-factor, 1) * 90.3%) 12.2%;
	// --yellow-730: hsl(var(--yellow-730-hsl) / 1);
	// --yellow-730-hsl: 33 calc(var(--saturation-factor, 1) * 92.7%) 10.8%;
	// --yellow-760: hsl(var(--yellow-760-hsl) / 1);
	// --yellow-760-hsl: 33 calc(var(--saturation-factor, 1) * 91.7%) 9.4%;
	// --yellow-800: hsl(var(--yellow-800-hsl) / 1);
	// --yellow-800-hsl: 32 calc(var(--saturation-factor, 1) * 90.2%) 8%;
	// --yellow-830: hsl(var(--yellow-830-hsl) / 1);
	// --yellow-830-hsl: 32 calc(var(--saturation-factor, 1) * 88.9%) 7.1%;
	// --yellow-860: hsl(var(--yellow-860-hsl) / 1);
	// --yellow-860-hsl: 32 calc(var(--saturation-factor, 1) * 86.7%) 5.9%;
	// --yellow-900: hsl(var(--yellow-900-hsl) / 1);
	// --yellow-900-hsl: 36 calc(var(--saturation-factor, 1) * 83.3%) 4.7%;
	--green-100: var(--color-alert);
	--green-100-hsl: var(--color-alert);
	--green-130: var(--color-alert);
	--green-130-hsl: var(--color-alert);
	--green-160: var(--color-alert);
	--green-160-hsl: var(--color-alert);
	--green-200: var(--color-alert);
	--green-200-hsl: var(--color-alert);
	--green-230: var(--color-alert);
	--green-230-hsl: var(--color-alert);
	--green-260: var(--color-alert);
	--green-260-hsl: var(--color-alert);
	--green-300: var(--color-alert);
	--green-300-hsl: var(--color-alert);
	--green-330: var(--color-alert);
	--green-330-hsl: var(--color-alert);
	--green-345: var(--color-alert);
	--green-345-hsl: var(--color-alert);
	--green-360: var(--color-alert);
	--green-360-hsl: var(--color-alert);
	--green-400: var(--color-alert);
	--green-400-hsl: var(--color-alert);
	--green-430: var(--color-alert);
	--green-430-hsl: var(--color-alert);
	--green-460: var(--color-alert);
	--green-460-hsl: var(--color-alert);
	--green-500: var(--color-alert);
	--green-500-hsl: var(--color-alert);
	--green-530: var(--color-alert);
	--green-530-hsl: var(--color-alert);
	--green-560: var(--color-alert);
	--green-560-hsl: var(--color-alert);
	--green-600: var(--color-alert);
	--green-600-hsl: var(--color-alert);
	--green-630: var(--color-alert);
	--green-630-hsl: var(--color-alert);
	--green-660: var(--color-alert);
	--green-660-hsl: var(--color-alert);
	--green-700: var(--color-alert);
	--green-700-hsl: var(--color-alert);
	--green-730: var(--color-alert);
	--green-730-hsl: var(--color-alert);
	--green-760: var(--color-alert);
	--green-760-hsl: var(--color-alert);
	--green-800: var(--color-alert);
	--green-800-hsl: var(--color-alert);
	--green-830: var(--color-alert);
	--green-830-hsl: var(--color-alert);
	--green-860: var(--color-alert);
	--green-860-hsl: var(--color-alert);
	--green-900: var(--color-alert);
	--green-900-hsl: var(--color-alert);

	// --blue-100: hsl(var(--blue-100-hsl) / 1);
	// --blue-100-hsl: 210 calc(var(--saturation-factor, 1) * 80%) 98%;
	// --blue-130: hsl(var(--blue-130-hsl) / 1);
	// --blue-130-hsl: 210 calc(var(--saturation-factor, 1) * 87.5%) 96.9%;
	// --blue-160: hsl(var(--blue-160-hsl) / 1);
	// --blue-160-hsl: 209 calc(var(--saturation-factor, 1) * 87.1%) 93.9%;
	// --blue-200: hsl(var(--blue-200-hsl) / 1);
	// --blue-200-hsl: 206 calc(var(--saturation-factor, 1) * 92.3%) 89.8%;
	// --blue-230: hsl(var(--blue-230-hsl) / 1);
	// --blue-230-hsl: 205 calc(var(--saturation-factor, 1) * 92.5%) 84.3%;
	// --blue-260: hsl(var(--blue-260-hsl) / 1);
	// --blue-260-hsl: 204 calc(var(--saturation-factor, 1) * 94.5%) 78.4%;
	// --blue-300: hsl(var(--blue-300-hsl) / 1);
	// --blue-300-hsl: 203 calc(var(--saturation-factor, 1) * 97.4%) 69.6%;
	// --blue-330: hsl(var(--blue-330-hsl) / 1);
	// --blue-330-hsl: 201 calc(var(--saturation-factor, 1) * 100%) 59%;
	// --blue-345: hsl(var(--blue-345-hsl) / 1);
	// --blue-345-hsl: 200 calc(var(--saturation-factor, 1) * 100%) 49.4%;
	// --blue-360: hsl(var(--blue-360-hsl) / 1);
	// --blue-360-hsl: 203 calc(var(--saturation-factor, 1) * 100%) 47.5%;
	// --blue-400: hsl(var(--blue-400-hsl) / 1);
	// --blue-400-hsl: 207 calc(var(--saturation-factor, 1) * 100%) 46.1%;
	// --blue-430: hsl(var(--blue-430-hsl) / 1);
	// --blue-430-hsl: 212 calc(var(--saturation-factor, 1) * 100%) 45.3%;
	// --blue-460: hsl(var(--blue-460-hsl) / 1);
	// --blue-460-hsl: 214 calc(var(--saturation-factor, 1) * 100%) 41%;
	// --blue-500: hsl(var(--blue-500-hsl) / 1);
	// --blue-500-hsl: 213 calc(var(--saturation-factor, 1) * 100%) 35.7%;
	// --blue-530: hsl(var(--blue-530-hsl) / 1);
	// --blue-530-hsl: 212 calc(var(--saturation-factor, 1) * 100%) 30.4%;
	// --blue-560: hsl(var(--blue-560-hsl) / 1);
	// --blue-560-hsl: 212 calc(var(--saturation-factor, 1) * 100%) 26.7%;
	// --blue-600: hsl(var(--blue-600-hsl) / 1);
	// --blue-600-hsl: 211 calc(var(--saturation-factor, 1) * 100%) 23.1%;
	// --blue-630: hsl(var(--blue-630-hsl) / 1);
	// --blue-630-hsl: 211 calc(var(--saturation-factor, 1) * 100%) 20.8%;
	// --blue-660: hsl(var(--blue-660-hsl) / 1);
	// --blue-660-hsl: 212 calc(var(--saturation-factor, 1) * 100%) 18.6%;
	// --blue-700: hsl(var(--blue-700-hsl) / 1);
	// --blue-700-hsl: 212 calc(var(--saturation-factor, 1) * 100%) 16.7%;
	// --blue-730: hsl(var(--blue-730-hsl) / 1);
	// --blue-730-hsl: 211 calc(var(--saturation-factor, 1) * 100%) 14.1%;
	// --blue-760: hsl(var(--blue-760-hsl) / 1);
	// --blue-760-hsl: 211 calc(var(--saturation-factor, 1) * 100%) 12.4%;
	// --blue-800: hsl(var(--blue-800-hsl) / 1);
	// --blue-800-hsl: 211 calc(var(--saturation-factor, 1) * 100%) 10.6%;
	// --blue-830: hsl(var(--blue-830-hsl) / 1);
	// --blue-830-hsl: 213 calc(var(--saturation-factor, 1) * 100%) 9.4%;
	// --blue-860: hsl(var(--blue-860-hsl) / 1);
	// --blue-860-hsl: 213 calc(var(--saturation-factor, 1) * 100%) 8.4%;
	// --blue-900: hsl(var(--blue-900-hsl) / 1);
	// --blue-900-hsl: 213 calc(var(--saturation-factor, 1) * 100%) 7.1%;

	--white: var(--white-hsl);
	--white-100: var(--white-100-hsl);
	--white-130: var(--white-130-hsl);
	--white-160: var(--white-160-hsl);
	--white-200: var(--white-200-hsl);
	--white-230: var(--white-230-hsl);
	--white-260: var(--white-260-hsl);
	--white-300: var(--white-300-hsl);
	--white-330: var(--white-330-hsl);
	--white-345: var(--white-345-hsl);
	--white-360: var(--white-360-hsl);
	--white-400: var(--white-400-hsl);
	--white-430: var(--white-430-hsl);
	--white-460: var(--white-460-hsl);
	--white-500: var(--white-500-hsl);
	--white-530: var(--white-530-hsl);
	--white-560: var(--white-560-hsl);
	--white-600: var(--white-600-hsl);
	--white-630: var(--white-630-hsl);

	--white-hsl: var(--color-high);
	--white-100-hsl: var(--color-high);
	--white-130-hsl: var(--color-high);
	--white-160-hsl: var(--color-high);
	--white-200-hsl: var(--color-high);
	--white-230-hsl: var(--color-high);
	--white-260-hsl: var(--color-high);
	--white-300-hsl: var(--color-high);
	--white-330-hsl: var(--color-high);
	--white-345-hsl: var(--color-high);
	--white-360-hsl: var(--color-high);
	--white-400-hsl: var(--color-high);
	--white-430-hsl: var(--color-high);
	--white-460-hsl: var(--color-high);
	--white-500-hsl: var(--color-high);
	--white-530-hsl: var(--color-high);
	--white-560-hsl: var(--color-high);
	--white-600-hsl: var(--color-high);
	--white-630-hsl: var(--color-high);
	--white-660-hsl: var(--color-high);
	--white-700-hsl: var(--color-high);
	--white-730-hsl: var(--color-high);
	--white-760-hsl: var(--color-high);
	--white-800-hsl: var(--color-high);
	--white-830-hsl: var(--color-high);
	--white-860-hsl: var(--color-high);
	--white-900-hsl: var(--color-high);

	--black: var(--black-hsl);
	--black-100: var(--black-100-hsl);
	--black-130: var(--black-130-hsl);
	--black-160: var(--black-160-hsl);
	--black-200: var(--black-200-hsl);
	--black-230: var(--black-230-hsl);
	--black-260: var(--black-260-hsl);
	--black-300: var(--black-300-hsl);
	--black-330: var(--black-330-hsl);
	--black-345: var(--black-345-hsl);
	--black-360: var(--black-360-hsl);
	--black-400: var(--black-400-hsl);
	--black-430: var(--black-430-hsl);
	--black-460: var(--black-460-hsl);
	--black-500: var(--black-500-hsl);
	--black-530: var(--black-530-hsl);
	--black-560: var(--black-560-hsl);
	--black-600: var(--black-600-hsl);
	--black-630: var(--black-630-hsl);

	--black-hsl: var(--color-low);
	--black-100-hsl: var(--color-low);
	--black-130-hsl: var(--color-low);
	--black-160-hsl: var(--color-low);
	--black-200-hsl: var(--color-low);
	--black-230-hsl: var(--color-low);
	--black-260-hsl: var(--color-low);
	--black-300-hsl: var(--color-low);
	--black-330-hsl: var(--color-low);
	--black-345-hsl: var(--color-low);
	--black-360-hsl: var(--color-low);
	--black-400-hsl: var(--color-low);
	--black-430-hsl: var(--color-low);
	--black-460-hsl: var(--color-low);
	--black-500-hsl: var(--color-low);
	--black-530-hsl: var(--color-low);
	--black-560-hsl: var(--color-low);
	--black-600-hsl: var(--color-low);
	--black-630-hsl: var(--color-low);
	--black-660-hsl: var(--color-low);
	--black-700-hsl: var(--color-low);
	--black-730-hsl: var(--color-low);
	--black-760-hsl: var(--color-low);
	--black-800-hsl: var(--color-low);
	--black-830-hsl: var(--color-low);
	--black-860-hsl: var(--color-low);
	--black-900-hsl: var(--color-low);

	--brand-100: var(--color-alert);
	--brand-100-hsl: 240 calc(var(--saturation-factor, 1) * 77.8%) 98.2%;
	--brand-130: var(--color-alert);
	--brand-130-hsl: 236 calc(var(--saturation-factor, 1) * 87.5%) 96.9%;
	--brand-160: var(--color-alert);
	--brand-160-hsl: 235 calc(var(--saturation-factor, 1) * 84.6%) 94.9%;
	--brand-200: var(--color-alert);
	--brand-200-hsl: 236 calc(var(--saturation-factor, 1) * 83.3%) 92.9%;
	--brand-230: var(--color-alert);
	--brand-230-hsl: 236 calc(var(--saturation-factor, 1) * 87%) 91%;
	--brand-260: var(--color-alert);
	--brand-260-hsl: 235 calc(var(--saturation-factor, 1) * 86.2%) 88.6%;
	--brand-300: var(--color-alert);
	--brand-300-hsl: 235 calc(var(--saturation-factor, 1) * 86.1%) 85.9%;
	--brand-330: var(--color-alert);
	--brand-330-hsl: 235 calc(var(--saturation-factor, 1) * 85.1%) 81.6%;
	--brand-345: var(--color-alert);
	--brand-345-hsl: 235 calc(var(--saturation-factor, 1) * 85.2%) 78.8%;
	--brand-360: var(--color-alert);
	--brand-360-hsl: 235 calc(var(--saturation-factor, 1) * 86.1%) 77.5%;
	--brand-400: var(--color-alert);
	--brand-400-hsl: 235 calc(var(--saturation-factor, 1) * 86.1%) 71.8%;
	--brand-430: var(--color-alert);
	--brand-430-hsl: 235 calc(var(--saturation-factor, 1) * 85.7%) 69.8%;
	--brand-460: var(--color-alert);
	--brand-460-hsl: 235 calc(var(--saturation-factor, 1) * 85.5%) 67.5%;
	--brand-500: var(--color-alert);
	--brand-500-hsl: 235 calc(var(--saturation-factor, 1) * 85.6%) 64.7%;
	--brand-530: var(--color-alert);
	--brand-530-hsl: 235 calc(var(--saturation-factor, 1) * 66.7%) 58.8%;
	--brand-560: var(--color-low);
	--brand-560-hsl: 235 calc(var(--saturation-factor, 1) * 51.4%) 52.4%;
	--brand-600: var(--color-alert);
	--brand-600-hsl: 235 calc(var(--saturation-factor, 1) * 46.7%) 44.1%;
	--brand-630: var(--color-alert);
	--brand-630-hsl: 235 calc(var(--saturation-factor, 1) * 46.7%) 38.2%;
	--brand-660: var(--color-alert);
	--brand-660-hsl: 235 calc(var(--saturation-factor, 1) * 47.1%) 33.3%;
	--brand-700: var(--color-alert);
	--brand-700-hsl: 235 calc(var(--saturation-factor, 1) * 47%) 25.9%;
	--brand-730: var(--color-alert);
	--brand-730-hsl: 235 calc(var(--saturation-factor, 1) * 46.8%) 24.3%;
	--brand-760: var(--color-alert);
	--brand-760-hsl: 234 calc(var(--saturation-factor, 1) * 46.9%) 22.2%;
	--brand-800: var(--color-alert);
	--brand-800-hsl: 235 calc(var(--saturation-factor, 1) * 47.5%) 19.4%;
	--brand-830: var(--color-alert);
	--brand-830-hsl: 235 calc(var(--saturation-factor, 1) * 47.4%) 14.9%;
	--brand-860: var(--color-alert);
	--brand-860-hsl: 235 calc(var(--saturation-factor, 1) * 46.9%) 9.6%;
	--brand-900: var(--color-alert);
	--brand-900-hsl: 233 calc(var(--saturation-factor, 1) * 50%) 3.1%;

	--primary-100: var(--primary-100-hsl);
	--primary-130: var(--primary-130-hsl);
	--primary-160: var(--primary-160-hsl);
	--primary-200: var(--primary-200-hsl);
	--primary-230: var(--primary-230-hsl);
	--primary-260: var(--primary-260-hsl);
	--primary-300: var(--primary-300-hsl);
	--primary-330: var(--primary-330-hsl);
	--primary-345: var(--primary-345-hsl);
	--primary-360: var(--primary-360-hsl);
	--primary-400: var(--primary-400-hsl);
	--primary-430: var(--primary-430-hsl);
	--primary-460: var(--primary-460-hsl);
	--primary-500: var(--primary-500-hsl);
	--primary-530: var(--primary-530-hsl);
	--primary-560: var(--primary-560-hsl);
	--primary-600: var(--primary-600-hsl);
	--primary-630: var(--primary-630-hsl);
	--primary-645: var(--primary-645-hsl);
	--primary-660: var(--primary-660-hsl);
	--primary-700: var(--primary-700-hsl);
	--primary-730: var(--primary-730-hsl);
	--primary-760: var(--primary-760-hsl);
	--primary-800: var(--primary-800-hsl);
	--primary-830: var(--primary-830-hsl);
	--primary-860: var(--primary-860-hsl);
	--primary-900: var(--primary-900-hsl);
	--primary-100-hsl: var(--color-low);
	--primary-130-hsl: var(--color-low);
	--primary-160-hsl: var(--color-low);
	--primary-200-hsl: var(--color-low);
	--primary-230-hsl: var(--color-low);
	--primary-260-hsl: var(--color-low);
	--primary-300-hsl: var(--color-low);
	--primary-330-hsl: var(--color-low);
	--primary-345-hsl: var(--color-low);
	--primary-360-hsl: var(--color-mid);
	--primary-400-hsl: var(--color-mid);
	--primary-430-hsl: var(--color-mid);
	--primary-460-hsl: var(--color-mid);
	--primary-500-hsl: var(--color-mid);
	--primary-530-hsl: var(--color-mid);
	--primary-560-hsl: var(--color-mid);
	--primary-600-hsl: var(--color-mid);
	--primary-630-hsl: var(--color-mid);
	--primary-645-hsl: var(--color-high);
	--primary-660-hsl: var(--color-high);
	--primary-700-hsl: var(--color-high);
	--primary-730-hsl: var(--color-high);
	--primary-760-hsl: var(--color-high);
	--primary-800-hsl: var(--color-high);
	--primary-830-hsl: var(--color-high);
	--primary-860-hsl: var(--color-high);
	--primary-900-hsl: var(--color-high);

	--background-code: rgba(87, 84, 74, 0.6) !important;

	// --premium-tier-2-purple: hsl(var(--premium-tier-2-purple-hsl) / 1);
	// --premium-tier-2-purple-hsl: 270 calc(var(--saturation-factor, 1) * 86.7%) 70.6%;
	// --premium-tier-2-purple-for-gradients: hsl(var(--premium-tier-2-purple-for-gradients-hsl) / 1);
	// --premium-tier-2-purple-for-gradients-hsl: 269 calc(var(--saturation-factor, 1) * 52.7%) 52.7%;
	// --premium-tier-2-purple-for-gradients-2: hsl(
	// 	var(--premium-tier-2-purple-for-gradients-2-hsl) / 1
	// );
	// --premium-tier-2-purple-for-gradients-2-hsl: 296 calc(var(--saturation-factor, 1) * 50%) 51.4%;
	// --premium-tier-2-pink: hsl(var(--premium-tier-2-pink-hsl) / 1);
	// --premium-tier-2-pink-hsl: 342 calc(var(--saturation-factor, 1) * 58%) 72.9%;
	// --premium-tier-2-pink-for-gradients: hsl(var(--premium-tier-2-pink-for-gradients-hsl) / 1);
	// --premium-tier-2-pink-for-gradients-hsl: 325 calc(var(--saturation-factor, 1) * 31.7%) 51.8%;
	// --premium-tier-2-pink-for-gradients-2: hsl(var(--premium-tier-2-pink-for-gradients-2-hsl) / 1);
	// --premium-tier-2-pink-for-gradients-2-hsl: 295 calc(var(--saturation-factor, 1) * 51.4%) 50%;
	// --premium-tier-1-purple: hsl(var(--premium-tier-1-purple-hsl) / 1);
	// --premium-tier-1-purple-hsl: 244 calc(var(--saturation-factor, 1) * 100%) 84.1%;
	// --premium-tier-1-blue: hsl(var(--premium-tier-1-blue-hsl) / 1);
	// --premium-tier-1-blue-hsl: 228 calc(var(--saturation-factor, 1) * 86.7%) 70.6%;
	// --premium-tier-1-dark-blue-for-gradients: hsl(
	// 	var(--premium-tier-1-dark-blue-for-gradients-hsl) / 1
	// );
	// --premium-tier-1-dark-blue-for-gradients-hsl: 235 calc(var(--saturation-factor, 1) * 68.5%) 52.7%;
	// --premium-tier-1-blue-for-gradients: hsl(var(--premium-tier-1-blue-for-gradients-hsl) / 1);
	// --premium-tier-1-blue-for-gradients-hsl: 235 calc(var(--saturation-factor, 1) * 85.6%) 64.7%;
	// --premium-tier-0-purple: hsl(var(--premium-tier-0-purple-hsl) / 1);
	// --premium-tier-0-purple-hsl: 235 calc(var(--saturation-factor, 1) * 85.6%) 64.7%;
	// --premium-tier-0-blue: hsl(var(--premium-tier-0-blue-hsl) / 1);
	// --premium-tier-0-blue-hsl: 202 calc(var(--saturation-factor, 1) * 100%) 38%;
	// --premium-tier-0-purple-for-gradients: hsl(var(--premium-tier-0-purple-for-gradients-hsl) / 1);
	// --premium-tier-0-purple-for-gradients-hsl: 235 calc(var(--saturation-factor, 1) * 85.6%) 64.7%;
	// --premium-tier-0-blue-for-gradients: hsl(var(--premium-tier-0-blue-for-gradients-hsl) / 1);
	// --premium-tier-0-blue-for-gradients-hsl: 202 calc(var(--saturation-factor, 1) * 100%) 38%;
	// --premium-tier-0-blue-for-gradients-2: hsl(var(--premium-tier-0-blue-for-gradients-2-hsl) / 1);
	// --premium-tier-0-blue-for-gradients-2-hsl: 209 calc(var(--saturation-factor, 1) * 80%) 45.1%;
	// --premium-tier-0-header-gradient-1: hsl(var(--premium-tier-0-header-gradient-1-hsl) / 1);
	// --premium-tier-0-header-gradient-1-hsl: 240 calc(var(--saturation-factor, 1) * 55.2%) 47.3%;
	// --premium-tier-0-header-gradient-2: hsl(var(--premium-tier-0-header-gradient-2-hsl) / 1);
	// --premium-tier-0-header-gradient-2-hsl: 224 calc(var(--saturation-factor, 1) * 77.9%) 59.2%;
	// --premium-tier-0-header-gradient-3: hsl(var(--premium-tier-0-header-gradient-3-hsl) / 1);
	// --premium-tier-0-header-gradient-3-hsl: 246 calc(var(--saturation-factor, 1) * 74.4%) 69.4%;
	// --premium-tier-0-header-gradient-4: hsl(var(--premium-tier-0-header-gradient-4-hsl) / 1);
	// --premium-tier-0-header-gradient-4-hsl: 295 calc(var(--saturation-factor, 1) * 79.9%) 72.7%;
	// --premium-tier-0-header-gradient-5: hsl(var(--premium-tier-0-header-gradient-5-hsl) / 1);
	// --premium-tier-0-header-gradient-5-hsl: 336 calc(var(--saturation-factor, 1) * 55.2%) 72%;
	// --guild-boosting-pink: hsl(var(--guild-boosting-pink-hsl) / 1);
	// --guild-boosting-pink-hsl: 302 calc(var(--saturation-factor, 1) * 100%) 72.5%;
	// --guild-boosting-purple: hsl(var(--guild-boosting-purple-hsl) / 1);
	// --guild-boosting-purple-hsl: 269 calc(var(--saturation-factor, 1) * 83.8%) 71%;
	// --guild-boosting-blue: hsl(var(--guild-boosting-blue-hsl) / 1);
	// --guild-boosting-blue-hsl: 221 calc(var(--saturation-factor, 1) * 70%) 55.5%;
	// --guild-boosting-blue-for-gradients: hsl(var(--guild-boosting-blue-for-gradients-hsl) / 1);
	// --guild-boosting-blue-for-gradients-hsl: 235 calc(var(--saturation-factor, 1) * 68.5%) 52.7%;
	// --guild-boosting-purple-for-gradients: hsl(var(--guild-boosting-purple-for-gradients-hsl) / 1);
	// --guild-boosting-purple-for-gradients-hsl: 269 calc(var(--saturation-factor, 1) * 91.8%) 61.8%;
	// --premium-perk-green: hsl(var(--premium-perk-green-hsl) / 1);
	// --premium-perk-green-hsl: 164 calc(var(--saturation-factor, 1) * 55.1%) 69.4%;
	// --premium-perk-yellow: hsl(var(--premium-perk-yellow-hsl) / 1);
	// --premium-perk-yellow-hsl: 47 calc(var(--saturation-factor, 1) * 98.9%) 63.9%;
	// --premium-perk-purple: hsl(var(--premium-perk-purple-hsl) / 1);
	// --premium-perk-purple-hsl: 272 calc(var(--saturation-factor, 1) * 100%) 80.2%;
	// --premium-perk-pink: hsl(var(--premium-perk-pink-hsl) / 1);
	// --premium-perk-pink-hsl: 305 calc(var(--saturation-factor, 1) * 100%) 75.1%;
	// --premium-perk-dark-blue: hsl(var(--premium-perk-dark-blue-hsl) / 1);
	// --premium-perk-dark-blue-hsl: 220 calc(var(--saturation-factor, 1) * 67.4%) 55.5%;
	// --premium-perk-blue: hsl(var(--premium-perk-blue-hsl) / 1);
	// --premium-perk-blue-hsl: 222 calc(var(--saturation-factor, 1) * 100%) 75.1%;
	// --premium-perk-blue-alt: hsl(var(--premium-perk-blue-alt-hsl) / 1);
	// --premium-perk-blue-alt-hsl: 223 calc(var(--saturation-factor, 1) * 100%) 80.6%;
	// --premium-perk-light-blue: hsl(var(--premium-perk-light-blue-hsl) / 1);
	// --premium-perk-light-blue-hsl: 221 calc(var(--saturation-factor, 1) * 100%) 84.1%;
	// --premium-perk-orange: hsl(var(--premium-perk-orange-hsl) / 1);
	// --premium-perk-orange-hsl: 25 calc(var(--saturation-factor, 1) * 96.7%) 64.1%;
	// --premium-perk-gold: hsl(var(--premium-perk-gold-hsl) / 1);
	// --premium-perk-gold-hsl: 38 calc(var(--saturation-factor, 1) * 95.7%) 54.1%;
	// --creator-revenue-start: hsl(var(--creator-revenue-start-hsl) / 1);
	// --creator-revenue-start-hsl: 160 calc(var(--saturation-factor, 1) * 81.3%) 35.7%;
	// --creator-revenue-end: hsl(var(--creator-revenue-end-hsl) / 1);
	// --creator-revenue-end-hsl: 198 calc(var(--saturation-factor, 1) * 81.5%) 46.7%;
	// --application-subscription-start: hsl(var(--application-subscription-start-hsl) / 1);
	// --application-subscription-start-hsl: 235 calc(var(--saturation-factor, 1) * 68.5%) 52.7%;
	// --application-subscription-end: hsl(var(--application-subscription-end-hsl) / 1);
	// --application-subscription-end-hsl: 197 calc(var(--saturation-factor, 1) * 98.8%) 32.4%;
	// --hypesquad-house-1: hsl(var(--hypesquad-house-1-hsl) / 1);
	// --hypesquad-house-1-hsl: 253 calc(var(--saturation-factor, 1) * 77%) 72.7%;
	// --hypesquad-house-2: hsl(var(--hypesquad-house-2-hsl) / 1);
	// --hypesquad-house-2-hsl: 9 calc(var(--saturation-factor, 1) * 86.5%) 68%;
	// --hypesquad-house-3: hsl(var(--hypesquad-house-3-hsl) / 1);
	// --hypesquad-house-3-hsl: 169 calc(var(--saturation-factor, 1) * 69.1%) 56.9%;
	// --gold: hsl(var(--gold-hsl) / 1);
	// --gold-hsl: 46 calc(var(--saturation-factor, 1) * 100%) 54.9%;
	// --partner: hsl(var(--partner-hsl) / 1);
	// --partner-hsl: 215 calc(var(--saturation-factor, 1) * 82.8%) 59%;
	// --skype: hsl(var(--skype-hsl) / 1);
	// --skype-hsl: 196 calc(var(--saturation-factor, 1) * 100%) 42.2%;
	// --battlenet: hsl(var(--battlenet-hsl) / 1);
	// --battlenet-hsl: 200 calc(var(--saturation-factor, 1) * 100%) 44.9%;
	// --steam: hsl(var(--steam-hsl) / 1);
	// --steam-hsl: 215 calc(var(--saturation-factor, 1) * 35.1%) 14.5%;
	// --lol: hsl(var(--lol-hsl) / 1);
	// --lol-hsl: 190 calc(var(--saturation-factor, 1) * 89.7%) 7.6%;
	// --twitch: hsl(var(--twitch-hsl) / 1);
	// --twitch-hsl: 262 calc(var(--saturation-factor, 1) * 46.8%) 39.8%;
	// --youtube: hsl(var(--youtube-hsl) / 1);
	// --youtube-hsl: 0 calc(var(--saturation-factor, 1) * 72.8%) 46.1%;
	// --twitter: hsl(var(--twitter-hsl) / 1);
	// --twitter-hsl: 203 calc(var(--saturation-factor, 1) * 89.1%) 53.1%;
	// --reddit: hsl(var(--reddit-hsl) / 1);
	// --reddit-hsl: 16 calc(var(--saturation-factor, 1) * 100%) 50%;
	// --spotify: hsl(var(--spotify-hsl) / 1);
	// --spotify-hsl: 141 calc(var(--saturation-factor, 1) * 72.9%) 42%;
	// --facebook: hsl(var(--facebook-hsl) / 1);
	// --facebook-hsl: 221 calc(var(--saturation-factor, 1) * 44.2%) 37.3%;
	// --samsung: hsl(var(--samsung-hsl) / 1);
	// --samsung-hsl: 231 calc(var(--saturation-factor, 1) * 77.8%) 35.3%;
	// --xbox: hsl(var(--xbox-hsl) / 1);
	// --xbox-hsl: 120 calc(var(--saturation-factor, 1) * 77.1%) 27.5%;
	// --github: hsl(var(--github-hsl) / 1);
	// --github-hsl: 0 calc(var(--saturation-factor, 1) * 4.2%) 9.4%;
	// --playstation: hsl(var(--playstation-hsl) / 1);
	// --playstation-hsl: 220 calc(var(--saturation-factor, 1) * 95.7%) 27.1%;
	// --crunchyroll: hsl(var(--crunchyroll-hsl) / 1);
	// --crunchyroll-hsl: 29 calc(var(--saturation-factor, 1) * 93%) 55.5%;
	// --bg-gradient-mint-apple-1: hsl(var(--bg-gradient-mint-apple-1-hsl) / 1);
	// --bg-gradient-mint-apple-1-hsl: 166 calc(var(--saturation-factor, 1) * 39.7%) 52.5%;
	// --bg-gradient-mint-apple-2: hsl(var(--bg-gradient-mint-apple-2-hsl) / 1);
	// --bg-gradient-mint-apple-2-hsl: 119 calc(var(--saturation-factor, 1) * 40.4%) 55.9%;
	// --bg-gradient-mint-apple-3: hsl(var(--bg-gradient-mint-apple-3-hsl) / 1);
	// --bg-gradient-mint-apple-3-hsl: 87 calc(var(--saturation-factor, 1) * 48.3%) 59.8%;
	// --bg-gradient-citrus-sherbert-1: hsl(var(--bg-gradient-citrus-sherbert-1-hsl) / 1);
	// --bg-gradient-citrus-sherbert-1-hsl: 40 calc(var(--saturation-factor, 1) * 88.7%) 58.2%;
	// --bg-gradient-citrus-sherbert-2: hsl(var(--bg-gradient-citrus-sherbert-2-hsl) / 1);
	// --bg-gradient-citrus-sherbert-2-hsl: 18 calc(var(--saturation-factor, 1) * 81.5%) 63.9%;
	// --bg-gradient-retro-raincloud-1: hsl(var(--bg-gradient-retro-raincloud-1-hsl) / 1);
	// --bg-gradient-retro-raincloud-1-hsl: 202 calc(var(--saturation-factor, 1) * 47%) 42.9%;
	// --bg-gradient-retro-raincloud-2: hsl(var(--bg-gradient-retro-raincloud-2-hsl) / 1);
	// --bg-gradient-retro-raincloud-2-hsl: 241 calc(var(--saturation-factor, 1) * 29.6%) 61%;
	// --bg-gradient-hanami-1: hsl(var(--bg-gradient-hanami-1-hsl) / 1);
	// --bg-gradient-hanami-1-hsl: 352 calc(var(--saturation-factor, 1) * 68.3%) 80.2%;
	// --bg-gradient-hanami-2: hsl(var(--bg-gradient-hanami-2-hsl) / 1);
	// --bg-gradient-hanami-2-hsl: 43 calc(var(--saturation-factor, 1) * 73.6%) 76.3%;
	// --bg-gradient-hanami-3: hsl(var(--bg-gradient-hanami-3-hsl) / 1);
	// --bg-gradient-hanami-3-hsl: 116 calc(var(--saturation-factor, 1) * 43.1%) 74.5%;
	// --bg-gradient-sunrise-1: hsl(var(--bg-gradient-sunrise-1-hsl) / 1);
	// --bg-gradient-sunrise-1-hsl: 327 calc(var(--saturation-factor, 1) * 42%) 43.9%;
	// --bg-gradient-sunrise-2: hsl(var(--bg-gradient-sunrise-2-hsl) / 1);
	// --bg-gradient-sunrise-2-hsl: 27 calc(var(--saturation-factor, 1) * 44.9%) 58%;
	// --bg-gradient-sunrise-3: hsl(var(--bg-gradient-sunrise-3-hsl) / 1);
	// --bg-gradient-sunrise-3-hsl: 50 calc(var(--saturation-factor, 1) * 46.3%) 44.5%;
	// --bg-gradient-cotton-candy-1: hsl(var(--bg-gradient-cotton-candy-1-hsl) / 1);
	// --bg-gradient-cotton-candy-1-hsl: 349 calc(var(--saturation-factor, 1) * 76.8%) 81.4%;
	// --bg-gradient-cotton-candy-2: hsl(var(--bg-gradient-cotton-candy-2-hsl) / 1);
	// --bg-gradient-cotton-candy-2-hsl: 226 calc(var(--saturation-factor, 1) * 92.6%) 84.1%;
	// --bg-gradient-lofi-vibes-1: hsl(var(--bg-gradient-lofi-vibes-1-hsl) / 1);
	// --bg-gradient-lofi-vibes-1-hsl: 220 calc(var(--saturation-factor, 1) * 83.8%) 80.6%;
	// --bg-gradient-lofi-vibes-2: hsl(var(--bg-gradient-lofi-vibes-2-hsl) / 1);
	// --bg-gradient-lofi-vibes-2-hsl: 184 calc(var(--saturation-factor, 1) * 57.8%) 78.6%;
	// --bg-gradient-lofi-vibes-3: hsl(var(--bg-gradient-lofi-vibes-3-hsl) / 1);
	// --bg-gradient-lofi-vibes-3-hsl: 130 calc(var(--saturation-factor, 1) * 46.3%) 78.8%;
	// --bg-gradient-lofi-vibes-4: hsl(var(--bg-gradient-lofi-vibes-4-hsl) / 1);
	// --bg-gradient-lofi-vibes-4-hsl: 76 calc(var(--saturation-factor, 1) * 48.8%) 75.5%;
	// --bg-gradient-desert-khaki-1: hsl(var(--bg-gradient-desert-khaki-1-hsl) / 1);
	// --bg-gradient-desert-khaki-1-hsl: 29 calc(var(--saturation-factor, 1) * 32.4%) 86.1%;
	// --bg-gradient-desert-khaki-2: hsl(var(--bg-gradient-desert-khaki-2-hsl) / 1);
	// --bg-gradient-desert-khaki-2-hsl: 40 calc(var(--saturation-factor, 1) * 41.3%) 78.6%;
	// --bg-gradient-desert-khaki-3: hsl(var(--bg-gradient-desert-khaki-3-hsl) / 1);
	// --bg-gradient-desert-khaki-3-hsl: 50 calc(var(--saturation-factor, 1) * 49.6%) 75.9%;
	// --bg-gradient-sunset-1: hsl(var(--bg-gradient-sunset-1-hsl) / 1);
	// --bg-gradient-sunset-1-hsl: 259 calc(var(--saturation-factor, 1) * 55.6%) 35.3%;
	// --bg-gradient-sunset-2: hsl(var(--bg-gradient-sunset-2-hsl) / 1);
	// --bg-gradient-sunset-2-hsl: 22 calc(var(--saturation-factor, 1) * 66.7%) 57.6%;
	// --bg-gradient-chroma-glow-1: hsl(var(--bg-gradient-chroma-glow-1-hsl) / 1);
	// --bg-gradient-chroma-glow-1-hsl: 183 calc(var(--saturation-factor, 1) * 86.3%) 40.2%;
	// --bg-gradient-chroma-glow-2: hsl(var(--bg-gradient-chroma-glow-2-hsl) / 1);
	// --bg-gradient-chroma-glow-2-hsl: 258 calc(var(--saturation-factor, 1) * 89.8%) 46.3%;
	// --bg-gradient-chroma-glow-3: hsl(var(--bg-gradient-chroma-glow-3-hsl) / 1);
	// --bg-gradient-chroma-glow-3-hsl: 298 calc(var(--saturation-factor, 1) * 90.9%) 34.3%;
	// --bg-gradient-chroma-glow-4: hsl(var(--bg-gradient-chroma-glow-4-hsl) / 1);
	// --bg-gradient-chroma-glow-4-hsl: 265 calc(var(--saturation-factor, 1) * 100%) 66.3%;
	// --bg-gradient-chroma-glow-5: hsl(var(--bg-gradient-chroma-glow-5-hsl) / 1);
	// --bg-gradient-chroma-glow-5-hsl: 207 calc(var(--saturation-factor, 1) * 75.5%) 50.4%;
	// --bg-gradient-forest-1: hsl(var(--bg-gradient-forest-1-hsl) / 1);
	// --bg-gradient-forest-1-hsl: 124 calc(var(--saturation-factor, 1) * 25.9%) 10.6%;
	// --bg-gradient-forest-2: hsl(var(--bg-gradient-forest-2-hsl) / 1);
	// --bg-gradient-forest-2-hsl: 143 calc(var(--saturation-factor, 1) * 26.2%) 23.9%;
	// --bg-gradient-forest-3: hsl(var(--bg-gradient-forest-3-hsl) / 1);
	// --bg-gradient-forest-3-hsl: 76 calc(var(--saturation-factor, 1) * 20.6%) 24.7%;
	// --bg-gradient-forest-4: hsl(var(--bg-gradient-forest-4-hsl) / 1);
	// --bg-gradient-forest-4-hsl: 117 calc(var(--saturation-factor, 1) * 17%) 41.6%;
	// --bg-gradient-forest-5: hsl(var(--bg-gradient-forest-5-hsl) / 1);
	// --bg-gradient-forest-5-hsl: 43 calc(var(--saturation-factor, 1) * 38.5%) 47.8%;
	// --bg-gradient-crimson-moon-1: hsl(var(--bg-gradient-crimson-moon-1-hsl) / 1);
	// --bg-gradient-crimson-moon-1-hsl: 0 calc(var(--saturation-factor, 1) * 88.6%) 31%;
	// --bg-gradient-crimson-moon-2: hsl(var(--bg-gradient-crimson-moon-2-hsl) / 1);
	// --bg-gradient-crimson-moon-2-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 0%;
	// --bg-gradient-midnight-blurple-1: hsl(var(--bg-gradient-midnight-blurple-1-hsl) / 1);
	// --bg-gradient-midnight-blurple-1-hsl: 245 calc(var(--saturation-factor, 1) * 55.1%) 53.7%;
	// --bg-gradient-midnight-blurple-2: hsl(var(--bg-gradient-midnight-blurple-2-hsl) / 1);
	// --bg-gradient-midnight-blurple-2-hsl: 259 calc(var(--saturation-factor, 1) * 74.5%) 10.8%;
	// --bg-gradient-mars-1: hsl(var(--bg-gradient-mars-1-hsl) / 1);
	// --bg-gradient-mars-1-hsl: 15 calc(var(--saturation-factor, 1) * 36.3%) 39.4%;
	// --bg-gradient-mars-2: hsl(var(--bg-gradient-mars-2-hsl) / 1);
	// --bg-gradient-mars-2-hsl: 0 calc(var(--saturation-factor, 1) * 36.2%) 41.2%;
	// --bg-gradient-dusk-1: hsl(var(--bg-gradient-dusk-1-hsl) / 1);
	// --bg-gradient-dusk-1-hsl: 293 calc(var(--saturation-factor, 1) * 13.5%) 36.3%;
	// --bg-gradient-dusk-2: hsl(var(--bg-gradient-dusk-2-hsl) / 1);
	// --bg-gradient-dusk-2-hsl: 223 calc(var(--saturation-factor, 1) * 41%) 69.4%;
	// --bg-gradient-under-the-sea-1: hsl(var(--bg-gradient-under-the-sea-1-hsl) / 1);
	// --bg-gradient-under-the-sea-1-hsl: 115 calc(var(--saturation-factor, 1) * 10.5%) 42.9%;
	// --bg-gradient-under-the-sea-2: hsl(var(--bg-gradient-under-the-sea-2-hsl) / 1);
	// --bg-gradient-under-the-sea-2-hsl: 159 calc(var(--saturation-factor, 1) * 20.4%) 43.3%;
	// --bg-gradient-under-the-sea-3: hsl(var(--bg-gradient-under-the-sea-3-hsl) / 1);
	// --bg-gradient-under-the-sea-3-hsl: 175 calc(var(--saturation-factor, 1) * 10.9%) 46.7%;
	// --bg-gradient-easter-egg-1: hsl(var(--bg-gradient-easter-egg-1-hsl) / 1);
	// --bg-gradient-easter-egg-1-hsl: 227 calc(var(--saturation-factor, 1) * 58.4%) 65.1%;
	// --bg-gradient-easter-egg-2: hsl(var(--bg-gradient-easter-egg-2-hsl) / 1);
	// --bg-gradient-easter-egg-2-hsl: 227 calc(var(--saturation-factor, 1) * 31%) 44.3%;
	// --transparent: hsl(var(--transparent-hsl) / 0);
	// --transparent-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 0%;
	// --input-placeholder-text-dark: hsl(var(--input-placeholder-text-dark-hsl) / 1);
	// --input-placeholder-text-dark-hsl: 216 calc(var(--saturation-factor, 1) * 2.1%) 53.9%;
}
