.visual-refresh.theme-dark,
.visual-refresh.theme-light,
.visual-refresh .theme-light,
.visual-refresh.theme-darker,
.visual-refresh .theme-darker,
:root {
	--font-primary: var(--nier-font), 'vietnam-pro', 'Whitney', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
	--font-display: var(--nier-font), 'vietnam-pro', 'Whitney', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;

	--embed-title: var(--color-low);

	--text-primary: var(--color-low);
	--text-secondary: var(--color-low);
	--text-tertiary: var(--color-low);
	--icon-secondary: var(--color-low);
	--icon-tertiary: var(--color-low);
	--text-default: var(--color-low);

	--interactive-normal: var(--color-low);

	--message-reacted-background: var(--color-low);
	--message-reacted-text: var(--color-high);

	--background-surface-higher: var(--color-high);
	--background-surface-high: var(--color-high);
	--background-base-low: var(--color-high);
	--background-base-lowest: var(--color-high);
	--bg-surface-overlay: var(--color-high);

	--border-subtle: var(--color-mid);

	--chat-text-muted: var(--color-mid);

	--checkbox-background-checked: var(--color-alert);
	--checkbox-border-checked: var(--color-alert);
	--checkbox-background-default: var(--color-high);
	--checkbox-border-default: var(--color-low);

	--custom-app-top-bar-height: 52px;

	--header-primary: var(--color-low);
	--header-secondary: var(--color-low);
	--text-normal: var(--color-low);
	--text-muted: var(--color-low-trans);
	--text-link: var(--color-alert);
	--text-link-low-saturation: var(--color-alert);
	--text-positive: var(--color-low);
	--text-warning: var(--color-alert);
	--text-danger: var(--color-alert);
	--text-brand: var(--color-alert);
	--interactive-normal: var(--color-low);
	--interactive-hover: var(--color-low);
	--interactive-active: var(--color-low);
	--interactive-muted: var(--color-low-trans);
	--mention-foreground: rgb(218, 212, 187);
	--mention-background: var(--color-alert-trans);
	--background-primary: var(--color-high);
	--background-secondary: var(--color-high);
	--background-secondary-alt: var(--color-high);
	--background-tertiary: var(--color-high-trans);
	--background-accent: var(--primary-530);
	--background-floating: var(--color-high);
	--background-nested-floating: var(--color-high);
	--background-mobile-primary: var(--color-high);
	--background-mobile-secondary: var(--color-high);
	// --home-background: var(--primary-645);
	--chat-background: var(--color-high);
	--chat-border: var(--color-high-trans);
	--chat-input-container-background: var(--color-high);
	--background-modifier-hover: var(--color-mid);
	--background-modifier-active: var(--color-mid);
	--background-modifier-selected: var(--color-mid);
	--background-modifier-accent: var(--color-mid);
	--info-positive-background: var(--color-mid);
	// --info-positive-foreground: var(--green-360);
	--info-positive-text: var(--color-low);
	--info-warning-background: var(--color-alert-trans);
	--info-warning-foreground: var(--color-alert);
	--info-warning-text: var(--color-alert);
	--info-danger-background: var(--color-alert-trans);
	--info-danger-foreground: var(--color-alert);
	--info-danger-text: var(--color-alert);
	--info-help-background: var(--color-alert-trans);
	--info-help-foreground: var(--blue-345);
	// --info-help-text: var(--white-500);
	--status-positive-background: var(--color-alert);
	--status-positive-text: var(--color-high);
	--status-warning-background: var(--color-alert);
	// --status-warning-text: var(--black-500);
	--status-danger-background: var(--color-alert);
	// --status-danger-text: var(--white-500);
	--status-danger: var(--color-alert);
	// --status-positive: var(--green-360);
	--status-warning: var(--color-alert);
	--button-danger-background: var(--color-alert);
	--button-danger-background-hover: var(--color-alert);
	--button-danger-background-active: var(--color-alert);
	--button-danger-background-disabled: var(--color-alert);
	--button-positive-background: var(--color-alert);
	// --button-positive-background-hover: var(--green-500);
	// --button-positive-background-active: var(--green-530);
	--button-positive-background-disabled: var(--color-alert);
	--button-secondary-background: var(--color-high-mid);
	--button-secondary-text: var(--color-low);
	--button-secondary-background-hover: var(--color-mid);


	--button-secondary-background-active: var(--color-low);
	--button-secondary-background-disabled: var(--color-low-trans);
	// --button-outline-danger-text: var(--white-500);
	--button-outline-danger-border: var(--color-alert);
	// --button-outline-danger-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-danger-background-hover: var(--color-alert);
	// --button-outline-danger-text-hover: var(--white-500);
	--button-outline-danger-border-hover: var(--color-alert);
	--button-outline-danger-background-active: var(--color-alert);
	// --button-outline-danger-text-active: var(--white-500);
	--button-outline-danger-border-active: var(--color-alert);
	// --button-outline-positive-text: var(--white-500);
	// --button-outline-positive-border: var(--green-360);
	// --button-outline-positive-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-positive-background-hover: var(--color-alert);
	// --button-outline-positive-text-hover: var(--white-500);
	--button-outline-positive-border-hover: var(--color-alert);
	// --button-outline-positive-background-active: var(--green-530);
	// --button-outline-positive-text-active: var(--white-500);
	// --button-outline-positive-border-active: var(--green-530);
	// --button-outline-brand-text: var(--white-500);
	// --button-outline-brand-border: var(--brand-500);
	// --button-outline-brand-background: hsl(var(--white-500-hsl) / 0);
	// --button-outline-brand-background-hover: var(--brand-500);
	// --button-outline-brand-text-hover: var(--white-500);
	// --button-outline-brand-border-hover: var(--brand-500);
	// --button-outline-brand-background-active: var(--brand-560);
	// --button-outline-brand-text-active: var(--white-500);
	// --button-outline-brand-border-active: var(--brand-560);
	// --button-outline-primary-text: var(--white-500);
	--button-outline-primary-border: var(--color-low-trans);
	// --button-outline-primary-background: hsl(var(--white-500-hsl) / 0);
	--button-outline-primary-background-hover: var(--color-low-trans);
	// --button-outline-primary-text-hover: var(--white-500);
	--button-outline-primary-border-hover: var(--color-low-trans);
	// --button-outline-primary-background-active: var(--primary-430);
	// --button-outline-primary-text-active: var(--white-500);
	// --button-outline-primary-border-active: var(--primary-430);
	--modal-background: var(--color-high);
	--modal-footer-background: var(--color-high);
	--scrollbar-thin-thumb: var(--color-low);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: var(--color-low);
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-thumb: var(--color-low);
	--scrollbar-auto-scrollbar-color-track: transparent;
	--input-background: var(--color-high-trans);
	--input-placeholder-text: var(--color-mid);
	// --logo-primary: var(--white-500);
	--focus-primary: var(--blue-345);
	--control-brand-foreground: var(--color-alert);
	--control-brand-foreground-new: var(--color-alert);
	--background-mentioned: var(--color-alert-trans);
	--background-mentioned-hover: var(--color-alert-trans);
	--background-message-hover: rgba(0, 0, 0, 0.1);
	--background-message-automod: var(--color-alert-trans);
	--background-message-automod-hover: var(--color-alert-trans);
	--background-message-highlight: var(--color-alert-trans);
	--background-message-highlight-hover: var(--color-alert-trans);
	--channels-default: var(--color-low);
	// --channel-icon: var(--primary-400);
	--channel-text-area-placeholder: var(--color-mid);
	// --channeltextarea-background: var(--primary-560);
	--activity-card-background: var(--color-high-trans);
	--textbox-markdown-syntax: var(--color-low);
	--spoiler-revealed-background: var(--color-high);
	--spoiler-hidden-background: var(--color-high-trans);
	// --android-navigation-bar-background: var(--primary-830);
	// --android-ripple: hsl(var(--white-500-hsl) / 0.07);
	--deprecated-card-bg: var(--color-high-trans);
	--deprecated-card-editable-bg: var(--color-high-trans);
	--deprecated-store-bg: var(--color-high);
	// --deprecated-quickswitcher-input-background: var(--primary-400);
	// --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl) / 0.3);
	--deprecated-text-input-bg: var(--color-high-trans);
	// --deprecated-text-input-border: hsl(var(--black-500-hsl) / 0.3);
	// --android-navigation-scrim-background: hsl(var(--primary-830-hsl) / 0.5);
	--bug-reporter-modal-submitting-background: hsl(var(--color-high-hsl) / 0.6);
	--forum-post-extra-media-count-container-background: hsl(var(--color-high-hsl) / 0.8);
	--forum-post-tag-background: hsl(var(--color-high-hsl) / 0.9);
	--live-stage-tile-border: var(--color-mid);
	--user-profile-header-overflow-background: var(--color-high-trans);
	--display-banner-overflow-background: var(--color-high-trans);
	--info-box-background: hsl(var(--color-alert) / 0.1);
	// --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl) / 0.8);
	// --profile-gradient-overlay: hsl(var(--black-500-hsl) / 0.6);
	// --profile-gradient-section-box: hsl(var(--black-500-hsl) / 0.45);
	// --profile-gradient-note-background: hsl(var(--black-500-hsl) / 0.3);
	// --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl) / 0.16);
	--profile-gradient-role-pill-background: var(--color-high);
	// --profile-gradient-role-pill-border: hsl(var(--white-500-hsl) / 0.2);
	// --deprecated-text-input-border-hover: var(--primary-900);
	--deprecated-text-input-border-disabled: var(--color-high-trans);
	// --deprecated-text-input-prefix: var(--primary-200);
	--badge-brand-text: var(--color-low);

	// ---------- Fucking extensive measurements and shit?
	--custom-guild-list-width: 65px;
}

[data-popout-root],
html {
	// --brand-experiment-100: var(--color-low);
	// --brand-experiment-130: var(--color-low);
	// --brand-experiment-160: var(--color-low);
	// --brand-experiment-200: var(--color-low);
	// --brand-experiment-230: var(--color-low);
	// --brand-experiment-260: var(--color-low);
	// --brand-experiment-300: var(--color-low);
	// --brand-experiment-330: var(--color-low);
	// --brand-experiment-360: var(--color-low);
	// --brand-experiment-400: var(--color-low);
	// --brand-experiment-430: var(--color-low);
	// --brand-experiment-460: var(--color-low);
	--brand-experiment: var(--color-alert);
	// --brand-experiment-500: var(--color-low);
	// --brand-experiment-530: var(--brand-530);
	// --brand-experiment-560: var(--brand-560);
	// --brand-experiment-600: var(--brand-600);
	// --brand-experiment-630: var(--brand-630);
	// --brand-experiment-660: var(--brand-660);
	// --brand-experiment-700: var(--brand-700);
	// --brand-experiment-730: var(--brand-730);
	// --brand-experiment-760: var(--brand-760);
	// --brand-experiment-800: var(--brand-800);
	// --brand-experiment-830: var(--brand-830);
	// --brand-experiment-860: var(--brand-860);
	// --brand-experiment-900: var(--brand-900);
	// --brand-experiment-05a: hsl(var(--brand-500-hsl) / 0.05);
	// --brand-experiment-10a: hsl(var(--brand-500-hsl) / 0.1);
	// --brand-experiment-15a: hsl(var(--brand-500-hsl) / 0.15);
	// --brand-experiment-20a: hsl(var(--brand-500-hsl) / 0.2);
	// --brand-experiment-25a: hsl(var(--brand-500-hsl) / 0.25);
	// --brand-experiment-30a: hsl(var(--brand-500-hsl) / 0.3);
	// --brand-experiment-35a: hsl(var(--brand-500-hsl) / 0.35);
	// --brand-experiment-40a: hsl(var(--brand-500-hsl) / 0.4);
	// --brand-experiment-45a: hsl(var(--brand-500-hsl) / 0.45);
	// --brand-experiment-50a: hsl(var(--brand-500-hsl) / 0.5);
	// --brand-experiment-55a: hsl(var(--brand-500-hsl) / 0.55);
	// --brand-experiment-60a: hsl(var(--brand-500-hsl) / 0.6);
	// --brand-experiment-65a: hsl(var(--brand-500-hsl) / 0.65);
	// --brand-experiment-70a: hsl(var(--brand-500-hsl) / 0.7);
	// --brand-experiment-75a: hsl(var(--brand-500-hsl) / 0.75);
	// --brand-experiment-80a: hsl(var(--brand-500-hsl) / 0.8);
	// --brand-experiment-85a: hsl(var(--brand-500-hsl) / 0.85);
	// --brand-experiment-90a: hsl(var(--brand-500-hsl) / 0.9);
	// --brand-experiment-95a: hsl(var(--brand-500-hsl) / 0.95);
}

.custom-user-profile-theme {
	--profile-gradient-button-color: var(--color-high-mid) !important;
}

// voice-video background?
.visual-refresh .root_bfe55a {
	background: transparent;
}