// Transparencies
.theme-dark .scroller_ef3116,
.childWrapperNoHoverBg__6e9f8,
.footer__214dc,
.wrapper_ef3116,
.scroller_ef3116 {
	background-color: transparent;
}
.wrapper_ef3116.guilds_c48ade {
	width: 65px;
}

.guildSeparator__252b6 {
	height: 0;
}
.listItem__650eb .svg_cc5dd2 foreignObject {
	mask: none;
}
.iconBadge__650eb {
	background-color: $low;
	color: $high;
	&.isCurrentUserConnected__650eb {
		background-color: $alert;
		color: $low;
	}
	&.participating-2Z81oO {
		background-color: $alert;
	}
}
.wrapper__6e9f8:hover .childWrapper__6e9f8,
.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8 {
	background-color: transparent;
}
.homeIcon-FuNwkv, // deprecated
.homeIcon__560eb {
	width: 48px;
	height: 56px;
}
// Guild icons
.wrapper_cc5dd2 > svg > mask {
	display: none;
}
.scroller_ef3116.none_d125d2.scrollerBase_d125d2 {
	.tutorialContainer__1f388 .listItem__650eb {
		height: 57px;
		.pill__1f388,
		.item__58105 {
			height: 57px !important;
		}
		.wrapperSimple_cc5dd2 {
			height: 57px;
		}
	}
	div:has(.listItem__650eb .pill_ed9a5f) {
		&:before {
			content: '';
			position: absolute;
			bottom: -4px; /* Position the pseudo-element at the bottom */
			left: 50%; /* Start at the center of the container */
			width: 75%; /* 75% width from the center */
			transform: translateX(-50%); /* Offset by 50% to keep it centered */
			border-bottom: 2px solid $low-trans; /* Your border style */
		}
		height: 55px !important;
		padding-bottom: 0px;
		margin-bottom: 12px;
		.pill_ed9a5f {
			//padding-top: 0px;
		}
	}
	.listItem__650eb:has(.guildSeparator__252b6) {
		display: none;
	}
}

.wrapperSimple_cc5dd2 {
	border-radius: 0;
}
// Folder
.expandedFolderBackground__48112 {
	border-radius: 0;
	&.collapsed__48112 {
		position: absolute;
		height: 48px;
	}
}
.scroller-2TZvBN > div[aria-label='Servers'] > .listItem-2P_4kh foreignObject {
	@include boxify($high, $mid, 3px);
}
// folder inner (color/icons)
.folderIconWrapper__48112 {
	border-radius: 0;

	.iconInactive_f34534 {
		border-radius: 0;
	}
}

.folderIconWrapper-1_bOZe {
	border-radius: 0;
}
// Servers with no icons
.acronym_fb7739 {
	color: $low !important;
}
// Selected / Unread Guild
.item__58105 {
	width: 11px;
	transition: background-color 0.2s;
	background-color: $low;
	border-radius: 0;
	height: 48px !important;
}
// Unread Guild
.item__58105[style='opacity: 1; height: 8px; transform: none;'] {
	background-color: $alert;
}
// Unread blip out of screen
.mention__3b95d {
	@include boxify($alert, $low, 3px);
}
// Notification blip
.numberBadge__2b1f5 {
	border-radius: 0;
}
// Server browser and add server button
.circleIconButton-jET_ig {
	color: $alert;

	&.selected-ugP_am {
		background-color: $alert;
		color: $high;
	}
}
// Discover screen
.theme-dark .card_e90879,
.theme-dark .iconMask_e90879 {
	@include boxify($high, $mid, 5px);
}
.theme-dark .contentWrapper__9b0f4 {
	@include boxify($high, $mid, 5px);

	.lookLink__201d5.colorBrand__201d5 {
		color: $alert;
		text-decoration-color: $alert;
	}
}

.wrapper__44df5, // You must complete a few more steps before you can talk
.container__7e919 // You can't talk in here yet
{
	@include boxify($high, $mid, 3px);
}
