// Transparencies
.wrapper_dc0b29 {
	background: transparent;
}
.header__45690,
.header_c0e32c {
	box-shadow: none;
}
.popoutContainer__0f481 // Clicking an emote
{
	@include boxify($high, $mid, 3px);
}
.full-motion .wrapper_f7ecac:hover,
.wrapper_f7ecac // Options when hovering over message
{
	@include boxify($low, $mid, 3px);

	.button_f7ecac {
		@include buttonify($low, $high, $high, $low);
	}
}
// Selected tab in header
.theme-dark .header_ab6641 .tabBar_ab6641 .tab_ab6641.active_f0cd33 {
	background-color: $alert;
	color: $high;
}
// Pick emoji
.contentWrapper__08434 {
	border: 1px solid $low;
	@include boxify($high, $mid, 4px);
}
.emojiItem_fc7141.emojiItemSelected_fc7141 {
	background: $low;
	border-radius: 0;
}
.theme-dark .backButton-3D5utk {
	color: $low;

	&:hover {
		color: $mid;
	}
}
.navButtonActive__08434 {
	background-color: $low;
	color: $high;
	border-radius: 0;
}
// Pick Sticker
.stickerInspected_c6367b .inspectedIndicator_c6367b {
	background-color: $low;
}
// Autocomplete in chatbox
.theme-dark {
	.contentTitle__13533 strong,
	.content-Qb0rXO {
		color: $low;
	}
	.divider__13533::after {
		background-color: $low;
	}
	.autocomplete__13533 {
		@include boxify($high, $mid, 4px);

		.descriptionDiscriminator__13533 {
			color: $mid;
		}
		.description-11DmNu,
		.descriptionUsername-J_75O8,
		.contentTitle__13533 {
			color: $low;
		}
	}
	// Autocomplete hovered item
	.selected_e681d1 {
		background-color: $low;
		border-radius: 0;

		.colorInteractiveNormal_c9946a,
		.colorInteractiveActive_c9946a,
		.colorStandard_c9946a,
		.content-Qb0rXO,
		.description-11DmNu,
		.descriptionUsername-J_75O8,
		.contentTitle__13533 {
			color: $high;
		}

		.text-xs-normal-3SiVjE,
		.text-md-normal-304U3g {
			color: $high !important;
		}
	}
}
.autocompleteRow__13533 {
	padding: 0;
}

// Upload a File / Create Thread popout
.colorDefault-CDqZdO {
	.subtext-2GlkbE {
		color: $mid;
	}
	&:hover .subtext-2GlkbE {
		color: $low;
	}
}

// Ping everyone warning
.theme-dark .contentWarningPopout_be95d0 {
	@include boxify($high, $mid, 3px);

	.footer_be95d0 {
		background-color: transparent;
	}

	.buttonHint_be95d0,
	.buttonHint_be95d0 strong,
	.header_be95d0,
	.body_be95d0 {
		color: $low;
	}
}

// What's New / Change log
.theme-dark {
	.date-2tmzZM,
	.socialLink__64e09 {
		color: $low;
	}
	.content_dc3a33 {
		ol,
		p,
		ul li {
			color: $low;
		}
	}
}
