// Transparencies
.wrapper_dc0b29 {
	background: transparent;
}
.header_ac90a2,
.header_c6ee36 {
	box-shadow: none;
}
.popoutContainer_cf58b5 // Clicking an emote
{
	@include boxify($high, $mid, 3px);
}
.full-motion .wrapper_ef319f:hover,
.wrapper_ef319f // Options when hovering over message
{
	@include boxify($low, $mid, 3px);

	.button_ef319f {
		@include buttonify($low, $high, $high, $low);
	}
}
// Selected tab in header
.theme-dark .header_f0cd33 .tabBar_f0cd33 .tab_f0cd33.active_f0cd33 {
	background-color: $alert;
	color: $high;
}
// Pick emoji
.contentWrapper_af5dbb {
	border: 1px solid $low;
	@include boxify($high, $mid, 4px);
}
.emojiItem_fbfedd.emojiItemSelected_fbfedd {
	background: $low;
	border-radius: 0;
}
.theme-dark .backButton-3D5utk {
	color: $low;

	&:hover {
		color: $mid;
	}
}
.navButtonActive_af5dbb {
	background-color: $low;
	color: $high;
	border-radius: 0;
}
// Pick Sticker
.stickerInspected_a708c4 .inspectedIndicator_a708c4 {
	background-color: $low;
}
// Autocomplete in chatbox
.theme-dark {
	.contentTitle_f23da8 strong,
	.content-Qb0rXO {
		color: $low;
	}
	.divider_f23da8::after {
		background-color: $low;
	}
	.autocomplete_f23da8 {
		@include boxify($high, $mid, 4px);

		.descriptionDiscriminator_f23da8 {
			color: $mid;
		}
		.description-11DmNu,
		.descriptionUsername-J_75O8,
		.contentTitle_f23da8 {
			color: $low;
		}
	}
	// Autocomplete hovered item
	.selected_ae3c77 {
		background-color: $low;
		border-radius: 0;

		.colorInteractiveNormal_fbc755,
		.colorInteractiveActive_fbc755,
		.colorStandard_fbc755,
		.content-Qb0rXO,
		.description-11DmNu,
		.descriptionUsername-J_75O8,
		.contentTitle_f23da8 {
			color: $high;
		}

		.text-xs-normal-3SiVjE,
		.text-md-normal-304U3g {
			color: $high !important;
		}
	}
}
.autocompleteRow_f23da8 {
	padding: 0;
}
// Delete message
.theme-dark .focusLock-2tveLW {
	// Message Preview
	.message_ddcc45 {
		border-radius: 0;
		border: 1px solid $low;
		background-color: $high;
		box-shadow: none;
	}
	// Pro tip
	.pro_dcc874 {
		color: $alert !important;
	}
}
// Upload a File / Create Thread popout
.colorDefault-CDqZdO {
	.subtext-2GlkbE {
		color: $mid;
	}
	&:hover .subtext-2GlkbE {
		color: $low;
	}
}

// Ping everyone warning
.theme-dark .contentWarningPopout_fa823b {
	@include boxify($high, $mid, 3px);

	.footer_fa823b {
		background-color: transparent;
	}

	.buttonHint_fa823b,
	.buttonHint_fa823b strong,
	.header_fa823b,
	.body_fa823b {
		color: $low;
	}
}

// What's New / Change log
.theme-dark {
	.date-2tmzZM,
	.socialLink__64e09 {
		color: $low;
	}
	.content_dc3a33 {
		ol,
		p,
		ul li {
			color: $low;
		}
	}
}
