// Transparencies
.wrapper-2Gsate {
    background: transparent;
}
.header-ykumBX,
.header-8ilj5e {
    box-shadow: none;
}
.popoutContainer-1MXdqN // Clicking an emote
{
    @include boxify($high, $mid, 3px);
}
.full-motion .wrapper-2aW0bm:hover,
.wrapper-2aW0bm // Options when hovering over message
{
    @include boxify($low, $mid, 3px);

    .button-1ZiXG9 {
        @include buttonify($low, $high, $high, $low);
    }
}
// Pinned Messages
.messagesPopoutWrap-1MQ1bW {
    @include boxify($high, $mid, 3px);
}
.username-1A8OIy {
    color: $low !important;
}
// Selected tab in header
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
    background-color: $alert;
    color: $high;
}
// Pick emoji
.emojiPicker-3PwZFl {
    border: 1px solid $low;
    @include boxify($high, $mid, 4px);
}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background: $low;
    border-radius: 0;
}
// Autocomplete in chatbox
.theme-dark {
    .contentTitle-2tG_sM strong,
    .content-Qb0rXO {
        color: $low;
    }
    .divider-23swzi {
        background-color: $low;
    }
    .autocomplete-1vrmpx {
        @include boxify($high, $mid, 4px);

        .descriptionDiscriminator-3vUOCc {
            color: $mid;
        }
        .description-11DmNu,
        .descriptionUsername-J_75O8,
        .contentTitle-2tG_sM {
            color: $low;
        }
    }
    .selected-1Tbx07 {
        background-color: $low;
        border-radius: 0;
        
        .colorInteractiveActive-3Ip9Eu,
        .colorStandard-2KCXvj,
        .content-Qb0rXO,
        .description-11DmNu,
        .descriptionUsername-J_75O8,
        .contentTitle-2tG_sM {
            color: $high;
        }
    }
}
.autocompleteRow-2OthDa {
    padding: 0;
}
