// Transparencies
.wrapper-22rqw6 {
	background: transparent;
}
.header-1w9Q93,
.header-11eigE {
	box-shadow: none;
}
.popoutContainer-2wbmiM // Clicking an emote
{
	@include boxify($high, $mid, 3px);
}
.full-motion .wrapper-2vIMkT:hover,
.wrapper-2vIMkT // Options when hovering over message
{
	@include boxify($low, $mid, 3px);

	.button-3bklZh {
		@include buttonify($low, $high, $high, $low);
	}
}
// Pinned Messages
.messagesPopoutWrap-3zryHW {
	@include boxify($high, $mid, 3px);
}
.username-h_Y3Us {
	color: $low !important;
}
// Selected tab in header
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
	background-color: $alert;
	color: $high;
}
// Pick emoji
.contentWrapper-3vHNP2 {
	border: 1px solid $low;
	@include boxify($high, $mid, 4px);
}
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
	background: $low;
	border-radius: 0;
}
.theme-dark .backButton-3D5utk {
	color: $low;

	&:hover {
		color: $mid;
	}
}
.navButtonActive-1EqC5l {
	background-color: $low;
	color: $high;
	border-radius: 0;
}
// Pick Sticker
.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
	background-color: $low;
}
// Autocomplete in chatbox
.theme-dark {
	.contentTitle-3CylD3 strong,
	.content-Qb0rXO {
		color: $low;
	}
	.divider-1bJsnZ::after {
		background-color: $low;
	}
	.autocomplete-3NRXG8 {
		@include boxify($high, $mid, 4px);

		.descriptionDiscriminator-tCKMLV {
			color: $mid;
		}
		.description-11DmNu,
		.descriptionUsername-J_75O8,
		.contentTitle-3CylD3 {
			color: $low;
		}
	}
	// Autocomplete hovered item
	.selected-2Uns2B {
		background-color: $low;
		border-radius: 0;

		.colorInteractiveNormal-7xC_cy,
		.colorInteractiveActive-1W8YKn,
		.colorStandard-1Xxp1s,
		.content-Qb0rXO,
		.description-11DmNu,
		.descriptionUsername-J_75O8,
		.contentTitle-3CylD3 {
			color: $high;
		}

		.text-xs-normal-3SiVjE,
		.text-md-normal-304U3g {
			color: $high !important;
		}
	}
}
.autocompleteRow-14iwvH {
	padding: 0;
}
// Delete message
.theme-dark .focusLock-2tveLW {
	// Message Preview
	.message-G6O-Wv {
		border-radius: 0;
		border: 1px solid $low;
		background-color: $high;
		box-shadow: none;
	}
	// Pro tip
	.pro-3GwLMX {
		color: $alert !important;
	}
}
// Upload a File / Create Thread popout
.colorDefault-CDqZdO {
	.subtext-2GlkbE {
		color: $mid;
	}
	&:hover .subtext-2GlkbE {
		color: $low;
	}
}

// Ping everyone warning
.theme-dark .contentWarningPopout-WKdbDG {
	@include boxify($high, $mid, 3px);

	.footer-2aeMle {
		background-color: transparent;
	}

	.buttonHint-3RmBN4,
	.buttonHint-3RmBN4 strong,
	.header-DRA95Q,
	.body-2rDNbs {
		color: $low;
	}
}

// What's New / Change log
.theme-dark {
	.date-2tmzZM,
	.socialLink-1qjJIk {
		color: $low;
	}
	.content-FDHp32 {
		ol,
		p,
		ul li {
			color: $low;
		}
	}
}
