.menu_d90b3d {
	@include boxify($low, $mid, 3px);

	.scroller_d90b3d {
		.separator_d90b3d {
			display: none;
		}
		.item_d90b3d {
			margin: 0;
		}
		.colorDefault_d90b3d,
		.labelContainer_d90b3d {
			@include buttonify($low, $high, $high, $low);

			.subtext_d90b3d,
			.defaultColor_a595eb {
				color: $high;
			}

			&:hover .subtext_d90b3d {
				color: $mid;
			}
			&:hover .defaultColor_a595eb {
				color: $low;
			}
		}

		.caret_d90b3d {
			color: $mid;
		}
		.submenuPaddingContainer_d90b3d {
			padding: 0;
		}

		// Specifically react buttons in context menu
		.button_a24e84 {
			@include buttonify($low, $high, $high, $low);
		}
	}
}

// set status
// invisible
foreignObject[mask='url(#svg-mask-status-offline)'] .status_c7d26b {
	background-color: $mid !important;
}
// context popouts / tooltips
.tooltipPrimary_b6c360 {
	@include boxify($high, $mid, 2px);
}
.tooltipPointer_b6c360 {
	display: none;
}
