.menu-2TXYjN {
	@include boxify($low, $mid, 3px);

	.scroller-nxCRu_ {
		.separator-12G2Op {
			display: none;
		}
		.item-5ApiZt {
			margin: 0;
		}
		.colorDefault-2_rLdz,
		.labelContainer-35-WEd {
			@include buttonify($low, $high, $high, $low);

			.subtext-1mqKVB,
			.defaultColor-1EVLSt {
				color: $high;
			}

			&:hover .subtext-1mqKVB {
				color: $mid;
			}
			&:hover .defaultColor-1EVLSt {
				color: $low;
			}
		}

		.caret-1TZU-U {
			color: $mid;
		}
		.submenuPaddingContainer-QgnL1r {
			padding: 0;
		}
	}
}

// set status
// invisible
foreignObject[mask='url(#svg-mask-status-offline)'] .status-3cqfT9 {
	background-color: $mid !important;
}
