// Inbox

// Transparencies
.messageContainer__95796,
.messages__1ccd1,
.header__45690 {
	background-color: transparent;
}

// Base container
.messagesPopoutWrap__45690,
.container__23c08,
.container__2692d {
	@include boxify($high, $mid, 3px);

	.channel__427f0,
	.container__95796 {
		box-sizing: border-box;
		padding: 4px 0;
		margin: 4px;
		border: 2px solid $low;
		background-color: $high;

		.channelHeader__35a7e {
			padding: 1em;
			background-color: $high;

			.collapseButton__427f0 {
				order: -1;
				position: relative;
				color: $low;
			}
		}

		.repliedMessage_c19a55,
		.container__235ca,
		.markup__75297,
		.messages__1ccd1 {
			color: $low;
		}
		.subtextContainer__35a7e {
			color: $low !important;
		}

		.channelName__35a7e svg {
			height: 12px;
			width: 12px;
			margin-right: 6px;
			background-color: $low;
		}
	}
}
