// Inbox

// Transparencies
.messageContainer_ddb5b4,
.messages_c06487,
.header_ac90a2 {
	background-color: transparent;
}

// Base container
.messagesPopoutWrap_ac90a2,
.container__23c08,
.container_f1c3d9 {
	@include boxify($high, $mid, 3px);

	.channel_d09ffd,
	.container_ddb5b4 {
		box-sizing: border-box;
		padding: 4px 0;
		margin: 4px;
		border: 2px solid $low;
		background-color: $high;

		.channelHeader_f3978e {
			padding: 1em;
			background-color: $high;

			.collapseButton_d09ffd {
				order: -1;
				position: relative;
				color: $low;
			}
		}

		.repliedMessage_f9f2ca,
		.container_d76df7,
		.markup_f8f345,
		.messages_c06487 {
			color: $low;
		}
		.subtextContainer_f3978e {
			color: $low !important;
		}

		.channelName_f3978e svg {
			height: 12px;
			width: 12px;
			margin-right: 6px;
			background-color: $low;
		}
	}
}
