// Transparencies
.searchResult_ddc613:before,
.searchResult_ddc613:after,
.option_b0286e:after,
.option_b0286e:hover:after,
.channelName-3w2Y3c,
.searchHeader_b7c924,
.searchResultsWrap_c2b47d,
.theme-dark .option_b0286e:after {
	background: transparent;
}
.searchHeader_b7c924,
.searchResultMessage-1fxgXh.hit-1fVM9e {
	box-shadow: none;
}
// Search Box
.searchBar-zdmu7v,
.searchBar_f0963d .searchBarComponent_f0963d {
	border: 1px solid $low;
	background-color: $high-trans;
	border-radius: 0;
	text-align: center;
}
// Upper Tabs in search results
.theme-dark .tab-2j5AEF {
	transition: all 0.1s;
	&:hover {
		color: $high;
		background-color: $low;
	}
	&.selected-2LAck8 {
		color: $high;
		background-color: $alert;
	}
}

// Search options popout
.theme-dark {
	// In-text labels

	.searchAnswer_b0fa94,
	.searchFilter_b0fa94 {
		color: $high;
		background-color: $low;
	}
	.elevationBorderHigh_ff8688,
	.container_eedf95 {
		@include boxify($high, $mid, 4px);
	}
	.queryContainer_eedf95 {
		color: $low;
		strong {
			color: $low;
		}
		&.focused_eedf95 {
			color: $high;
			background-color: $low;
			strong {
				color: $high;
			}
		}
		border: none;
	}
	.resultsGroup_b0286e {
		.header_b0286e,
		.searchClearHistory_b0286e,
		.searchLearnMore_b0286e a {
			color: $low;
		}
		.plusIcon-2V7coV {
			color: $high;
		}
		&::before {
			border: none;
		}
	}
	.option_b0286e[aria-selected='true'] {
		background: $low;

		strong {
			color: $high;
		}
	}
	.option_b0286e,
	.searchOption_b0286e {
		margin: 0;

		&.user_b0286e .displayUsername-UTer,
		&.user_b0286e .displayedNick_b0286e,
		.searchResultChannelCategory-3cL8uG,
		.searchResultChannelIcon-1Il1Qo,
		strong,
		.nonText_b0286e,
		.filter_b0286e,
		.answer_b0286e {
			color: $low;
		}

		&:hover {
			background: $low;
			border-radius: 0;

			&::after {
				background: transparent;
			}
			.plusIcon_b0286e,
			&.user_b0286e .displayUsername-UTer,
			&.user_b0286e .displayedNick_b0286e,
			strong,
			.nonText_b0286e,
			.filter_b0286e,
			.answer_b0286e {
				color: $high;
			}
			.searchResultChannelCategory-3cL8uG,
			.searchResultChannelIcon-1Il1Qo {
				color: $high;
			}
		}
	}
}
// Search results
.searchResult_ddc613 {
	@include boxify($high, $mid, 5px);
}
.tab-2j5AEF {
	border-radius: 0;
}
.searchResult_ddc613.expanded-w_LCGl,
.searchResultMessage-1fxgXh.hit-1fVM9e {
	border: 1px solid $low;
	border-radius: 0;
}

// Search calendar
.theme-dark .calendarPicker__47c85 {
	.react-datepicker__current-month,
	.react-datepicker__header,
	.react-datepicker__day,
	.react-datepicker__day--disabled,
	.react-datepicker__day--outside-month,
	.react-datepicker__day.react-datepicker__day--disabled,
	.react-datepicker__day.react-datepicker__day--disabled:hover {
		border: none;
		color: $low;
		background-color: transparent;
	}
	.react-datepicker__day.react-datepicker__day--selected:after {
		background-color: $alert;
	}
	.react-datepicker__day-name {
		color: $low;
	}
}
.datePicker_b0286e .datePickerHint_b0286e {
	border: none;
	.hint_b0286e {
		color: $low;
	}
	.hintValue_b0286e {
		background-color: $low;
		color: $high;
	}
}
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon:before,
.react-datepicker__year-read-view--down-arrow {
	color: $low;
}
