// Transparencies
.searchResult__02a39:before,
.searchResult__02a39:after,
.option__56fec:after,
.option__56fec:hover:after,
.channelName-3w2Y3c,
.searchHeader_f3b986,
.searchResultsWrap_a9e706,
.theme-dark .option__56fec:after {
	background: transparent;
}
.searchHeader_f3b986,
.searchResultMessage-1fxgXh.hit-1fVM9e {
	box-shadow: none;
}
// Search Box
.searchBar-zdmu7v,
.searchBar__35e86 .searchBarComponent__35e86 {
	border: 1px solid $low;
	background-color: $high-trans;
	border-radius: 0;
	text-align: center;
}
// Upper Tabs in search results
.theme-dark .tab-2j5AEF {
	transition: all 0.1s;
	&:hover {
		color: $high;
		background-color: $low;
	}
	&.selected-2LAck8 {
		color: $high;
		background-color: $alert;
	}
}

// Search options popout
.theme-dark {
	// In-text labels

	.searchAnswer_bd8186,
	.searchFilter_bd8186 {
		color: $high;
		background-color: $low;
	}
	.elevationBorderHigh__2b2f1,
	.container__55c99 {
		@include boxify($high, $mid, 4px);
	}
	.queryContainer__55c99 {
		color: $low;
		strong {
			color: $low;
		}
		&.focused__55c99 {
			color: $high;
			background-color: $low;
			strong {
				color: $high;
			}
		}
		border: none;
	}
	.resultsGroup__56fec {
		.header__56fec,
		.searchClearHistory__56fec,
		.searchLearnMore__56fec a {
			color: $low;
		}
		.plusIcon-2V7coV {
			color: $high;
		}
		&::before {
			border: none;
		}
	}
	.option__56fec[aria-selected='true'] {
		background: $low;

		strong {
			color: $high;
		}
	}
	.option__56fec,
	.searchOption__56fec {
		margin: 0;

		&.user__56fec .displayUsername-UTer,
		&.user__56fec .displayedNick__56fec,
		.searchResultChannelCategory-3cL8uG,
		.searchResultChannelIcon-1Il1Qo,
		strong,
		.nonText__56fec,
		.filter__56fec,
		.answer__56fec {
			color: $low;
		}

		&:hover {
			background: $low;
			border-radius: 0;

			&::after {
				background: transparent;
			}
			.plusIcon__56fec,
			&.user__56fec .displayUsername-UTer,
			&.user__56fec .displayedNick__56fec,
			strong,
			.nonText__56fec,
			.filter__56fec,
			.answer__56fec {
				color: $high;
			}
			.searchResultChannelCategory-3cL8uG,
			.searchResultChannelIcon-1Il1Qo {
				color: $high;
			}
		}
	}
}
// Search results
.searchResult__02a39 {
	@include boxify($high, $mid, 5px);
}
.tab-2j5AEF {
	border-radius: 0;
}
.searchResult__02a39.expanded-w_LCGl,
.searchResultMessage-1fxgXh.hit-1fVM9e {
	border: 1px solid $low;
	border-radius: 0;
}

// Search calendar
.theme-dark .calendarPicker_d27f17 {
	.react-datepicker__current-month,
	.react-datepicker__header,
	.react-datepicker__day,
	.react-datepicker__day--disabled,
	.react-datepicker__day--outside-month,
	.react-datepicker__day.react-datepicker__day--disabled,
	.react-datepicker__day.react-datepicker__day--disabled:hover {
		border: none;
		color: $low;
		background-color: transparent;
	}
	.react-datepicker__day.react-datepicker__day--selected:after {
		background-color: $alert;
	}
	.react-datepicker__day-name {
		color: $low;
	}
}
.datePicker__56fec .datePickerHint__56fec {
	border: none;
	.hint__56fec {
		color: $low;
	}
	.hintValue__56fec {
		background-color: $low;
		color: $high;
	}
}
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon:before,
.react-datepicker__year-read-view--down-arrow {
	color: $low;
}
