// whole container
.userPopoutOuter_c69a7b {
	@include boxify($high, $mid, 3px);
	padding: 0 !important;

	// weird box that sits over theme colors, under boxes
	// seems to darken the color selection
	.userProfileInner_c69a7b:before {
		height: 100%;
		width: 100%;
	}

	.header_c6e596 {
		display: flex;
		flex-direction: column;

		// janky ass invisible container?
		.invisibleContainer_d0a252.biteSize_d0a252 {
			display: none;
		}

		.bannerSVGWrapper_b32cc2 {
			// pfp mask around banner
			mask circle {
				display: none;
			}
		}

		// thinking text and bubbles
		.statusBubbleOuter_d0a252 {
			max-width: none;
			max-height: none;
			border-radius: 0;
			box-shadow: none;

			margin: 0 0.5em;
			border: 2px solid $low;

			.content_d0a252 {
				max-height: none !important;
				overflow: visible;
				word-wrap: normal;
			}

			.statusBubble_d0a252 {
				background-color: $high;
				border-radius: 0;
				word-wrap: normal;
				padding: 0;

				.clamp_d0a252 {
					-webkit-line-clamp: 100;
					line-clamp: 100;
				}
			}

			.statusBubbleWithTextMinWidth_d0a252 {
				padding: 0.25em;
			}

			.singleLineAlign_d0a252 {
				text-align: left;
			}
		}
		.statusBubbleOuter_d0a252:before,
		.statusBubbleOuter_d0a252:after {
			display: none;
		}

		// thinking text
		.visibleContainer_d0a252.biteSize_d0a252 {
			position: relative;
			top: 0;
			left: 0;
		}

		// profile picture clickable area
		.clickable_cc54d6 {
			border: 2px solid $low;
			display: flex;
			align-items: center;
			justify-content: center;

			background-color: $mid;
			margin: 0.5em;
			padding: 2em;
			border-radius: 0;
			position: relative;
			top: 0;
			left: 0;

			// the actual pfp
			.wrapper_c51b4e {
				border-radius: 0;
			}
		}
	}

	// usernames, mutuals, roles
	.body_a45fe8 {
		border: 2px solid $low;
		margin: 0 0.5em;
		padding: 0.5em;
		background: $high;
	}
	.footer_d5223c {
		margin: 0;
		padding: 0.5em;
	}

	// message user
	.channelTextArea_d0696b {
		background: $high;
		border-radius: 0;
	}
}
