// whole container
.fullSize_c69a7b {
	// @include boxify($low, $mid, 3px);
	padding: 0 !important;

	// weird box that sits over theme colors, under boxes
	// seems to darken the color selection
	.inner_c69a7b:before {
		height: 100%;
		width: 100%;
	}
	.userProfileInner_c69a7b {
		gap: 0px;
	}

	.mask_d5fdb1 {
		// pfp mask around banner
		mask circle {
			display: none;
		}
		:where(.banner_d5fdb1) {
			//Specificity to remove border radius on banner. I can't believe they did this.
			border-radius: 0px;
		}
	}

	.headerInner_b9fccc {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0.25em;

		> :first-child {
			width: 100%;
		}

		// janky ass invisible container?
		.invisibleContainer_d0a252.fullSize_d0a252 {
			display: none;
		}

		.invisibleContainer_d0a252.fullSize_d0a252,
		.visibleContainer_d0a252.fullSize_d0a252 {
			display: flex;
			align-content: center;
			justify-content: center;
			//padding: 4em 0em 0em 0em;
		}

		//Add Status button
		.addCustomStatusButtonBubble_d0a252.fullSize_d0a252 {
			top: 0px;
			left: 0px;
			height: auto;
			.statusBubbleOuter_d0a252 {
				margin: 0px 0px 4px 0px;
				border: none;
				.statusBubble_d0a252 {
					background-color: $mid-trans;
					border-radius: 0;
					word-wrap: normal;
					padding: 2px;
					//width: fit-content;
				}
			}
		}
		// thinking text container
		.visibleContainer_d0a252.fullSize_d0a252 {
			position: relative;
			top: 0;
			left: 0;
			padding-top: 0px;
			width: fit-content;
			display: flex;

			// thinking text and bubbles
			.statusBubbleOuter_d0a252 {
				max-width: none;
				width: 100%;
				max-height: none;
				border-radius: 0;
				box-shadow: none;
				margin: 0px 0px 4px 0px;
				border: 2px transparent;
				background-color: transparent;

				.statusBubble_d0a252 {
					border-radius: 0;
					word-wrap: normal;
					padding: 0;
					//width: fit-content;

					.clamp_d0a252 {
						-webkit-line-clamp: 100;
						line-clamp: 100;
						background-color: $mid-trans;
					}
				}

				.content_d0a252 {
					max-height: none !important;
					overflow: visible;
					word-wrap: normal;
					//width: fit-content;
					display: flex;
					align-items: center;
					background-color: $high;
					padding-right: 5px;
					.emoji_ad923e {
						height: 32px;
						width: 32px;
					}
				}

				.singleLineAlign_d0a252 {
					text-align: center;
				}
			}
		}
		.statusBubbleOuter_d0a252:before,
		.statusBubbleOuter_d0a252:after {
			display: none;
		}

		//edit status buttons on user status hover
		.popover_bba79b.visible_bba79b {
			.button_bba79b svg path {
				fill: $high;
			}
			.button_bba79b:hover svg path {
				fill: $low;
			}
		}

		//buttons
		.headerButtons_b9fccc {
			align-items: normal;
			gap: 0px;
			display: contents;
			.multipleButtons_e9f973 {
				display: flex;
				flex-direction: row;
				gap: 4px;
			}
		}

		// profile picture area
		.avatar_f94206 {
			border-bottom: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $mid;
			margin-bottom: 4px;
			padding: 2em 0em 2em 0em;
			border-radius: 0;
			position: relative;
			top: 0;
			left: 0;

			// the actual pfp
			.wrapper_c51b4e {
				border-radius: 0;
				mask-image: none;
			}
		}
	}

	// usernames, mutuals, roles
	.body_b9fccc {
		//border: 2px solid $low;
		margin: 0em 0.5em 0.5em 0.5em;
		padding: 0.5em;
		background: $high;

		// .defaultColor_a595eb {
		//     color: $high;
		// }

		.fullSize_c69a7b.overlay_b9fccc {
			//container that everything below username (had to be categorized seperately cuz it broke everything otherwise lol)
			border: 0px;
			height: 100%;
			width: 100%;
			background: $high;

			//container that holds everything the same as above
			.container_ecc04c {
				display: contents;
			}

			//tab selection bar
			.tabBar_ecc04c {
				margin: 3px;
				height: 42px;
				gap: 20px;
				border-bottom: 2px solid;
				border-color: $low;
				.item_a0 {
					background-color: $mid-trans;
					padding: 3px 32px 3px 6px;
					.defaultColor_a595eb {
						color: $low;
					}
					&:hover {
						border-bottom: 0px;
					}
					&.selected_a0 {
						background-color: $low;
						height: 100%;
						//border-bottom: 0px;
						.defaultColor_a595eb {
							color: $high;
						}
					}
				}
			}

			//border fixes
			.connectedAccountContainer_ab12c6, //border fix for connected accounts
            .note_d53fbd {
				//border fix for note section
				border: 1px solid;
				border-radius: 0px;
				border-color: $low-trans;
			}
		}
	}
}
