// Transparencies
.tabBarContainer-1s1u-z {
    border: none;
}
.separator-2I32lJ {
    margin: 0;
}
.headerStreaming-2FjmGz,
.headerXbox-3G-4PF,
.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.headerSpotify-zpWxgT,
.headerPlaying-j0WQBV,
.theme-dark .footer-1fjuF6 {
    background: transparent;
}
// Colors
.theme-dark {
    .headerTextNormal-2mGWX3,
    .playTime-2uWd1Z,
    .activityProfile-2bJRaP,
    .activityUserPopout-2yItg2 {
        .headerText-1HLrL7,
        .content-3JfFJh,
        .details-38sfDr,
        .name-29ETJS {
            color: $high;
        }
    }
    .body-3iLsc4,
    .footer-1fjuF6 {
        color: $low;
    }
}
[style*='border-color: rgb(255, 255, 255);'] {
    border-color: $alert !important;
}
.top-28JiJ- .item-PXvHYJ {
    color: $mid !important;
}
.theme-dark .newPopoutActivityStyles .activityName-1IaRLn,
.activityHeader-1PExlk,
.customStatusText-39gdCI,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.colorDefault-2K3EoJ.focused-3afm-j,
.nameNormal-2lqVQK,
.text-AOoUen,
.nameWrap-3Z4G_9,
.activityName-1IaRLn {
    color: $high;
}
.customStatus-1bh2V9,
.additionalActionsIcon-1FoUlE,
.discriminator-xUhQkU,
.username-3gJmXY,
.headerName-fajvi9,
.headerTag-2pZJzA,
.headerTagUsernameNoNickname-2_H881 {
    color: $low;
}
.bar-3urHkF,
.headerFill-adLl4x,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.colorDefault-2K3EoJ.focused-3afm-j,
.activity-11LB_k {
    background: $low;
}
.barInner-3NDaY_ {
    background: $high;
}
// Playing a game
.activity-fViXj7 {
    padding: 16px;
    background-color: $low;
}
// Rich Embed Game Icon
.gameIcon-gg34Dz,
.assetsLargeImage-eYwpTX {
    border-radius: 0;
    border: 1px solid $high;
}
.root-SR8cQa, // User menu popout
.theme-dark .colorPickerCustom-2CWBn2, // Color picker
.userPopout-3XzG_A  // Clicking on a user
{
    @include boxify($high, $mid, 5px);
    border-color: $low;
}
