// Transparencies
.tabBarContainer-1s1u-z {
	border: none;
}

.divider-1wtgZ3 {
	display: none;
}
.separator-1So4YB {
	margin: 0;
}

.customStatus-3XAoF9 {
	color: $low;
}

// add role focus
.textarea-_59yqs:focus {
	background-color: transparent;
}
.textarea-_59yqs {
	&::placeholder {
		color: $low;
	}
	color: $low;
}
.bodyInnerWrapper-2bQs1k,
.headerStreaming-2FjmGz,
.headerXbox-3G-4PF,
.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.headerSpotify-zpWxgT,
.headerPlaying-j0WQBV,
.theme-dark .footer-1fjuF6 {
	background: transparent;
}

// connect account button
.actionColor-3JIzOn {
	@include buttonify($low, $high, $alert, $high);
}

// send message button
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
	@include buttonify($alert, $high, $low, $high);
}
// Colors
[style*='border-color: rgb(255, 255, 255);'] {
	border-color: $alert !important;
}

.top-K_jibn .item-2GWPIy {
	color: $mid;
}

.top-K_jibn {
	.selected-1sf9UK.item-2GWPIy,
	.selected-1sf9UK.item-2GWPIy:hover {
		color: $low;
	}
}

.nickname-t08Mck,
.headerTagUsernameBase-XYisdh,
.headerTagUsernameNoNickname-1TjuLc,
.discrimBase-1VOoau,
.theme-dark .newPopoutActivityStyles .activityName-3YXl6e,
.activityHeader-1PExlk,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
.colorDefault-CDqZdO.focused-3qFvc8,
.text-31kWmP,
.nameWrap-3TyM52,
.activityName-3YXl6e {
	color: $high;
}
.customStatusText-3ca2B1 {
	color: $low !important;
}

.customStatus-1bh2V9,
.additionalActionsIcon-1FoUlE,
.discriminator-xUhQkU,
.username-3gJmXY,
.headerName-fajvi9,
.headerTag-2pZJzA,
.headerTagUsernameNoNickname-2_H881 {
	color: $low;
}

.bar-1GpknY,
.headerFill-adLl4x,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
.colorDefault-CDqZdO.focused-3qFvc8,
.activity-3v9l4T {
	background: $low;
}

.barInner-3dHef4 {
	background: $high;
}

// Playing a game
.theme-dark .activity-3v9l4T {
	order: 10;
	padding: 16px;
	background-color: $low;
	.nameWrap-3TyM52,
	.content-tXPNDw,
	.headerText-3g1XK9 {
		color: $high;
	}
}

// Rich Embed Game Icon
.gameIcon-1mDo1J,
.assetsLargeImage-8U5dlz {
	border-radius: 0;
	border: 1px solid $high;
}

.root-SR8cQa, // User menu popout
.theme-dark .colorPickerCustom-1swUKF, // Color picker
.userPopout-2j1gM4 // Clicking on a user
{
	@include boxify($high, $mid, 5px);
	border-color: $low;
}

.theme-dark .newPopoutActivityStyles .activityName-3YXl6e {
	color: $low;
}

.headerNormal-3Zn_yu {
	display: flex;
	flex-direction: column;
}

.popoutBanner-3cqRD9 {
	position: relative;
	order: 0;
}

// Header
.userPopoutInner-nv9Y92 {
	position: static;
	background-color: $low;
	.customStatus-3XAoF9,
	.nickname-2gQ76l,
	.headerTagUsernameBase-24SRnT,
	.headerTagUsernameNoNickname-1ZLDYY,
	.discrimBase-1QwWzY {
		color: $high;
	}
	.profileBadges-2pItdR {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 12px;
	}
	.headerText-15Q25Z {
		padding-bottom: 4px;
	}
	.aboutMeSection---MkQa {
		padding: 8px;
	}
}
// profile mask on banner
.bannerSVGWrapper-2CLfzN {
	foreignObject {
		mask: none !important;
	}
}

.bannerSVGWrapper-2CLfzN {
	order: 1;
}
// Avatar
.avatarWrapper-eenWra {
	margin: 15px auto;
	display: flex;
	position: relative;
	justify-self: center;
	align-content: center;
	justify-content: center;
	order: 2;
	top: 0;
	left: 0;
	width: 90%;
	height: 120px;
	background-color: $mid;
	border-radius: 0;

	.avatarHoverTarget-1zzfRL {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
		border-width: 1px;
	}
}

// Avatar hint
.avatarWrapperNormal-ahVUaC,
.avatarWrapperNormal-ahVUaC:hover {
	.avatarDecorationHint-3n-p6O,
	.avatarHint-k7pYop {
		position: relative;
		margin: auto;
	}
}
.avatarDecorationHint-3n-p6O {
	top: 0;
	left: 0;
}

.defaultColor-1EVLSt {
	color: $low;
}

.roleName-2ZJJYR .defaultColor-1EVLSt {
	color: $high;
}

.eyebrow-Ejf06y {
	color: $low !important;
}
.userPopoutOverlayBackground-3A0Pcz {
	order: 3;
}

.footer-3naVBw {
	background-color: transparent;
	order: 4;
}

// roles
.theme-dark .role-2TIOKu {
	background: $low;
	color: $high;
	.actionButton-1YKTU0 {
		color: $high;
	}
}
// Spotify
.bar-1GpknY {
	border: 1px solid $mid;
	.barInner-3dHef4 {
		background-color: $alert;
	}
}

///////////////////////////////////////////////////

.userProfileInnerThemedNonPremium-1gT-zY {
	@include boxify($high, $mid, 3px);
	background: $high;
}

.overlayBackground-2aa7wt,
.userPopoutInner-nv9Y92:before {
	background: transparent;
}
.divider-1QVlfF {
	display: none;
}
.connectedAccountOpenIcon-3i81Tz:hover {
	color: $mid;
}

.userProfileOuter-2tQwNf {
	@include boxify($high, $mid, 3px);
}
.roundedBanner-TdlJGa {
	border-radius: 0;
}

.userProfileOuterThemed-2BgJCM.userPopoutOuter-1OHwPL,
.userProfileOuterThemed-2BgJCM.userProfileOuter-2tQwNf {
	padding: 0;
}

.overlayBackground-2aa7wt {
	background: $high;
	border-radius: 0%;
	border: 2px solid $low;
}

.buttonColor-_0gSD_ {
	@include buttonify($low, $high, $alert, $high);
}

.top-K_jibn .themed-2-lozF.item-2GWPIy:hover,
.brand-3g5E0C.item-2GWPIy:hover,
.themed-2-lozF.item-2GWPIy:hover {
	color: $mid;
	border-bottom-color: $mid;
}

.top-K_jibn .selected-1sf9UK.themed-2-lozF.item-2GWPIy,
.top-K_jibn .themed-2-lozF.item-2GWPIy:active {
	border-bottom-color: $low;
}

.guildNick-HT7Pgu {
	color: $mid;
}

// connected account
.connectedAccountContainer-2TWiXT {
	border-radius: 0;
	border: 2px solid $low;

	.text-xs-normal-3O7EaX,
	.connectedAccountNameText-3VHIcl {
		color: $low !important;
	}

	.connectedAccountOpenIcon-OngaxI {
		color: $low;
	}
}
