// Transparencies
.tabBarContainer-1s1u-z {
    border: none;
}

.separator-2I32lJ {
    margin: 0;
}

.headerStreaming-2FjmGz,
.headerXbox-3G-4PF,
.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.headerSpotify-zpWxgT,
.headerPlaying-j0WQBV,
.theme-dark .footer-1fjuF6 {
    background: transparent;
}

// Colors
[style*='border-color: rgb(255, 255, 255);'] {
    border-color: $alert !important;
}

.top-28JiJ- .item-PXvHYJ {
    color: $mid;
}

.top-28JiJ- {
    .selected-3s45Ha.item-PXvHYJ,
    .selected-3s45Ha.item-PXvHYJ:hover {
        color: $low;
    }
}

.nickname-3M3Jfa,
.headerTagUsernameBase-1NqrY5,
.headerTagUsernameNoNickname-2-Y5Ct,
.discrimBase-24vY8o,
.theme-dark .newPopoutActivityStyles .activityName-1IaRLn,
.activityHeader-1PExlk,
.customStatusText-39gdCI,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.colorDefault-2K3EoJ.focused-3afm-j,
.text-AOoUen,
.nameWrap-3Z4G_9,
.activityName-1IaRLn {
    color: $high;
}

.customStatus-1bh2V9,
.additionalActionsIcon-1FoUlE,
.discriminator-xUhQkU,
.username-3gJmXY,
.headerName-fajvi9,
.headerTag-2pZJzA,
.headerTagUsernameNoNickname-2_H881 {
    color: $low;
}

.bar-3urHkF,
.headerFill-adLl4x,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.colorDefault-2K3EoJ.focused-3afm-j,
.activity-3v9l4T {
    background: $low;
}

.barInner-3NDaY_ {
    background: $high;
}

// Playing a game
.theme-dark .activity-3v9l4T {
    order: 10;
    padding: 16px;
    background-color: $low;
    .nameWrap-3Z4G_9,
    .content-3JfFJh,
    .headerText-1HLrL7 {
        color: $high;
    }
}

// Rich Embed Game Icon
.gameIcon-gg34Dz,
.assetsLargeImage-eYwpTX {
    border-radius: 0;
    border: 1px solid $high;
}

.root-SR8cQa, // User menu popout
.theme-dark .colorPickerCustom-2CWBn2, // Color picker
.userPopout-xaxa6l // Clicking on a user
{
    @include boxify($high, $mid, 5px);
    border-color: $low;
}

.theme-dark .newPopoutActivityStyles .activityName-1IaRLn {
    color: $low;
}

.headerNormal-3KXFBt {
    display: flex;
    flex-direction: column;
}

.popoutBanner-19WKGg {
    position: relative;
    order: 0;
}

// Header
.headerTop-3vNv-a {
    position: static;
    order: 1;
    padding: 8px;
    background-color: $low;
    .customStatus-oN4ZZY,
    .nickname-2gQ76l,
    .headerTagUsernameBase-24SRnT,
    .headerTagUsernameNoNickname-1ZLDYY,
    .discrimBase-1QwWzY {
        color: $high;
    }
    .profileBadges-3cJaE1 {
        margin: auto;
        z-index: 1;
        top: 0;
        right: 0;
        transform: translateY(150%);
    }
    .headerText-15Q25Z {
        padding-bottom: 4px;
    }
    .aboutMeSection---MkQa {
        padding: 8px;
    }
}

// Avatar
.avatarWrapper-3r9PdD {
    margin: 15px auto;
    display: flex;
    position: relative;
    justify-self: center;
    align-content: center;
    order: 2;
    top: 0;
    left: 0;
    width: 90%;
    height: 120px;
    background-color: $mid;
    border-radius: 0;
}

.avatar-37jOim {
    margin: auto;
    border-width: 1px;
    background-color: $high;
}

// Avatar hint
.avatarWrapperNormal-26WQIb,
.avatarWrapperNormal-26WQIb:hover {
    .avatarHint-2A3RNb {
        top: 20px;
        left: 95px;
        margin: auto;
    }
}

.body-3HBlXn {
    order: 3;
}

.footer-3UKYOU {
    order: 4;
}

// Spotify
.bar-3urHkF {
    border: 1px solid $mid;
    .barInner-3NDaY_ {
        background-color: $alert;
    }
}