// Transparencies
.tabBarContainer-1s1u-z {
	border: none;
}

.divider-1wtgZ3 {
	display: none;
}
.separator-1So4YB {
	margin: 0;
}

.customStatus-3XAoF9 {
	color: $low;
}

// add role focus
.textarea_c5a7a3:focus {
	background-color: transparent;
}
.textarea_c5a7a3 {
	&::placeholder {
		color: $low;
	}
	color: $low;
}
.bodyInnerWrapper-2bQs1k,
.headerStreaming-2FjmGz,
.headerXbox-3G-4PF,
.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.headerSpotify-zpWxgT,
.headerPlaying-j0WQBV,
.theme-dark .footer-1fjuF6 {
	background: transparent;
}

// connect account button
.actionColor-3JIzOn {
	@include buttonify($low, $high, $alert, $high);
}

// send message button
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
	@include buttonify($alert, $high, $low, $high);
}
// Colors
[style*='border-color: rgb(255, 255, 255);'] {
	border-color: $alert !important;
}

.top-K_jibn .item__48dda {
	color: $mid;
}

.top-K_jibn {
	.selected__5711d.item__48dda,
	.selected__5711d.item__48dda:hover {
		color: $low;
	}
}

.nickname-t08Mck,
.headerTagUsernameBase-XYisdh,
.headerTagUsernameNoNickname-1TjuLc,
.discrimBase-1VOoau,
.theme-dark .newPopoutActivityStyles .activityName__47e51,
.activityHeader-1PExlk,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
.colorDefault-CDqZdO.focused-3qFvc8,
.text__13126,
.nameWrap__7263f,
.activityName__47e51 {
	color: $high;
}
.customStatusText-3ca2B1 {
	color: $low !important;
}

.customStatus-1bh2V9,
.additionalActionsIcon-1FoUlE,
.discriminator-xUhQkU,
.username-3gJmXY,
.headerName-fajvi9,
.headerTag-2pZJzA,
.headerTagUsernameNoNickname-2_H881 {
	color: $low;
}

.bar_e63719,
.headerFill-adLl4x,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
.colorDefault-CDqZdO.focused-3qFvc8,
.activity-3v9l4T {
	background: $low;
}

.barInner_d1abc6 {
	background: $high;
}

// Playing a game
.theme-dark .activity-3v9l4T {
	order: 10;
	padding: 16px;
	background-color: $low;
	.nameWrap__7263f,
	.content_d7cb7f,
	.headerText__7d203 {
		color: $high;
	}
}

// Rich Embed Game Icon
.gameIcon__90c32,
.assetsLargeImage_b88a59 {
	border-radius: 0;
	border: 1px solid $high;
}

.root-SR8cQa, // User menu popout
.theme-dark .colorPickerCustom-1swUKF, // Color picker
.userPopout-2j1gM4 // Clicking on a user
{
	@include boxify($high, $mid, 5px);
	border-color: $low;
}

.theme-dark .newPopoutActivityStyles .activityName__47e51 {
	color: $low;
}

.headerNormal-3Zn_yu {
	display: flex;
	flex-direction: column;
}

.popoutBanner__9f5b9 {
	position: relative;
	order: 0;
}

// Header
.userPopoutInner_f545a3 {
	position: static;
	background-color: $low;
	.customStatus-3XAoF9,
	.nickname-2gQ76l,
	.headerTagUsernameBase-24SRnT,
	.headerTagUsernameNoNickname-1ZLDYY,
	.discrimBase-1QwWzY {
		color: $high;
	}
	.profileBadges__7a7cb {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 12px;
	}
	.headerText-15Q25Z {
		padding-bottom: 4px;
	}
	.aboutMeSection---MkQa {
		padding: 8px;
	}
}
// profile mask on banner
.bannerSVGWrapper__3e7b0 {
	foreignObject {
		mask: none !important;
	}
}

.bannerSVGWrapper__3e7b0 {
	order: 1;
}
// Avatar
.avatarWrapper_f77579 {
	margin: 15px auto;
	display: flex;
	position: relative;
	justify-self: center;
	align-content: center;
	justify-content: center;
	order: 2;
	top: 0;
	left: 0;
	width: 90%;
	height: 120px;
	background-color: $mid;
	border-radius: 0;

	.avatarHoverTarget__3a360 {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
		border-width: 1px;
	}
}

// Avatar hint
.avatarWrapperNormal__0bddb,
.avatarWrapperNormal__0bddb:hover {
	.avatarDecorationHint__03e0b,
	.avatarHint__8e5b9 {
		position: relative;
		margin: auto;
	}
}
.avatarDecorationHint__03e0b {
	top: 0;
	left: 0;
}

.defaultColor__77578 {
	color: $low;
}

.roleName_d19d33 .defaultColor__77578 {
	color: $high;
}

.eyebrow_e5a66c {
	color: $low !important;
}
.userPopoutOverlayBackground_d8afa4 {
	order: 3;
}

.footer-3naVBw {
	background-color: transparent;
	order: 4;
}

// roles
.theme-dark .role__631a3 {
	background: $low;
	color: $high;
	.actionButton__81eaa {
		color: $high;
	}
}
// Spotify
.bar_e63719 {
	border: 1px solid $mid;
	.barInner_d1abc6 {
		background-color: $alert;
	}
}

///////////////////////////////////////////////////

.userProfileInnerThemedNonPremium-1gT-zY {
	@include boxify($high, $mid, 3px);
	background: $high;
}

.overlayBackground__86b78,
.userPopoutInner_f545a3:before {
	background: transparent;
}
.divider__56f26 {
	display: none;
}
.connectedAccountOpenIcon_df549d:hover {
	color: $mid;
}

.userProfileOuter__46bb7 {
	@include boxify($high, $mid, 3px);
}
.roundedBanner-TdlJGa {
	border-radius: 0;
}

.userProfileOuterThemed__6eb84.userPopoutOuter_d739b2,
.userProfileOuterThemed__6eb84.userProfileOuter__46bb7 {
	padding: 0;
}

.overlayBackground__86b78 {
	background: $high;
	border-radius: 0%;
	border: 2px solid $low;
}

.buttonColor__01bf8 {
	@include buttonify($low, $high, $alert, $high);
}

.top-K_jibn .themed-2-lozF.item__48dda:hover,
.brand-3g5E0C.item__48dda:hover,
.themed-2-lozF.item__48dda:hover {
	color: $mid;
	border-bottom-color: $mid;
}

.top-K_jibn .selected__5711d.themed-2-lozF.item__48dda,
.top-K_jibn .themed-2-lozF.item__48dda:active {
	border-bottom-color: $low;
}

.guildNick-HT7Pgu {
	color: $mid;
}

// connected account
.connectedAccountContainer-2TWiXT {
	border-radius: 0;
	border: 2px solid $low;

	.text-xs-normal_ccc5fb,
	.connectedAccountNameText-3VHIcl {
		color: $low !important;
	}

	.connectedAccountOpenIcon-OngaxI {
		color: $low;
	}
}
