// Transparencies
.app__160d8,
.bg__960e4,
body,
.appMount__51fd7 {
	background-color: transparent;
}
.wordmarkWindows__421ed {
	color: transparent;
}
.wordmarkWindows__421ed::before {
	content: 'For the Glory of Mankind';
	font-size: 12px;
	position: fixed;
	color: $low;
	backdrop-filter: blur;
	margin-left: 3px;
	margin-top: 1px;
	font-family: 'sce-ps3_rodin_latinregular';
	font-weight: 700;
	pointer-events: fill;
}

// Scrollbars
.thin__99f8c,
.auto__99f8c {
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		border: none;
		border-radius: 0;
		background-color: $low-trans;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}
.thin__99f8c::-webkit-scrollbar-track {
	background: transparent;
}
// Close/Minimize/Maximize buttons
.winButtonClose__421ed:hover {
	transition: background-color 0.2s, color 0.2s ease;
	color: $high;
	background: $alert;
}
.winButtonMinMax__421ed:hover {
	transition: background-color 0.2s, color 0.2s ease;
	color: $high;
	background: $low;
}
.withFrame__421ed {
	margin-top: 0;
	padding-top: 4px;
}
// Input text
.emojiRowText_e7d73e {
	color: $mid;
}
.theme-dark .emojiAliasPlaceholder_e7d73e {
	color: $low;
}
.theme-dark .emojiRow_e7d73e .emojiAliasInput_e7d73e > .input__0f084 {
	background-color: $high;
	border-radius: 0;
	border: 2px solid $low;
	color: $low;
	&:hover {
		border-color: $high;
	}
	&:focus {
		border-color: $alert;
	}
	&::placeholder {
		color: $mid;
	}
}
// Buttons
.theme-dark .button__33db6,
.theme-dark .watchButton-2v6cPT,
.theme-dark .lookFilled__201d5.colorPrimary__201d5,
.lookInverted-2D7oAl.colorGreen__201d5,
.lookInverted-2D7oAl.colorBrand__201d5,
.lookFilled__201d5.colorBrand__201d5,
.container-x8Y1ix,

.primaryButton_af3b89,
.secondaryButton_af3b89,
.lookOutlined__201d5.colorGreen__201d5,
.lookOutlined__201d5.colorBrand__201d5,
.lookFilled__201d5.colorPrimary__201d5,
.lookFilled__201d5.colorGrey-2DXtkV,
.button_fb7f94,
.custom-profile-theme .themeColor_fb7f94.primary_fb7f94,
.lookFilled__201d5.colorBrand__201d5:disabled {
	@include buttonify($low, $high, $mid, $high);
}
#bd-settingspane-container .bd-pfbtn, // PRE-BETA BBD: WILL BE DEPRECIATED SOON
.theme-dark .lookOutlined__201d5.colorPrimary__201d5,
.jumpButton-JkYoYK,
.button_e131a9.buttonColor_e131a9.buttonActive_e131a9,
.lookFilled__201d5.colorGreen__201d5,
.lookFilled__201d5.colorRed__201d5,
.lookOutlined__201d5.colorRed__201d5 {
	@include buttonify($alert, $high, $low, $high);
}
.lookOutlined__201d5.colorWhite-rEQuAQ {
	@include buttonify($alert, $high, $high, $low);
}

// Slider / Toggle switch
.container__87bf1 {
	background-color: $low !important;
	border-radius: 0;
}
.input__87bf1 {
	border-radius: 0;
}
.slider__87bf1 rect {
	fill: $high;
	rx: 0;
	ry: 4;
}
.bd-switch-body {
	--switch-color: $mid;
	background-color: $mid;
	.bd-switch-slider .bd-switch-handle {
		fill: $high;
	}
}
.bd-switch-checked .bd-switch-body {
	background-color: $low;
}
.bd-switch input:checked + .bd-switch-body {
	--switch-color: $high;
}
// Checkbox
.item-2idW98 {
	transition: color 0.2s, background-color 0.2s;
	@include boxify($high, $mid, 3px);
	@include buttonify($high, $low, $low, $high);

	&[aria-checked='true'] {
		background: $alert;
		color: $high;

		.radioIconForeground-2BMavi {
			color: $high;
		}
	}
	.radioBar-3w9XY- {
		border-radius: 0;
	}
}

.colorDefault_c1e9c4.focused_c1e9c4 .caret_c1e9c4,
.colorDefault_c1e9c4.focused_c1e9c4 .checkbox_c1e9c4,
.colorDefault_c1e9c4.focused_c1e9c4 .radioSelection_c1e9c4,
.colorDefault_c1e9c4.focused_c1e9c4 .subtext_c1e9c4 {
	color: $high;
}

.colorDefault_c1e9c4 .checkbox_c1e9c4,
.colorDefault_c1e9c4 .radioSelection_c1e9c4 {
	color: $alert;
}

.colorDefault_c1e9c4 .check_c1e9c4,
.colorDefault_c1e9c4.focused_c1e9c4 {
	color: $mid;
}

// Drop-down
.css-1kj8ui-container {
	div {
		border-radius: 0;
	}
	.css-6fzn47-control {
		border: 2px solid $alert;
		background-color: $high;
	}
	.css-17e1tep-control,
	.css-gvi9bl-control {
		border: 2px solid $low;
		background-color: $high;
	}
	.css-o3gndj-placeholder,
	.css-1yz4bi9-option,
	.css-ku6vh5-indicatorContainer,
	.css-4h5swf-singleValue {
		color: $low;
	}
	.css-3vaxre-menu {
		border: 2px solid $low;
		background-color: $high;
		box-shadow: none;
	}
	.css-rzbxvl-option {
		background-color: $low;
		color: $high;

		.colorStandard_c9946a,
		.subtitle_e9c087 {
			color: $high;
		}
	}
	.css-1ba14n5-option {
		background-color: $alert;
		color: $high;
	}
}
// Pulley bar
.barFill_a562c8 {
	background: $alert;
}
.theme-dark .bar-1Bhnl9 {
	background: $low;
}
.grabber-2GQyvM {
	background: $high;
	border: 1px solid $low;
	border-radius: 0;
	box-shadow: none;
}
