// Transparencies
.app-2rEoOp,
.bg-h5JY_x {
    background-color: transparent;
}
.wordmarkWindows-1v0lYD {
    color: transparent;
}
// Close/Minimize/Maximize buttons
.winButtonClose-1HsbF-:hover {
    transition: background-color 0.2s, color 0.2s ease;
    color: $high;
    background: $alert;
}
.winButtonMinMax-PBQ2gm:hover {
    transition: background-color 0.2s, color 0.2s ease;
    color: $high;
    background: $low;
}
// Input text
.emojiRowText-2j4TNM {
    color: $mid;
}
.theme-dark .emojiAliasPlaceholder-3H_iZA {
    color: $low;
}
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.input-cIJ7To {
    background-color: $high;
    border-radius: 0;
    border: 2px solid $low;
    color: $low;

    &:hover {
        border-color: $mid;
    }
    &.focused-1mmYsC,
    &:focus {
        border-color: $alert;
    }
    &::placeholder {
        color: $mid;
    }

}
// Buttons
.bd-modal-wrapper .footer button, // PRE-BETA BBD: WILL BE DEPRECIATED SOON
.theme-dark .button-2DhvE9,
.theme-dark .watchButton-2SbJEo,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookInverted-2D7oAl.colorGreen-29iAKY,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.container-UC8Ug1,
.lookOutlined-3sRXeN.colorGreen-29iAKY,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    @include buttonify($low, $high, $mid, $high);
}
#bd-settingspane-container .bd-pfbtn, // PRE-BETA BBD: WILL BE DEPRECIATED SOON
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.jumpButton-JkYoYK,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
    @include buttonify($alert, $high, $low, $high);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    @include buttonify($alert, $high, $high, $low);
}
// Toggle switch
.container-3auIfb[style="opacity: 1; background-color: rgb(114, 118, 125);"] {
    background: $mid !important;

    path {
        fill: $mid;
    }
}
.container-3auIfb[style="opacity: 1; background-color: rgb(67, 181, 129);"] {
    background: $low !important;

    path {
        fill: $low;
    }
}
.bd-switch-body {
    --switch-color: $mid;
    background-color: $mid;
    .bd-switch-slider .bd-switch-handle {
        fill: $high;
    }
}
.bd-switch-checked .bd-switch-body {
    background-color: $low;
}
.bd-switch input:checked+.bd-switch-body {
    --switch-color: $high
}
// Checkbox
.item-26Dhrx {
    transition: color .2s, background-color .2s;
    @include boxify($high, $mid, 3px);
    @include buttonify($high, $low, $low, $high);

    &[aria-checked=true] {
        background: $alert;
        color: $high;

        .radioIconForeground-XwlXQN {
            color: $high;
        }
    }
    .radioBar-bMNUI- {
        border-radius: 0;
    }
}
// Drop-down
.css-1kj8ui-container {
    div {
        border-radius: 0;
    }
    .css-6fzn47-control  {
        border: 2px solid $alert;
        background-color: $high;
    }
    .css-17e1tep-control,
    .css-gvi9bl-control {
        border: 2px solid $low;
        background-color: $high;
    }
    .css-o3gndj-placeholder,
    .css-1yz4bi9-option,
    .css-ku6vh5-indicatorContainer,
    .css-4h5swf-singleValue {
        color: $low;
    }
    .css-3vaxre-menu {
        border: 2px solid $low;
        background-color: $high;
        box-shadow: none;
    }
    .css-rzbxvl-option {
        background-color: $low;
        color: $high;

        .colorStandard-2KCXvj,
        .subtitle-2yP_Eh {
            color: $high;
        }
    }
    .css-1ba14n5-option {
        background-color: $alert;
        color: $high;
    }
}
// Pulley bar
.barFill-23-gu- {
    background: $alert;
}
.theme-dark .bar-2Qqk5Z {
    background: $low;
}
.grabber-3mFHz2 {
    background: $high;
    border: 1px solid $low;
    border-radius: 0;
    box-shadow: none;
}