// Transparencies
.divider__9293f,
.theme-dark .children__9293f:after,
.container__9293f.themed__9293f {
	background: transparent;
}
.platform-win .sidebar_c48ade {
	border-radius: 0;
}
.header-2o-2hj,
.content_f75fb0:before,
.searchBar__35e86 {
	box-shadow: none;
}
// Server name
.clickable_f37cb1 .header_f37cb1:hover,
.selected_f37cb1 .header_f37cb1 {
	background-color: $low;
	color: $high;
}
// Top header
.name_f37cb1,
.title__9293f {
	@include titlify(3px, 4px);
	margin: 0;
}
.notice__6e2b9.colorStreamerMode__6e2b9, // Streamer mode Notif
.akaBadge__27cd4 // AKA badge
{
	box-shadow: none;
	background: $alert;
	color: $high;
}
.notice__5fd4c {
	border-radius: 0;
}
// Channel icon
.title_f75fb0 .children__9293f {
	.iconWrapper__9293f {
		margin: 0 5px;
		margin-bottom: 4px;
	}
	.icon__9293f {
		margin: 6px 0px;
		width: 16px;
		height: 16px;
		color: $high;
		background: $low;
	}
	path:first-child {
		background-color: $low;
		fill: $low;
	}
}
// Home
.topPill-3DJJNV .themed-2-lozF.item_b3f026:hover,
.topPill-3DJJNV .themed-2-lozF.selected_b3f026.item_b3f026 {
	border-radius: 0;
	background-color: $low;
	color: $high;
}
.brand-3g5E0C.item_b3f026,
.themed-2-lozF.item_b3f026 {
	color: $low;
}

// .container__9293f.themed__9293f{
// 	.children__9293f::after {
// 		content: ''; /* Use the variable */
// 		position:absolute;
// 		width: 100%;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		text-align: center; /* Optional: center the content */
// 		background: var(--border-pattern);
// 		background-color: #f0f0f0; /* Optional: background for the appended content */
// 		padding: 5px; /* Optional: padding for the appended content */
// 	}
// }
