// Transparencies
.divider_fc4f04,
.theme-dark .children_fc4f04:after,
.container_fc4f04.themed_fc4f04 {
	background: transparent;
}
.platform-win .sidebar_a4d4d9 {
	border-radius: 0;
}
.header-2o-2hj,
.content_a7d72e:before,
.searchBar_f0963d {
	box-shadow: none;
}
// Server name
.clickable_fd6364 .header_fd6364:hover,
.selected_fd6364 .header_fd6364 {
	background-color: $low;
	color: $high;
}
// Top header
.name_fd6364,
.title_fc4f04 {
	@include titlify(3px, 4px);
	margin: 0;
}
.notice_be03aa.colorStreamerMode_be03aa, // Streamer mode Notif
.akaBadge__27cd4 // AKA badge
{
	box-shadow: none;
	background: $alert;
	color: $high;
}
.notice__5fd4c {
	border-radius: 0;
}
// Channel icon
.title_a7d72e .children_fc4f04 {
	.iconWrapper_fc4f04 {
		margin: 0 5px;
		margin-bottom: 4px;
	}
	.icon_fc4f04 {
		margin: 6px 0px;
		width: 16px;
		height: 16px;
		color: $high;
		background: $low;
	}
	path:first-child {
		background-color: $low;
		fill: $low;
	}
}
// Home
.topPill-3DJJNV .themed-2-lozF.item_a0:hover,
.topPill-3DJJNV .themed-2-lozF.selected_a0.item_a0 {
	border-radius: 0;
	background-color: $low;
	color: $high;
}
.brand-3g5E0C.item_a0,
.themed-2-lozF.item_a0 {
	color: $low;
}

// .container_fc4f04.themed_fc4f04{
// 	.children_fc4f04::after {
// 		content: ''; /* Use the variable */
// 		position:absolute;
// 		width: 100%;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		text-align: center; /* Optional: center the content */
// 		background: var(--border-pattern);
// 		background-color: #f0f0f0; /* Optional: background for the appended content */
// 		padding: 5px; /* Optional: padding for the appended content */
// 	}
// }
