// Transparencies
.divider_bdb894,
.theme-dark .children_cde9af:after,
.container__26baa.themed_b152d4 {
	background: transparent;
}
.platform-win .sidebar_e031be {
	border-radius: 0;
}
.header-2o-2hj,
.content__01e65:before,
.searchBar__621ec {
	box-shadow: none;
}
// Server name
.clickable__1383f .header__77c95:hover,
.selected__987e6 .header__77c95 {
	background-color: $low;
	color: $high;
}
// Top header
.name_e8e549,
.title__84e16 {
	@include titlify(3px, 4px);
	margin: 0;
}
.colorStreamerMode_cb7f84, // Streamer mode Notif
.akaBadge__27cd4 // AKA badge
{
	box-shadow: none;
	background: $alert;
	color: $high;
}
.notice__5fd4c {
	border-radius: 0;
}
// Channel icon
.title_d4ba1a .children_cde9af {
	.iconWrapper_de6cd1 {
		margin: 0 5px;
		margin-bottom: 4px;
	}
	.icon_ae0b42 {
		margin: 6px 0px;
		width: 16px;
		height: 16px;
		color: $high;
		background: $low;
	}
	path:first-child {
		background-color: $low;
		fill: $low;
	}
}
// Home
.topPill-3DJJNV .themed-2-lozF.item__48dda:hover,
.topPill-3DJJNV .themed-2-lozF.selected_a523ff.item__48dda {
	border-radius: 0;
	background-color: $low;
	color: $high;
}
.brand-3g5E0C.item__48dda,
.themed-2-lozF.item__48dda {
	color: $low;
}
