// Discord Logo
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9,
.childWrapper-anI2G9 {
    background-color: transparent;
    color: transparent;
}
.homeIcon-tEMBK1,
.tutorialContainer-2sGCg9 .wrapper-25eVIn,
.tutorialContainer-2sGCg9 .svg-1X37T1 {
    height: 57px;
    width: 48px;
}
.tutorialContainer-2sGCg9 .svg-1X37T1 {
    animation-name: y-spin;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes y-spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
// Icons
.iconSize-2tmqqh {
    @include remask('https://discord.com/assets/c30220448097b064286a8759a9b6c4af.svg', $alert);
}
foreignObject[mask='url(#svg-mask-status-dnd)'] .status-1AY8sU {
    background-color: $alert !important;
}
.iconBadge-2wi9r4.participating-NBGDkr,
.iconBadge-qZ4Ksk {
    background-color: $alert;
}
.strikethrough-1n4ekb {
    color: $alert;
}
// Alert Fills / Blurple
.theme-dark .overlayToggleIconOn-3UNmty .fill-1ugeBG,
.overlayToggleIconOff-1kT42w .fill-1ugeBG,

[fill*='#F04747'],
[fill*='#7289da'] {
    fill: $alert !important;
}
[style*='background-color: rgb(240, 71, 71);'] {
    background-color: $alert !important;
}
[style*='color: rgb(114, 137, 218);'] {
    color: $alert !important;
}
// Dark Fills / Blurple
[style*='background-color: rgb(114, 137, 218);'] {
    background-color: $low !important;
}
// Avatar upload
.theme-dark .avatarUploaderIndicator-2G-aIZ {
    background-color: $mid;
    border: 2px solid $low;
}
// Plus sign
.theme-dark .actionButton-VzECiy {
    color: $low;
}
// Do not disturb
.pointerEvents-2zdfdO[mask='url(#svg-mask-status-dnd)'] {
    fill: $alert;
}
// Lock icon and Alert icon
path[d='M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z']
    + path[d='M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z'],
path[d='M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z']
    + path[d='M19.8914 3.80204L22.2438 8.55654C22.5726 9.22119 22.0891 9.99999 21.3475 10L16.6179 10C15.8745 10 15.391 9.21769 15.7235 8.55279L18.1007 3.79829C18.4701 3.05951 19.5251 3.06172 19.8914 3.80204ZM18.4998 5H19.4999V7.5H18.4999L18.4998 5ZM18.4998 8.49887C18.4998 8.77589 18.7238 9 18.9998 9C19.2759 9 19.4999 8.77589 19.4999 8.49887C19.4999 8.22224 19.2759 7.99773 18.9998 7.99773C18.7238 7.99773 18.4998 8.22224 18.4998 8.49887Z'] {
    transform: translateX(-108%) translateY(0%) scale(2);
}
