// Discord Logo
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15,
.childWrapper_a6ce15 {
	background-color: transparent;
	color: transparent;
}
.tutorialContainer_f9623d {
	.wrapper__8436d,
	.svg_c5f96a {
		height: 57px;
		width: 48px;

		animation-name: y-spin;
		animation-duration: 6s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;

		foreignobject svg * {
			fill: none !important;
		}
	}
}
@keyframes y-spin {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
// Icons
.iconSize_d76df7 {
	@include remask('https://discord.com/assets/c30220448097b064286a8759a9b6c4af.svg', $alert);
}
foreignObject[mask='url(#svg-mask-status-dnd)'] .status-2DiCMd {
	background-color: $alert !important;
}
.iconBadge-2wi9r4.participating-NBGDkr,
.iconBadge_fc4f04 {
	background-color: $alert;
}
.strikethrough_b2ca13 {
	color: $alert;
}

// Badges on Guild icons
.baseShapeRound_df8943 {
	border-radius: 0px;
}

// Alert Fills / Blurple
.theme-dark .overlayToggleIconOn-3_-nGm .fill-MYciTJ,
.overlayToggleIconOff-3hGOmN .fill-MYciTJ,
[fill*='#F04747'],
[fill*='#7289da'] {
	fill: $alert !important;
}
[style*='background-color: rgb(240, 71, 71);'] {
	background-color: $alert !important;
}
[style*='color: rgb(114, 137, 218);'] {
	color: $alert !important;
}
// Dark Fills / Blurple
[style*='background-color: rgb(114, 137, 218);'] {
	background-color: $low !important;
}
// Avatar upload
.theme-dark .avatarUploaderIndicator-2G-aIZ {
	background-color: $mid;
	border: 2px solid $low;
}
// Plus sign
.theme-dark .actionButton_e4010c {
	color: $low;
}
// Do not disturb
.pointerEvents-9SZWKj[mask='url(#svg-mask-status-dnd)'] {
	fill: $alert;
}