@use '../vars/vars.scss' as *;

// Transparencies for deep layers
._160d8e55254637e5-app,
._51fd70792ee2e563-appMount,
.visual-refresh .ef3116c2da186559-wrapper,
.visual-refresh ._960e4207cea8323e-bg,
body {
	background: transparent;
}

// KILL THE SEMICOLON
.visual-refresh .a3002d7de5be5280-app {
	color: transparent;
}

// Close/Minimize/Maximize buttons
.c38106a3f0c3ca76-winButtonClose:hover {
	transition: background-color 0.2s, color 0.2s ease;
	color: $high;
	background: $alert;
}

.c38106a3f0c3ca76-winButtonMinMax:hover {
	transition: background-color 0.2s, color 0.2s ease;
	color: $high;
	background: $low;
}


// ==== title bar at the top
// see root/--custom-app-top-bar-height for header height
.c38106a3f0c3ca76-bar {
	.c38106a3f0c3ca76-title {
		/* justify-content: left; */

		.title__85643 {
			/* left: 64px+20px+15px; */
			// this line and the one above are for left aligning the title bar. still not married to either option.

			top: -8px;
			padding: .2em;

			position: relative;
			background-color: $low;

			.f34534e8a5d3ca64-icon {
				//display: none;
				background-image: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_dark-theme.svg") !important;
			}

			// app icons
			path {
				fill: $high !important;
			}

			._4bd5201c86a2042b-defaultColor {
				text-transform: uppercase;
				font-weight: 400;
				color: $high;
			}


			// the lil selector arrow next to it 
			&::before {
				content: '';
				position: absolute;

				left: -30px;

				width: 24px;
				height: 22px;

				background-image: $selector-img-invert; // overridded in light/dark/night files
				background-size: cover;
				background-repeat: no-repeat;
				z-index: 1;
			}
		}

		// trim
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 36px;
			width: 100%;
			height: 15px;
			background: var(--nier-border) repeat-x;
			padding: 10px 0 0 0;
		}
	}

	.c38106a3f0c3ca76-trailing {
		//contains the min/max/close buttons
		top: -5px;
	}
}