@use '../vars/vars' as *;

// ==== all buttons
:where(.visual-refresh) ._201d5e8a3c09670a-button {
	border-radius: 0;
}

._201d5e8a3c09670a-lookOutlined._201d5e8a3c09670a-colorRed {
	@include buttonify($alert-trans, $high, $low, $high);

	border: 1px solid $alert;
}