// Lattice effect
#app-mount:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 5px 5px;
	background-image: linear-gradient(90deg, transparent, transparent 4px, rgba(0, 0, 0, 0.07) 5px),
		linear-gradient(transparent, transparent 4px, rgba(0, 0, 0, 0.07) 5px);
	z-index: 1500;
	opacity: 0.75;
	user-select: none;
	pointer-events: none;
}
//Overwrite for image modals (temporarily placed here)
._59d0d7075b521375-layerContainer:has(.bc663cf6190ce9ad-layer ._49fc18ba07c5025f-focusLock .d3a6f0de39ff36e9-carouselModal) {
	z-index: 1501;
}
