@use '../vars/vars' as *;

//---------------------- THIS SECTION IS FOR MINOR POPUPS (such as hover tooltips) ---------------------//

// User volume square
.c36707910f687430-tooltipContent {
	@include boxify($high, $mid, 2px);
	color: $low
}

.c36707910f687430-tooltipGrey {
	color: $high;
}
.c36707910f687430-tooltip {
	box-shadow: none;
}

// right click on message popup

// hover on message popup (with the emojis)
._5126c0cd07f243a0-buttonsInner.f84418acfdbdfe54-popover.popoverReactionHoverBar_f84418.f7ecaca5c80dbf3a-wrapper {
	background-color: $high;
}

.c19a557985eb7793-buttonContainer * {
	border-radius: 0px;
}

// See where emoji is from
.visual-refresh ._0f481cbbd7530492-popoutContainer {
	@include boxify($high, $mid, 3px);

	._201d5e8a3c09670a-button {
		border-radius: 0;
	}
}

// hover on guild icon in guild bar popup (some seem fine, but others are not, attempt to make it uniform

// emoji/gif/sticker popup
/* Expression Picker gifs background */
.fed6d32841cc2da2-content,
/* Expression Picker gifs header */
.visual-refresh .fed6d32841cc2da2-header,
/* Expression Picker sticker header */
.visual-refresh ._8ef02eea17068b73-header {
	background: $high;
	/* Expression Picker sticker header */
}

.b717a15017b82443-h5 {
	color: $low;
	/* Expression Picker gifs subcategory header text */
}

.fed6d32841cc2da2-backButton:hover {
	color: $mid;
	/* Expression Picker gifs subcategory back button */
}

.visual-refresh ._084343c4f11eaaab-contentWrapper {
	@include boxify($high, $mid, 3px);
}

// autocomplete popup
._6b0e07cbaf13ec4e-autocomplete {
	border-radius: 0;
	box-shadow: 4px 4px 0 var(--color-mid);
}

._13533e3c5791980f-autocomplete {
	background-color: var(--color-high);
}

.visual-refresh ._084343c4f11eaaab-contentWrapper {
	background-color: $high;
	border: none;
	border-radius: 0px;
}

//------ Nav Bar Theming------//
._084343c4f11eaaab-nav {
	height: 32px;
}

.visual-refresh ._084343c4f11eaaab-navButton {
	color: $low;
	background-color: $mid-trans;
	height: 24px;

	&:hover {
		color: $high;
		background-color: $low;
	}
}

.visual-refresh ._084343c4f11eaaab-navButtonActive {
	background-color: $low;
	color: $high;
	height: 32px;
}

//-----------------------------//
//sub container
.c0e32c5cffed3d9f-wrapper {
	border-radius: 0px;
}

// individual sub-containers (why does every container have its own background color set??)
.visual-refresh {

	.c0e32c5cffed3d9f-emojiPicker,
	.c0e32c5cffed3d9f-header,
	._14245bb948377a25-wrapper,
	._0d1eff984b8fd277-wrapper,
	.aeaaeb2a573807f0-inspector {
		background-color: $high;
	}

	//search bar container
	.container_a45028 {
		border-radius: 0px;
		border: 1px solid $alert;
	}
}

// search options popup
.visual-refresh ._55c999adcf6db265-container {
	@include boxify($high, $mid, 3px)
}

// search options in text box
.visual-refresh .bd818628221af7aa-searchAnswer, .visual-refresh .bd818628221af7aa-searchFilter {
	background-color: $high;
}

// search results container
.visual-refresh .a98f3b020416ad54-searchResultsWrap {
	background: transparent;
	border: none;
}

// result itself
.visual-refresh ._80bf8435713f6adb-searchResult {
	@include boxify($high, $mid, 3px);
}


//icons and text for sub-titles (frequently used, server name etc)
._14245bb948377a25-headerIcon>*,
._14245bb948377a25-headerLabel,
._14245bb948377a25-headerCollapseIcon,
.c656aca9a3db31a9-soundmojiViewMore {
	color: $low;
}

.aeaaeb2a573807f0-textWrapper * {
	color: $low;
}

// context menus / right click
.c1e9c47c23f12ca3-menu {
	background-color: $high;
	border-radius: 0px;
	box-shadow: 3px 3px 0 $mid;
}

.refresh-fast-follow-distinct-borders .c1e9c47c23f12ca3-menu {
	border: none;
}

:where(.visual-refresh) .c1e9c47c23f12ca3-colorDefault {
	.c1e9c47c23f12ca3-label {
		color: $low;
	}

	&.c1e9c47c23f12ca3-focused {
		transition: all 0.1s;
		color: $high;
		background-color: $low;
		border-radius: 0px;

		.c1e9c47c23f12ca3-label {
			color: $high;
		}

		.c1e9c47c23f12ca3-icon path {
			fill: $high !important;
		}
	}
}