// prompts.scss contains styling for any modal that lays over the screen / dims the sides

@use '../vars/vars.scss' as *;

// "Find or start a conversation" / "Where would you like to go?" / quick switcher prompt
// TODO: this could in theory use selectors / fancy selection stuff
.visual-refresh .ac6cb02cd15b4b3b-quickswitcher {
	@include boxify($high, $mid, 5px);
	border: none;

	.ac6cb02cd15b4b3b-input {
		&::placeholder {
			font-weight: bold;
			color: $low;
			text-transform: initial;
		}

		background: $high;
		color: $low;

		border: none;
		border-radius: 0;
		box-shadow: none;

		text-transform: lowercase;
		font-weight: bold;
	}

	._71961da99d37ac57-icon {
		height: 13px;
		width: 13px;
		background-color: $low;
	}

	._71961da99d37ac57-result[aria-selected='true'] {
		background: $low;
		border-radius: 0;

		._71961da99d37ac57-note {
			color: $mid
		}

		._71961da99d37ac57-misc,
		._71961da99d37ac57-contentUnread,
		._71961da99d37ac57-contentDefault {
			color: $high;
		}

		._71961da99d37ac57-icon {
			background-color: $high;

			path {
				fill: $high;
			}
		}
	}
}