// user_info handles the full screen modal that appears when you press on a user's account profile. Includes their profile picture, banner, bio, containers to message, activities, etc.
@use '../vars/vars' as *;

// whole container
/* .user-profile-modal-v2 {} */
.profileBody__9c3be {
	padding: 12px;
	margin: 0px 20px;
	background-color: $high;
}

.avatar__75742 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;
	background-color: $high-mid;
	border: 2px solid $low;
	margin: 20px;
}

.container_ab8609 {
	left: 0;
	top: 0;
	margin: 0 20px;
	margin-bottom: 20px;
	position: relative;
}

.profileBody__9c3be {
	border: 2px solid $low
}

.referenceContainer_ab8609 {
	display: none;
}

// status message
.outer_ab8609 {
	overflow: visible;

	.inner_ab8609 {
		.content_ab8609 {
			overflow: visible;
			max-height: none !important;
			display: flex;
		}
	}
}

.theme-dark .outer_ab8609 {
	border: none;
	box-shadow: none;
}

.outer_c0bea0 .username__24502 {
	margin: 0;
}