@use '../vars/vars' as *;

// whole container
.custom-user-profile-theme.user-profile-popout :where(._75742e4cc9019aeb-avatar),
.user-profile-popout :where(._75742e4cc9019aeb-avatar) {
	top: 0;
	left: 0
}

.c0bea05627c5dc35-outer {
	&:not(.custom-theme-background.custom-profile-theme) {
		box-shadow: 3px 3px 0 $mid;
		border-radius: 0;
	}

	padding: 0 !important;

	.ab86098b36386ff7-outer:after,
	.ab86098b36386ff7-outer:before {
		display: none;
	}

	:where(._75742e4cc9019aeb-avatar) {
		position: relative;
		left: 0px;
		top: 0px;
	}

	// the big rect with user profile inside
	.clickable_f89da9,
	._75742e4cc9019aeb-clickable {
		border: 2px solid $low;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $mid;
		margin: 0.5em;
		padding: 2em;
		border-radius: 0;
		position: relative;
		top: 0;
		left: 0;
	}

	//container holding pfp and banner
	._75742e4cc9019aeb-avatar.user-profile-popout {
		top: 0;
		left: 0;
	}

	// usernames, mutuals, roles
	._5be3ef42f92174b2-body {
		border: 2px solid $low;
		margin: 0 0.5em;
		padding: 0.5em;
		background: $high;

		.user-profile-popout {

			//activities container
			&.activity__5be3e {
				//activites (takes on profile theme color and can cause conflict with colors)
				border-top: 1px solid;
				border-bottom: 1px solid;
				border-color: $low;
				border-radius: 0px;
				background-color: transparent;
			}
		}
	}

	//Roles container
	.fccfdf3cfff21921-root {
		.dfa8b6b94cddb191-role {
			background-color: $mid-trans;
		}
	}

	.footer_d5223c {
		margin: 0;
		padding: 0.5em;
	}

	// message user
	._740174f3d6a2c8fe-channelTextArea {
		background: $high;
		border-radius: 0;
	}

	//user popout bottom left
	._24502a4069848acb-username,
	.d1d9f3257b6b604c-container,
	.ce832809562bf737-body {
		border: 2px solid $low;
		padding: 0.5em;
		background: $high;

		.user-profile-popout {

			//activities container
			&._39ec2e3dfb4fd2f2-card {
				//activites (takes on profile theme color and can cause conflict with colors)
				border-top: 1px solid;
				border-bottom: 1px solid;
				border-color: $low;
				border-radius: 0px;
				background-color: transparent;
			}
		}
	}

	.ce832809562bf737-body {
		margin: 0 0.5em;
	}


	._68edb95846a37624-mask mask {
		display: none;
	}
}

// fucking annoying ass tooltip / status text
.user-profile-popout .ab86098b36386ff7-container {
	top: 0;
	left: 0;

	position: relative;
	justify-self: center;
	margin: 0 0.5em;
	border: 2px solid $low;
}

.user-profile-popout .ab86098b36386ff7-referenceContainer {
	position: absolute;
	margin: 0;
}

// banner buttons
:where(.button_fb7f94).banner_fb7f94,
:where(.button_fb7f94).hover_fb7f94 {
	border-radius: 0;
	@include buttonify($high, $low, $low, $high);
}

// reply to status

.b1f01d03ecc7d736-container {
	background: transparent;
	border-radius: 0;
	padding: 0;
}

html:not(.visual-refresh-chat-input) .b1f01d03ecc7d736-inputInner {
	background-color: $high;
	border-radius: 0;
}

.b1f01d03ecc7d736-editor {
	min-height: 0;
}

// activity thing

._39ec2e3dfb4fd2f2-card {
	@include buttonify($high, $low, $mid, $high );
}

// full popout container
.d1d9f3257b6b604c-container {
	margin-bottom: .5em !important;
}

// custom text status
.theme-dark .ab86098b36386ff7-outer .ab86098b36386ff7-inner {
	background-color: $high;
	color: $low
}