// user_info handles the full screen modal that appears when you press on a user's account profile. Includes their profile picture, banner, bio, containers to message, activities, etc.
@use '../vars/vars' as *;

// whole container
.user-profile-modal-v2 {

	._9c3bea41fd465666-profileBody {
		padding: 12px;
		margin: 0px 20px;
		background-color: $high;
	}

	._75742e4cc9019aeb-avatar {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2em;
		background-color: $high-mid;
		border: 2px solid $low;
		margin: 20px;
	}

	.ab86098b36386ff7-container {
		left: 0;
		top: 0;
		margin: 0 20px;
		margin-bottom: 20px;
		position: relative;
	}

	._9c3bea41fd465666-profileBody {
		border: 2px solid $low
	}

	.ab86098b36386ff7-referenceContainer {
		display: none;
	}

	// status message
	.ab86098b36386ff7-outer {
		overflow: visible;

		.ab86098b36386ff7-inner {
			.ab86098b36386ff7-content {
				overflow: visible;
				max-height: none !important;
				display: flex;
			}
		}
	}
}

// deprecated in favor of .user-profile-modal-v2
.user-profile-modal {
	padding: 0 !important;

	// weird box that sits over theme colors, under boxes
	// seems to darken the color selection
	.c0bea05627c5dc35-inner:before {
		height: 100%;
		width: 100%;
	}

	.userProfileInner_c69a7b {
		gap: 0px;
	}

	._68edb95846a37624-mask {

		// pfp mask around banner
		mask circle {
			display: none;
		}

		:where(._68edb95846a37624-banner) {
			//Specificity to remove border radius on banner. I can't believe they did this.
			border-radius: 0px;
		}
	}

	// position user profile inside things
	:where(._75742e4cc9019aeb-avatar) {
		left: 0;
		top: 0;
		width: 100%;
		grid-row-start: row-first;
		grid-row-end: row-end;
		justify-self: center;
		border: 2px solid $low;
		box-sizing: border-box;
	}

	._24502a4069848acb-headerInner {
		display: grid;
		left: 0px;
		grid-template-columns: [first] 1fr [second] 1fr [end];
		grid-template-rows: [row-first] 1fr [row-second] auto [row-end];

		gap: 0.5em;
		padding: 0.5em;
		margin: 0 0.5em;

		// janky ass invisible container?
		.invisibleContainer_af9888.user-profile-modal {
			display: none;
		}

		.invisibleContainer_af9888.user-profile-modal,
		.visibleContainer_af9888.user-profile-modal {
			display: flex;
			align-content: center;
			justify-content: center;
			//padding: 4em 0em 0em 0em;
		}

		//Add Status button
		.addCustomStatusButtonBubble_af9888.user-profile-modal {
			top: 0px;
			left: 0px;
			height: auto;

			.statusBubbleOuter_af9888 {
				margin: 0px 0px 4px 0px;
				border: none;

				.statusBubble_af9888 {
					background-color: $mid-trans;
					border-radius: 0;
					word-wrap: normal;
					padding: 2px;
					//width: fit-content;
				}
			}
		}

		//status text
		.ab86098b36386ff7-content {
			//overflow: visible;
		}

		//edit status buttons on user status hover
		.c97e55feac203869-popover.c97e55feac203869-visible {

			.c97e55feac203869-button.c97e55feac203869-left,
			.c97e55feac203869-button.c97e55feac203869-right {
				border-radius: 0;
			}

			.c97e55feac203869-button svg path {
				fill: $high;
			}

			.c97e55feac203869-button:hover svg path {
				fill: $low;
			}

			border-radius: 0px;
		}

		//buttons
		._24502a4069848acb-headerButtons {
			align-items: normal;
			gap: 0px;
			display: contents;

			.multipleButtons_ea99c4 {
				display: flex;
				flex-direction: row;
				gap: 4px;
			}
		}

		// profile picture area
		._75742e4cc9019aeb-avatar.withReactReply__75742 {
			grid-row: 1/3;

			border-bottom: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $mid;
			padding: 0.5em 0em 0.5em 0em;
			/* border-radius: 0; */
			position: relative;
			top: 0;

			// the actual pfp
			._44b0c28be7879b7b-wrapper {
				border-radius: 0;
				mask-image: none;
			}
		}

		>.ab86098b36386ff7-referenceContainer {
			grid-column: 2;
			grid-row: 1;
			position: relative;

			margin: 0;
		}

		>.ab86098b36386ff7-container {
			grid-column: 2;
			grid-row: 1;
			top: 0px;
			left: 0px;

			.ab86098b36386ff7-outer.user-profile-modal {
				border: 1px solid $low;
				max-width: 100%;
				width: 90%;

				.ab86098b36386ff7-inner {
					margin: 0;
					width: 94.5%;
				}

			}
		}

		>._24502a4069848acb-headerButtons .container__9e42c {
			grid-column: 2;
			grid-row: 2;
			margin: 0;
		}
	}

	// usernames, mutuals, roles
	._24502a4069848acb-body {
		//border: 2px solid $low;
		margin: 0em 0.5em 0.5em 0.5em;
		padding: 0.5em;
		background: $high;

		// ._4bd5201c86a2042b-defaultColor {
		//     color: $high;
		// }
		//container that holds everything the same as above
		.d1d9f3257b6b604c-container {
			display: contents;
		}

		//tab selection bar
		.d1d9f3257b6b604c-tabBar {
			margin: 3px;
			height: 42px;
			gap: 20px;
			border-bottom: 2px solid;
			border-color: $low;

			.aa8da23faa27393c-themed.aa8da23faa27393c-item._37bfcf3d457db7a9-tabBarItem {
				background-color: $mid-trans;
				padding: 3px 32px 3px 6px;

				&:hover {
					background-color: $mid;

					._4bd5201c86a2042b-defaultColor {
						color: $low;
					}

				}

				&.aa8da23faa27393c-selected {
					background-color: $low;
					height: 100%;

					._4bd5201c86a2042b-defaultColor {
						color: $high;
					}
				}
			}
		}

		//border fixes
		.e6abe833ac70fcae-connectedAccountContainer,
		//border fix for connected accounts
		.fcb62805acc5d0cc-note {
			//border fix for note section
			border: 1px solid;
			border-radius: 0px;
			border-color: $low-trans;
		}
	}
}

:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item.aa8da23faa27393c-selected:after,
:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item:hover:after {
	display: none;
}

:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item+.aa8da23faa27393c-item {
	margin-left: 0;
}

:where(.visual-refresh) .aa8da23faa27393c-top .aa8da23faa27393c-item.aa8da23faa27393c-selected:after {
	display: none;
}

.theme-dark .ab86098b36386ff7-outer {
	border: none;
	box-shadow: none;
}

.c0bea05627c5dc35-outer ._24502a4069848acb-username {
	margin: 0;
}