// Transparencies
.wrapper-3NnKdC,
.scroller-1Bvpku {
    background-color: transparent;
}
.guildSeparator-33mFX6 {
    height: 0;
}
.listItem-GuPuDH .svg-1X37T1 foreignObject {
    box-shadow: 3px 3px 0 $mid;
    mask: none;
}
.homeIcon-FuNwkv {
    width: 48px;
    height: 56px;
}
// Guild icons
.wrapperSimple-19ogV2 {
    border-radius: 0;
}
// Folder
.expandedFolderBackground-1cujaW {
    @include boxify($high, $mid, 3px);
}
.scroller-2TZvBN > div[aria-label='Servers'] > .listItem-2P_4kh foreignObject {
    @include boxify($high, $mid, 3px);
}

.folderIconWrapper-1_bOZe {
    border-radius: 0;
}
// Servers with no icons
.acronym-2mOFsV {
    color: $low !important;
}
// Selected / Unread Guild
.item-2hkk8m {
    width: 11px;
    transition: background-color 0.2s;
    background-color: $low;
    border-radius: 0;
    height: 48px !important;
}
// Unread Guild
.item-2hkk8m[style='opacity: 1; height: 8px; transform: none;'] {
    background-color: $alert;
}
// Streaming icon
.iconBadge-2wi9r4 {
    background-color: $low;
}
// Unread blip out of screen
.mention-1f5kbO {
    @include boxify($alert, $low, 3px);
}
// Notification blip
.numberBadge-2s8kKX {
    background-color: $alert !important;
    color: $high !important;
    border-radius: 0;
}
// Server browser and add server button
.circleIconButton-jET_ig {
    color: $alert;

    &.selected-ugP_am {
        background-color: $alert;
        color: $high;
    }
}
// Discover screen
.theme-dark .card-3DjzTQ,
.theme-dark .iconMask-3b8GzQ {
    @include boxify($high, $mid, 5px);
}
.theme-dark .contentWrapper-3WC1ID {
    @include boxify($high, $mid, 5px);

    .lookLink-9FtZy-.colorBrand-3pXr91 {
        color: $alert;
        text-decoration-color: $alert;
    }
}
