.selectedOptionItem-3v62YZ,
.pageContainer-36uo3F,
.theme-dark .pageWrapper-2PwDoS,
.joinServerOption-3ClG5j {
    background-color: transparent;
}

// University Hubs
.card-3N2v9t {
    @include boxify($high, $mid, 3px);
}
