.selectedOptionItem-3v62YZ,
.pageContainer__853b6,
.theme-dark .pageWrapper_c182d3,
.joinServerOption-3ClG5j {
	background-color: transparent;
}

// University Hubs
.card__73022 {
	@include boxify($high, $mid, 3px);
}

// Home page
.theme-dark .background_c54132 {
	background: transparent;
}
// -- card
.containerCard__95c7a,
.containerCard__95c7a:hover,
.container_c68a2c,
.card_d4f6c7 {
	@include boxify($high, $mid, 3px);
}
.channelList_b7e3ac {
	padding: 5px 0;
}
.feedItemHeader_ec3bdb {
	border-bottom: none;
}
