// https://github.com/mwittrien/BetterDiscordAddons/tree/master/Plugins/ReadAllNotificationsButton

.friendsOnline_2JkivW {
	@include boxify($high-trans, $mid, 2px);
	color: $low;
	margin-top: 4px;
	padding:2px;
	text-transform: uppercase;
	justify-content: center;
}
