@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');

:root {
	// Gibbu stuff
	--rs-small-spacing: 0px;
	--rs-large-spacing: 0px;
	--rs-width: 2px;
	--rs-avatar-shape: 0;
	--rs-online-color: #43b581;
	--rs-idle-color: #c9a25f;
	--rs-dnd-color: var(--color-alert);
	--rs-offline-color: #636b75;
	--rs-streaming-color: #643da7;
	--rs-invisible-color: #747f8d;
	--rs-phone-visible: block;
	--rs-phone-color: var(--rs-online-color);
}
