// https://github.com/mwittrien/BetterDiscordAddons/tree/master/Plugins/ReadAllNotificationsButton

.button_Jt-tIg {
	@include boxify($high-trans, $mid, 2px);
	color: $low;
	padding: 0 20%;
	text-transform: uppercase;
}
