// Transparencies
.container_cbd271,
.clickable_d808b0:hover .layout_d808b0,
.member_cbd271,
.members_cbd271,
.members_cbd271 > div {
	background: transparent;
}

// Member hover/select animations
.container_d808b0 {
	transition: color 0.2s;
	max-width: none;
	border-radius: 0;
	height: 44px;
	margin: 5px 0 5px 0;
	position: relative;
	// Animation
	.layout_d808b0 {
		background-color: transparent !important;
		border-radius: 0;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			bottom: 2px;
			transition: transform 0.4s;
			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			box-shadow: 0 0 2px $low;
		}
	}
	// Selected channel
	&.selected_d808b0,
	&:hover {
		color: $high !important;
		box-shadow: 0 1px $low, 0 -1px $low;
		.name_d808b0 span,
		.activity_a31c43,
		.muted_d808b0 {
			color: $high !important;
		}
		.layout_d808b0:before {
			transform: scaleX(1);
		}
		.avatar_d808b0,
		.linkButtonIcon_c91bad,
		.content_d808b0 {
			z-index: 1;
		}
	}
}

.botTagRegular_c89c9a {
	background-color: $alert;
	color: $high;
}
