// Transparencies
.container_b2ce9c,
.clickable__17ccb:hover .layout_bb8e67,
.member_b44d5d,
.members__9f47b,
.members__9f47b > div {
	background: transparent;
}

// Member hover/select animations
.container__4f20e {
	transition: color 0.2s;
	max-width: none;
	border-radius: 0;
	height: 44px;
	margin: 5px 0 5px 0;
	position: relative;
	// Animation
	.layout_bb8e67 {
		background-color: transparent !important;
		border-radius: 0;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			bottom: 2px;
			transition: transform 0.4s;
			animation-name: pulsingBackground;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			box-shadow: 0 0 2px $low;
		}
	}
	// Selected channel
	&.selected__9800b,
	&:hover {
		color: $high !important;
		box-shadow: 0 1px $low, 0 -1px $low;
		.name__16feb span,
		.activity__3cbac,
		.muted__7327f {
			color: $high !important;
		}
		.layout_bb8e67:before {
			transform: scaleX(1);
		}
		.avatar__6337f,
		.linkButtonIcon__2f35b,
		.content_a6999d {
			z-index: 1;
		}
	}
}

.botTagRegular_c89c9a {
	background-color: $alert;
	color: $high;
}
