// Embed card
.embedFull__623de,
.messageContent_c19a55 pre {
	@include boxify($high, $mid, 4px);

	& > code {
		border-radius: 0;
		margin-left: 13px;
		margin-bottom: 4px;
		box-shadow: -3px 0 0 $low, -9px 0 0 $high, -21px 0 0 $low, -18px 4px 0 $mid;
	}
}
// Server invite
.wrapper_d5f3cd {
	@include boxify($high, $mid, 3px);

	.inviteDestination_d5f3cd {
		color: $low;
	}
	.iconActiveLarge_f34534 {
		border-radius: 0;
	}
}
// File attachments
.wrapperAudio_cf09d8.newMosaicStyle_cf09d8,
.fileWrapper__0ccae.newMosaicStyle_b52bef,
.messageAttachmentMediaMosaic__67262 {
	border-radius: 0;
}
.fileWrapper__0ccae {
	margin-left: 13px;
	border-radius: 0;
	box-shadow: -3px 0 0 var(--color-low), -9px 0 0 var(--color-high), -21px 0 0 var(--color-low),
		-18px 3px 0 var(--color-mid), 3px 3px 0 var(--color-mid);

	.metadata__0ccae {
		color: $low;
	}
}
// Audio
.wrapperAudio_cf09d8.newMosaicStyle_cf09d8 {
	@include boxify($high, $mid, 3px);

	.audioControls_cf09d8,
	.videoControls_cf09d8 {
		background-color: $high;
		border-radius: 0;
		border: 1px solid $low;
	}

	.mediaBarWrapper_b26b79,
	.mediaBarWrapper_b26b79:after,
	.mediaBarWrapper_b26b79:before {
		background-color: $mid;
	}
}
// Images and Videos
.visualMediaItemContainer_f4758a:not(.embedImage__623de),
.inlineMediaEmbed__623de.embed__623de {
	@include boxify($high, $mid, 4px);
	width: fit-content;
	margin-bottom: -2px;
}
// Media in Threads (Sidebar)
.chatLayerWrapper__01ae2 {
	.visualMediaItemContainer_f4758a:not(.embedImage__623de),
	.inlineMediaEmbed__623de.embed__623de {
		width: unset;
	}
}

.visualMediaItemContainer_f4758a,
.oneByOneGrid_f4758a,
.mosaicItem__6c706,
.imageWrapper_af017a,
.clickableWrapper_af017a,
.embed__623de,
.embedMedia__623de,
.embedImage__623de,
.wrapper_cf09d8,
.video_cf09d8 {
	border-radius: 0 !important;
}
.visualMediaItemContainer_f4758a {
	.wrapper_cf09d8 {
		.videoControls_cf09d8 {
			width: 99.9%;
			.controlIcon_cf09d8,
			.controlIcon_f1ceac {
				color: $high-trans !important;
			}
		}
		.durationTimeWrapper_cf09d8 {
			color: $high-trans;
		}
	}
}

// Spotify Listen-Along
.theme-dark .invite__4d3fa {
	@include boxify($high, $mid, 3px);
	border: none;

	.header__4d3fa,
	.partyStatus__4d3fa {
		color: $low;
	}
	.textLink__4d3fa {
		color: $alert;
	}
}

//Spotify Song Embed
.embedSpotify__623de {
	.encore-dark-theme {
		border-radius: 0rem !important;
	}
}

//Fix for width of pinned embeds
.messagesPopout__45690,
.focusLock__49fc1 {
	.embedWrapper_b7e1cb,
	.imageWrapper_af017a {
		width: auto !important;
	}
}
//Fix for Image stretch in threads
.chatLayerWrapper__01ae2 .imageWrapper_af017a {
	width: auto !important;
}
