// Transparencies
.container_c8ffbb,
.clickable__91a9d:hover .layout__91a9d,
.member_c8ffbb,
.members_c8ffbb,
.members_c8ffbb > div {
	background: transparent;
}

// Member hover/select animations
.container__91a9d {
	transition: color 0.2s;
	max-width: none;
	border-radius: 0;
	height: 44px;
	margin: 5px 0 5px 0;
	position: relative;
	// Animation
	.layout__91a9d {
		background-color: transparent !important;
		border-radius: 0;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			bottom: 2px;
			transition: transform 0.4s;
			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
			box-shadow: 0 0 2px $low;
		}
	}
	// Selected channel
	&.selected__91a9d,
	&:hover {
		color: $high !important;
		box-shadow: 0 1px $low, 0 -1px $low;
		.name__91a9d span,
		.activity__5d473,
		.muted__91a9d {
			color: $high !important;
		}
		.layout__91a9d:before {
			transform: scaleX(1);
		}
		.avatar__91a9d,
		.linkButtonIcon__972a0,
		.content__91a9d {
			z-index: 1;
		}
	}
}

.botTag__5d473,
.botTag_c19a55 {
	background-color: $alert;
	color: $high;
	border-radius: 0px !important;
	.botText__82f07 {
		line-height: normal;
	}
}
