@use '../../vars/vars.scss' as *;


.visual-refresh .e8b59c4b335dd2fc-header {
	@include boxify($high, $mid, 3px);

}

.visual-refresh .e8b59c4b335dd2fc-messagesPopoutWrap {
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
	padding: 3px;
}

.visual-refresh .e8b59c4b335dd2fc-messageGroupWrapper {
	@include boxify($high, $mid, 3px);
}

.e8b59c4b335dd2fc-emptyPlaceholder {
	display: none;
}

.e8b59c4b335dd2fc-footer {
	display: none;
}