@use '../../vars/vars.scss' as *;


.visual-refresh .header_e8b59c {
	@include boxify($high, $mid, 3px);

}

.visual-refresh .messagesPopoutWrap_e8b59c {
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
	padding: 3px;
}

.visual-refresh .messageGroupWrapper_e8b59c {
	@include boxify($high, $mid, 3px);
}

.emptyPlaceholder_e8b59c {
	display: none;
}

.footer_e8b59c {
	display: none;
}