// server-tag contain the popup that appears when clicking on a user's like, clan taggy server tag thing or some shit
@use '../../vars/vars.scss' as *;

.container_d3846c {
	@include boxify($high, $mid, 3px)
}

.container_dca174 {
	border-radius: 0;
	border: none;
}