// server-tag contain the popup that appears when clicking on a user's like, clan taggy server tag thing or some shit
@use '../../vars/vars.scss' as *;

.d3846c099147bad3-container {
	@include boxify($high, $mid, 3px)
}

.dca174a2baed7ac1-container {
	border-radius: 0;
	border: none;
}