// Transparencies
.gradientContainer-10lXLB,
.wrapper-2qzCYF.minimum-28Z35l,
.wrapper-2qzCYF {
    background-image: none;
    background-color: transparent;
}
.tile-2naSqK {
    @include boxify($high, $low-trans, 5px);
}
.container-1giJp5 {
    border-bottom: none;
    padding-bottom: 0;
}
// Voice and Video
.colorable-1bkp8v {
    &.white-3GPOIp {
        background: $high;
        color: $low;

        &:hover {
            background: $mid;
        }
        &.active-1QRrIS {
            background: $high;
        }
        .centerIcon-2G6o-T {
            color: $low;
        }
    }
    &.primaryDark-3mSFDl {
        background: $low;
        color: $high;

        &:hover {
            background: $mid;
        }
        .centerIcon-2G6o-T {
            color: $high;
        }
    }
    &.red-33-Lnk,
    &.red-33-Lnk:hover {
        background: $alert;

        .centerIcon-2G6o-T {
            color: $high;
        }
    }
}
.clickable-3rdHwn .icon-22AiRD:hover,
.icon-22AiRD:hover,
.controlIcon-35oS15:hover {
    color: $mid;
}
.quickSelect-3BxO0K,
.quickSelectLabel-2r3iJ_,
.playingText-3KIkt6,
.controlIcon-35oS15,
.clickable-3rdHwn .icon-22AiRD,
.icon-22AiRD,
.name-3YKhmS,
.title-29uC1r {
    color: $low;
}
.status-254fhp {
    color: $low;
    background: $high-trans;
    border-radius: 0;
}
.overlayTitle-8IcS01 {
    border-radius: 0;
    background: $low-trans;
    color: $high;
}
.status-254fhp,
.border-3dQmSY.speaking-WDn8Wm,
.avatarSpeaking-3MqCHL {
    box-shadow: inset 0 0 0 2px $alert;
}
.slash-33-IMF,
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
    color: $alert;
}
.base-PmTxvP,
.liveLarge-3zs2Zq {
    border-radius: 0;
    background: $alert !important;
    color: $high;
}
// Select Region arrow in videocall
.theme-dark .quickSelectArrow-1QublR {
    @include remask('https://discord.com/assets/f58cf3b8fc79e9d671ab649ab37651a9.svg', $low);
    mask-repeat: no-repeat;
}
// Member hover/select animations
.draggable-2E_4tJ {
    height: 29px;
    margin: 1px 0 1px 0;

    .clickable-1lCRLF {
        height: 28px;
        .icons-1dXQdz svg,
        .avatarSmall-1PJoGO,
        .username-3KYl0N,
        .icons-1dXQdz {
            z-index: 1;
            transition: color 0.2s;
        }
        border-radius: 0;

        // Animation
        .content-1Wq3SX {
            height: 28px;
            background-color: transparent !important;
            border-radius: 0;
        }
        .content-1Wq3SX:before {
            content: "";
            position: absolute;
            left: 0;
            top: 1px;
            bottom: 1px;
            transition: width 0.3s;
            animation-name: pulsingBackground;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            width: 0%;
        }
        // Selected channel
        &.selected-3t3Csj .content-1Wq3SX,
        &:hover .content-1Wq3SX {
            box-shadow: 0 1px $low, 0 -1px $low;

            .icons-1dXQdz svg,
            .avatarSmall-1PJoGO,
            .username-3KYl0N,
            .icons-1dXQdz {
                color: $high;
                z-index: 1;
            }
            &:before {
                width: 100%;
            }
        }
    }
}
// Voice chat stream preview
.theme-dark .streamPreview-2-WUWT {
    @include boxify($high, $mid, 3px);
}
.theme-dark .activityStreamPreview-3r3GiX {
    .activityName-1IaRLn,
    .content-3JfFJh,
    .details-38sfDr,
    .name-29ETJS {
        color: $low;
    }
}
