// Transparencies
.callContainer__1477d,
.container_e1958d,
.gradientContainer_cdada6,
.wrapper__6bf2d.minimum__7f356,
.wrapper__6bf2d {
	background-image: none;
	background-color: transparent;
}
.tile_a411a4 {
	@include boxify($high, $low-trans, 5px);
}
.container_e1958d {
	border-bottom: none;
	padding-bottom: 0;
}
// Voice and Video
.colorable__4f530 {
	&.white_ce1c7b {
		background: $high;
		color: $low;

		&:hover {
			background: $mid;
		}
		&.active_ff29dc {
			background: $high;
		}
		.centerIcon_e3df23 {
			color: $low;
		}
	}
	&.primaryDark_ec74a7 {
		background: $low;
		color: $high;

		&:hover {
			background: $mid;
		}
		.centerIcon_e3df23 {
			color: $high;
		}
	}
	&.red__45e65,
	&.red__45e65:hover {
		background: $alert;

		.centerIcon_e3df23 {
			color: $high;
		}
	}
}
.clickable_ce0925 .icon_ae0b42:hover,
.icon_ae0b42:hover,
.controlIcon__73723:hover {
	color: $mid;
}
.quickSelect__540d0,
.quickSelectLabel__79774,
.playingText__44fce,
.controlIcon__73723,
.clickable_ce0925 .icon_ae0b42,
.icon_ae0b42,
.name-3YKhmS,
.title__84e16 {
	color: $low;
}
.status__42e87 {
	color: $low;
	background: $high-trans;
	border-radius: 0;
}
.overlayTitle_de9b41 {
	border-radius: 0;
	background: $low-trans;
	color: $high;
}
.status__42e87,
.border_d9a17b.speaking_c28527,
.avatarSpeaking-3MqCHL {
	box-shadow: inset 0 0 0 2px $alert;
}
.slash_c0ba36,
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO .radioSelection-1UHp0b {
	color: $alert;
}
.base__5ed84 {
	background-color: $alert !important;
}
.base__5ed84,
.liveLarge_b5ceaa {
	border-radius: 0;
	color: $high;
}
.iconBadge__4989d {
	background-color: $low;
}
// Select Region arrow in videocall
.theme-dark .quickSelectArrow__5988b {
	@include remask('https://discord.com/assets/f58cf3b8fc79e9d671ab649ab37651a9.svg', $low);
	mask-repeat: no-repeat;
}
// Member hover/select animations
.draggable__68384 {
	height: 29px;
	margin: 1px 0 1px 0;

	.clickable_a2c5ad {
		height: 28px;
		.icons__10dd7 svg,
		.avatarSmall__85dc8,
		.username_a42504,
		.icons__10dd7 {
			z-index: 1;
			transition: color 0.2s;
		}
		border-radius: 0;

		// Animation
		.content__3b07e {
			height: 28px;
			background-color: transparent !important;
			border-radius: 0;
		}
		.content__3b07e:before {
			content: '';
			position: absolute;
			left: 0;
			top: 1px;
			bottom: 1px;
			transition: transform 0.3s;
			animation-name: pulsingBackground;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
		}
		// Selected channel
		&.selected__80fc0 .content__3b07e,
		&:hover .content__3b07e {
			box-shadow: 0 1px $low, 0 -1px $low;

			.icons__10dd7 svg,
			.avatarSmall__85dc8,
			.username_a42504,
			.icons__10dd7 {
				color: $high;
				z-index: 1;
			}
			&:before {
				transform: scaleX(1);
			}
		}
	}
}
// Voice chat stream preview
.theme-dark .streamPreview-3qoMP4 {
	@include boxify($high, $mid, 3px);
}
.theme-dark .activityStreamPreview__8635e {
	.activityName_a7b7de,
	.content__7246b,
	.details_e26997,
	.name__0ac4b {
		color: $low;
	}
}
