// Transparencies
.callContainer_cbde45,
.container_d667ff,
.gradientContainer__9a5a6,
.wrapper_bd2abe.minimum_ebf000,
.wrapper_bd2abe {
	background-image: none;
	background-color: transparent;
}
.tile_a411a4 {
	@include boxify($high, $low-trans, 5px);
}
.container_d667ff {
	border-bottom: none;
	padding-bottom: 0;
}
// Voice and Video
.colorable_c84c4c {
	&.white__10e89 {
		background: $high;
		color: $low;

		&:hover {
			background: $mid;
		}
		&.active_ff29dc {
			background: $high;
		}
		.centerIcon__6075a {
			color: $low;
		}
	}
	&.primaryDark__6b700 {
		background: $low;
		color: $high;

		&:hover {
			background: $mid;
		}
		.centerIcon__6075a {
			color: $high;
		}
	}
	&.red_a51ba8,
	&.red_a51ba8:hover {
		background: $alert;

		.centerIcon__6075a {
			color: $high;
		}
	}
}
.clickable_d23a1a .icon__4cb88:hover,
.icon__4cb88:hover,
.controlIcon__25700:hover {
	color: $mid;
}
.quickSelect_ae48d2,
.quickSelectLabel_cf5c1b,
.playingText_f2f60c,
.controlIcon__25700,
.clickable_d23a1a .icon__4cb88,
.icon__4cb88,
.name-3YKhmS,
.title__9e2b0 {
	color: $low;
}
.status__42e87 {
	color: $low;
	background: $high-trans;
	border-radius: 0;
}
.overlayTitle_a9f7c6 {
	border-radius: 0;
	background: $low-trans;
	color: $high;
}
.status__42e87,
.border_d9a17b.speaking__9b95a,
.avatarSpeaking-3MqCHL {
	box-shadow: inset 0 0 0 2px $alert;
}
.slash_c0ba36,
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO .radioSelection-1UHp0b {
	color: $alert;
}
.base__92a12 {
	background-color: $alert !important;
}
.base__92a12,
.liveLarge__9308a {
	border-radius: 0;
	color: $high;
}
.iconBadge_f54f3d {
	background-color: $low;
}
// Select Region arrow in videocall
.theme-dark .quickSelectArrow__9853b {
	@include remask('https://discord.com/assets/f58cf3b8fc79e9d671ab649ab37651a9.svg', $low);
	mask-repeat: no-repeat;
}
// Member hover/select animations
.draggable__081c0 {
	height: 29px;
	margin: 1px 0 1px 0;

	.clickable__137bc {
		height: 28px;
		.icons__10dd7 svg,
		.avatarSmall__7dc81,
		.username__73ce9,
		.icons__10dd7 {
			z-index: 1;
			transition: color 0.2s;
		}
		border-radius: 0;

		// Animation
		.content_b60865 {
			height: 28px;
			background-color: transparent !important;
			border-radius: 0;
		}
		.content_b60865:before {
			content: '';
			position: absolute;
			left: 0;
			top: 1px;
			bottom: 1px;
			transition: transform 0.3s;
			animation-name: pulsingBackground;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
		}
		// Selected channel
		&.selected__471ca .content_b60865,
		&:hover .content_b60865 {
			box-shadow: 0 1px $low, 0 -1px $low;

			.icons__10dd7 svg,
			.avatarSmall__7dc81,
			.username__73ce9,
			.icons__10dd7 {
				color: $high;
				z-index: 1;
			}
			&:before {
				transform: scaleX(1);
			}
		}
	}
}
// Voice chat stream preview
.theme-dark .streamPreview-3qoMP4 {
	@include boxify($high, $mid, 3px);
}
.theme-dark .activityStreamPreview_a4f8f0 {
	.activityName__47e51,
	.content_d7cb7f,
	.details__445eb,
	.name_b6124d {
		color: $low;
	}
}
