// Transparencies
.callContainer_d880dc,
.container_adcaac,
.gradientContainer_dd069c,
.wrapper_d880dc.minimum_d880dc,
.wrapper_d880dc {
	background-image: none;
	background-color: transparent;
}
.tile_dc5fc4 {
	@include boxify($high, $low-trans, 5px);
}
.container_adcaac {
	border-bottom: none;
	padding-bottom: 0;
}
// Voice and Video
.colorable_ef18ee:not(.contextMenuNub_ef18ee) {
	&.white_ef18ee {
		background: $high;
		color: $low;

		&:hover {
			background: $mid;
		}
		&.active_ef18ee {
			background: $high;
		}
		.centerIcon_ef18ee {
			color: $low;
		}
	}
	&.primaryDark_ef18ee {
		background: $low;
		color: $high;

		&:hover {
			background: $mid;
		}
		.centerIcon_ef18ee {
			color: $high;
		}
	}
	&.red_ef18ee,
	&.red_ef18ee:hover {
		background: $alert;

		.centerIcon_ef18ee {
			color: $high;
		}
	}
}
.clickable_fc4f04 .icon_fc4f04:hover,
.icon_fc4f04:hover,
.controlIcon_ef18ee:hover {
	color: $mid;
}
.quickSelect__540d0,
.quickSelectLabel__79774,
.playingText_c7b3af,
.controlIcon_ef18ee,
.clickable_fc4f04 .icon_fc4f04,
.icon_fc4f04,
.name-3YKhmS,
.title_fc4f04 {
	color: $low;
}
.status_ba4b17 {
	color: $low;
	background: $high-trans;
	border-radius: 0;
}
.overlayTitle_ba4b17 {
	border-radius: 0;
	background: $low-trans;
	color: $high;
}
.status_ba4b17,
.avatarSpeaking_d80634,
.avatarSpeaking_c51b4e {
	box-shadow: inset 0 0 0 2px $alert;
}
.border_ba4b17 {
	border-radius: 0;
	&.speaking_ba4b17 {
		box-shadow: inset 0 0 0 2px $alert;
	}
}
.slash_c0ba36,
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault_d90b3d .radioSelection_d90b3d {
	color: $alert;
}
.base_df8943 { //This element applies to ALL badge backgrounds (LIVE, Ping, etc etc)
	background-color: $alert !important;
	color: $high;
}
.textBadge_df8943,
.liveLarge_ec1c2d,
.liveIndicator_c5881c {
	border-radius: 0 !important;
	color: $high;
}
.iconBadge__4989d {
	background-color: $low;
}
// Select Region arrow in videocall
.theme-dark .quickSelectArrow__5988b {
	@include remask('https://discord.com/assets/f58cf3b8fc79e9d671ab649ab37651a9.svg', $low);
	mask-repeat: no-repeat;
}
// Member hover/select animations
.draggable_ac3629 {
	height: 29px;
	margin: 1px 0 1px 0;

	.clickable_d80634 {
		height: 28px;
		.icons_d80634 svg,
		.avatarSmall_d80634,
		.username_d80634,
		.icons_d80634 {
			z-index: 1;
			transition: color 0.2s;
		}
		border-radius: 0;

		// Animation
		.content_d80634 {
			height: 28px;
			background-color: transparent !important;
			border-radius: 0;
		}
		.content_d80634:before {
			content: '';
			position: absolute;
			left: 0;
			top: 1px;
			bottom: 1px;
			transition: transform 0.3s;
			animation-name: pulsingBackground;
			animation-duration: 2.5s;
			animation-iteration-count: infinite;
			transform: scaleX(0);
			transform-origin: left;
			width: 100%;
		}
		// Selected channel
		&.selected_d80634 .content_d80634,
		&:hover .content_d80634 {
			box-shadow: 0 1px $low, 0 -1px $low;

			.icons_d80634 svg,
			.avatarSmall_d80634,
			.username_d80634,
			.icons_d80634 {
				color: $high;
				z-index: 1;
			}
			&:before {
				transform: scaleX(1);
			}
		}
	}
}
// Voice chat stream preview
.theme-dark .streamPreview_adbea6 {
	@include boxify($high, $mid, 3px);
}
.theme-dark .activityStreamPreview_c1d9fd {
	.activityName_c1d9fd,
	.content_c1d9fd,
	.details_c1d9fd,
	.name_c1d9fd {
		color: $low;
	}
}

// Stream buttons

.base__5ed84,
.liveLarge_ec1c2d {
	color: $low;
}

.clipBadgeIcon_d7719d {
	color: $low !important;
}

//picture in picture stream feed
.pictureInPictureVideo_cadaa5 {
	border-radius: 0px;
}

// control buttons when in VC
.controlButton_b6e2f9 {
	.svg_afd438 foreignObject {
		mask: none;
	}
	.centerButton_ef18ee {
		border-radius: 0;
	}
	.contextMenuNub_ef18ee {
		border-radius: 0;
	}
}

//soundboard container
.wrapper_ee8ca7 {
	.soundButtonRefresh_f40049 * {
		border-radius: 0px;
	}
	.soundButtonRefresh_f40049 {
		@include boxify($high, $mid, 3px);
		&.playing_f40049 {
			outline: 2px solid $alert;
		}
		.soundInfoRefresh_f40049 {
			box-shadow: none !important;
		}
	}
}