// Transparencies
.layer_d4b6c5 ,
.scroller_e9196a,
.contentRegion_c25c6d,
.sidebarRegionScroller_c25c6d,
.side_a0 .separator-2wx7h6,
.contentRegionScroller_c25c6d,
.standardSidebarView_c25c6d {
	background-color: transparent;
}
.theme-dark .row-1Tg75B,
.theme-dark .item-3eFBNF {
	box-shadow: none;
}
.theme-dark .divider-3wNib3 {
	border: none;
}
// X button
.theme-dark {
	.markValue-2U_-UG,
	.keybind_df5532 {
		color: $low;
	}
	.closeButton_df5532 {
		transition: background-color 0.2s;
		border-color: $low;
		&:hover {
			background-color: $alert-trans;
		}
		path {
			fill: $low;
		}
	}
}
// Headers
.h1_c46f6a,
.h2-1EaYVL {
	@include titlify(2px, 4px);
}
.h5_c46f6a {
	@include titlify(2px, 2px);
}

.divider_ae36e5,
.bd-setting-divider {
	display: none;
}

.side_a0 .separator_a0 {
	visibility: hidden;
}
