// Transparencies
.layer_e552e0,
.scroller__52680,
.contentRegion__0bec1,
.sidebarRegionScroller__1fa7e,
.side_b4b3f6 .separator-2wx7h6,
.contentRegionScroller__86c79,
.standardSidebarView__1129a {
	background-color: transparent;
}
.theme-dark .row-1Tg75B,
.theme-dark .item-3eFBNF {
	box-shadow: none;
}
.theme-dark .divider-3wNib3 {
	border: none;
}
// X button
.theme-dark {
	.markValue-2U_-UG,
	.keybind__57645 {
		color: $low;
	}
	.closeButton__34341 {
		transition: background-color 0.2s;
		border-color: $low;
		&:hover {
			background-color: $alert-trans;
		}
		path {
			fill: $low;
		}
	}
}
// Headers
.h1__90460,
.h2-1EaYVL {
	@include titlify(2px, 4px);
}
.h5__884a2 {
	@include titlify(2px, 2px);
}

.divider__2bbbc,
.bd-setting-divider {
	display: none;
}

.side_b4b3f6 .separator_fdbcfd {
	visibility: hidden;
}
