.theme-dark .directoryModal-YJsOMv {
	background-color: transparent;
}

// app container
.collectionBottomMargin_e90143,
.animatesOnHoverContainer_d9c848 {
	@include boxify($high, $mid, 3px);
}
.scroller_b503b8 {
	padding: 1em 0;
}
.category_d7acc7 {
	@include buttonify($high, $low, $low, $high);

	&:hover .defaultColor_a595eb {
		color: $high;
	}
}

.theme-dark .searchBox__56feb {
	@include boxify($high, $mid, 3px);

	.searchIcon_d1a3c1,
	.searchBoxInput__56498 {
		&::placeholder {
			color: $mid;
		}
	}
}
