.theme-dark .directoryModal-YJsOMv {
	background-color: transparent;
}

// app container
.collectionBottomMargin__4e025,
.animatesOnHoverContainer_f1fedf {
	@include boxify($high, $mid, 3px);
}
.scroller__51dd3 {
	padding: 1em 0;
}
.category_c3da1d {
	@include buttonify($high, $low, $low, $high);

	&:hover .defaultColor__30336 {
		color: $high;
	}
}

.theme-dark .searchBox__56feb {
	@include boxify($high, $mid, 3px);

	.searchIcon_d1a3c1,
	.searchBoxInput__56498 {
		&::placeholder {
			color: $mid;
		}
	}
}
