.theme-dark .directoryModal-YJsOMv {
	background-color: transparent;
}

// app container
.collectionBottomMargin_fc8612,
.animatesOnHoverContainer__46461 {
	@include boxify($high, $mid, 3px);
}
.scroller__6a19f {
	padding: 1em 0;
}
.category_ba5745 {
	@include buttonify($high, $low, $low, $high);

	&:hover .defaultColor__37d78 {
		color: $high;
	}
}

.theme-dark .searchBox_a63854 {
	@include boxify($high, $mid, 3px);

	.searchIcon_e60ea8,
	.searchBoxInput__73c9c {
		&::placeholder {
			color: $mid;
		}
	}
}
