// Transparencies
.stickyHeaderElevated_bd05f1,
.titleContainer_e87574 {
	background-color: transparent;
}
.titleElevated_e87574 {
	box-shadow: none;
}
// Unsaved changes alert
.theme-dark .elevationHigh__08882 {
	background-color: $high !important;
	@include boxify($high, $mid, 3px);

	.contents-18-Yxp span,
	.message_b6cd66 {
		color: $low !important;
	}
}

// Default Permissions
.container_cc7b67 {
	@include boxify($high, $mid, 3px);
}

// Search Roles
.container__33507 {
	border-radius: 0;
	border: 1px solid $low;
}

// Role List - Hover
.roleRow_a930f1:hover:not(.roleRowDisableHover_a930f1) {
	@include boxify($high, $mid, 3px);

	.circleButton_a930f1:hover {
		background-color: $low;

		&.secondary__45d4f {
			color: $high;
		}
	}
}

// Edit Role
.header_bd05f1 {
	margin-top: 48px;
	padding: 16px 8px;
	@include boxify($high, $mid, 4px);
}
.cozy_f9f2ca .timestamp_f9f2ca {
	color: $low;
}
.theme-dark .lookFilled_dd4f85.colorGrey-2DXtkV {
	background-color: $low;
	color: $high;
}
.top-K_jibn .brand-3g5E0C {
	&.item_a0:active,
	&.selected_a0.item_a0 {
		border-bottom-color: $alert;
	}
	&.item_a0:hover {
		border-bottom-color: $mid;
	}
}
.warning_f20685 {
	color: $low;
}
.theme-dark .tooltip-14MtrL .colorStandard_fbc755 {
	color: $high;
}
