.theme-dark {
	.tier_da77bd {
		@include boxify($high, $mid, 3px);

		.tierHeaderUnlocked_da77bd,
		.tierIconLocked_da77bd,
		.tierBody_da77bd,
		.tierHeaderLocked_da77bd {
			color: $low;
			background-color: transparent;
		}
	}

	.subscriberCount_da77bd,
	.subscriberCount_da77bd strong {
		color: $low;
	}
}
