.ghostPill-2-KUPM {
    border-radius: 0;
    background-color: $alert;
    color: $high;
}
.warning-3C2pOH .icon-1jlFSw {
    color: $alert;
}
.warning-3C2pOH {
    border-color: $alert;
    border-radius: 0;
    background-color: transparent;
}
