// "My Account" Card
.background-1QDuV2 {
    @include boxify($high, $mid, 6px);
}
.userSettingsSecurity-3IYeMF .isEnabled-24g9qA,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: $low;
}