.theme-dark {
	.auditLog__6c805 {
		@include boxify($high, $mid, 4px);
		border: none;

		&:hover .expandForeground-1nZ4VR {
			stroke: $mid;
		}
		.expandForeground-1nZ4VR {
			stroke: $low;
		}
		.icon-RTGJu3 {
			background-color: $low;
			border-radius: 25%;
		}

		.headerExpanded__03c29,
		.headerClickable_c4d7a9,
		.changeDetails_ecd760,
		.headerDefault__3e003 {
			background-color: transparent;
		}
		.headerExpanded__03c29:hover,
		.headerClickable_c4d7a9:hover {
			background-color: $mid;
		}
	}
}

.theme-dark .divider__1505d {
	display: none;
}
