// Transparencies
.stickyHeaderElevated_c6bf1b,
.titleContainer_e29cd7 {
	background-color: transparent;
}
.titleElevated_e29cd7 {
	box-shadow: none;
}
// Unsaved changes alert
.theme-dark .elevationHigh__08882 {
	background-color: $high !important;
	@include boxify($high, $mid, 3px);

	.contents-18-Yxp span,
	.message_fcf29c {
		color: $low !important;
	}
}

// Default Permissions
.container_d8f25b {
	@include boxify($high, $mid, 3px);
}

// Search Roles
.container__33507 {
	border-radius: 0;
	border: 1px solid $low;
}

// Role List - Hover
.roleRow_a930f1:hover:not(.roleRowDisableHover_a930f1) {
	@include boxify($high, $mid, 3px);

	.circleButton_a930f1:hover {
		background-color: $low;

		&.secondary__45d4f {
			color: $high;
		}
	}
}

// Edit Role
.header_c6bf1b {
	margin-top: 48px;
	padding: 16px 8px;
	@include boxify($high, $mid, 4px);
}
.cozy_c19a55 .timestamp_c19a55 {
	color: $low;
}
.theme-dark .lookFilled__201d5.colorGrey-2DXtkV {
	background-color: $low;
	color: $high;
}
.top-K_jibn .brand-3g5E0C {
	&.item_b3f026:active,
	&.selected_b3f026.item_b3f026 {
		border-bottom-color: $alert;
	}
	&.item_b3f026:hover {
		border-bottom-color: $mid;
	}
}
.warning__6436f {
	color: $low;
}
.theme-dark .tooltip-14MtrL .colorStandard_c9946a {
	color: $high;
}
