// Private Channel Card
.settingCard-xZSDjS {
	@include boxify($high, $mid, 3px);
}
// Allow / Passthrough / Deny
.group__6ae8b {
	border-radius: 0;
	border: 2px solid $low;
	width: 97px;

	.deny__71546 {
		svg {
			color: $alert;
		}
		&:hover {
			border-radius: 0;
		}
		&.selected__47401 {
			background-color: $alert;
			border-radius: 0;
			svg {
				color: $high;
			}
		}
	}

	.passthrough__91f95 {
		&.selected__47401 {
			background-color: $low;
			color: $high;
		}
	}

	.allow_bbc621 {
		border-radius: 0;

		&.selected__47401 {
			color: $high;
		}
	}
}
