.theme-dark {
	.payment_e9cb00,
	.paginator__01014 {
		background: transparent;
	}
	.codeRedemptionRedirect-3SBiCp,
	.divider-3APUjw,
	.paymentHeader_e9cb00,
	.bottomDivider__01014 {
		border: none;
	}
	.externalRowHeader__01014,
	.pageIndicator__2d021,
	.activeBreadcrumb__56acd,
	.breadcrumbWrapper__75797,
	.giftIcon_e9cb00,
	.summaryInfo_e9cb00,
	.sectionHeader_f0c2ea,
	.subText__0eeee,
	.descriptionWrapper__43963,
	.description__43963 {
		color: $low;
	}
	.pageIndicator__2d021 {
		border-bottom: 2px solid $low;
		border-top: 2px solid $low;
	}
	.pageButtonNext__2d021,
	.pageButtonPrev__2d021 {
		border-radius: 0;
		border: 2px solid $low;
		border-color: $low;
	}
	.defaultIndicator__43963 {
		background-color: $alert;
		border-radius: 0;
		color: $high;
	}
	.codeRedemptionRedirect-3SBiCp,
	.paymentPane__01014 {
		@include boxify($high, $mid, 4px);
		color: $low;
	}
	.expandedInfo_e9cb00 {
		@include boxify($low, $mid, 4px);

		.paymentText_e9cb00,
		.paymentHeader_e9cb00 {
			color: $high;
		}
	}
	.paymentHeader_e9cb00 {
		margin-top: 0;
		padding-top: 10px;
	}
	.hoverablePayment_e9cb00 {
		.giftIcon_e9cb00,
		.summaryInfo_e9cb00 {
			color: $low;
		}
		&:hover {
			background-color: $low;
			.giftIcon_e9cb00,
			.summaryInfo_e9cb00 {
				color: $high;
			}
		}
	}
	.lookFilled-yCfaCM.colorBrand-I6CyqQ {
		@include buttonify($alert, $high, $high, $low);
	}
}
