// Private Channel Card
.settingCard-xZSDjS {
	@include boxify($high, $mid, 3px);
}
// Allow / Passthrough / Deny
.group_e3c4bb {
	border-radius: 0;
	border: 2px solid $low;
	width: 97px;

	.deny_e3c4bb {
		svg {
			color: $alert;
		}
		&:hover {
			border-radius: 0;
		}
		&.selected_e3c4bb {
			background-color: $alert;
			border-radius: 0;
			svg {
				color: $high;
			}
		}
	}

	.passthrough_e3c4bb {
		&.selected_e3c4bb {
			background-color: $low;
			color: $high;
		}
	}

	.allow_e3c4bb {
		border-radius: 0;

		&.selected_e3c4bb {
			color: $high;
		}
	}
}
