.ghostPill-2uK4W1 {
    border-radius: 0;
    background-color: $alert;
    color: $high;
}
.warning-RBGtx2 .icon-2fP4ae {
    color: $alert;
}
.warning-RBGtx2 {
    border-color: $alert;
    border-radius: 0;
    background-color: transparent;
}
