.itemFilled__373d7 {
	@include boxify($high, $mid, 3px);

	&:hover:not([aria-checked='true']):not(.disabled_af801d),
	&:hover {
		background-color: $mid;
		color: $high;
	}

	&[aria-checked='true'] {
		background-color: $low;
		color: $high;
	}
}
