// Game Activity / Keybinds card
.theme-dark {
	.nowPlaying-zBamm2,
	.notDetected-2HEmAp {
		@include boxify($low, $mid, 4px);

		.overlayStatusText__668e1,
		.gameName_fd966d,
		.lastPlayed_fd966d {
			color: $high;
		}
	}
	.game_fd966d {
		box-shadow: none;
	}
	.member-1q7VfX .name-8yzEIY,
	.member-1q7VfX .roleWrapper-1Hde_V,
	.css-hsd1lu-singleValue,
	.nowPlayingAdd_fd966d,
	.gameName_fd966d,
	.lastPlayed_fd966d {
		color: $low;
	}
	.card_ffe375:before {
		background: transparent;
		border: none;
	}
	.card_ffe375:hover {
		&:before {
			border: none;
			@include boxify($low, $mid, 4px);
		}
		.css-hsd1lu-singleValue,
		.input-3K7d_z,
		.description-30xx7u,
		.labelDescriptor-34wZ-z,
		.h5-2RwDNl,
		.gameName_fd966d,
		.lastPlayed_fd966d,
		.actionButton_e4010c,
		.tag-1YGWN9,
		.roleWrapper-1Hde_V,
		.overlayStatusText__668e1 {
			color: $high;
		}
		.gameNameInput_fd966d:focus,
		.gameNameInput_fd966d:hover {
			border-radius: 0;
			background: $high;
			color: $low;
		}
		&.toggleIcon_fd966d {
			//needs fixing
			color: $high;
		}
		.actionButton_e4010c {
			border-color: $high;
		}
	}
}
