// Game Activity / Keybinds card
.theme-dark {
    .nowPlaying-zBamm2,
    .notDetected-2HEmAp {
        @include boxify($low, $mid, 4px);

        .overlayStatusText-AHDYB3,
        .gameName-Uw4dbt,
        .lastPlayed-3aHvxk {
            color: $high;
        }
    }
    .game-3x3aDt {
        box-shadow: none;
    }
    .member-1q7VfX .name-8yzEIY,
    .member-1q7VfX .roleWrapper-1Hde_V,
    .css-hsd1lu-singleValue,
    .nowPlayingAdd-3lvnXJ,
    .gameName-Uw4dbt,
    .lastPlayed-3aHvxk {
        color: $low;
    }
    .card-2ART2V:before {
        background: transparent;
        border: none;
    }
    .card-2ART2V:hover {
        &:before {
            border: none;
            @include boxify($low, $mid, 4px);
        }
        .flex-2S1XBF div,
        .flex-2S1XBF span,
        .css-hsd1lu-singleValue,
        .input-3K7d_z,
        .description-30xx7u,
        .labelDescriptor-34wZ-z,
        .h5-2RwDNl,
        .gameName-Uw4dbt,
        .lastPlayed-3aHvxk,
        .actionButton-1YKTU0,
        .tag-1YGWN9,
        .roleWrapper-1Hde_V,
        .overlayStatusText-AHDYB3 {
            color: $high;
        }
        .gameNameInput-3TuPuA:focus,
        .gameNameInput-3TuPuA:hover {
            border-radius: 0;
            background: $high;
            color: $low;
        }
        .actionButton-1YKTU0 {
            border-color: $high;
        }
    }
}
