.theme-dark {
	.payment__7d702,
	.paginator_e620d3 {
		background: transparent;
	}
	.codeRedemptionRedirect-3SBiCp,
	.divider-3APUjw,
	.paymentHeader__50c05,
	.bottomDivider_a59d97 {
		border: none;
	}
	.externalRowHeader_d353ca,
	.pageIndicator__973ca,
	.activeBreadcrumb__7e753,
	.breadcrumbWrapper__34bfa,
	.giftIcon__9d0ce,
	.summaryInfo_b57acb,
	.sectionHeader_a9d2bb,
	.subText__70c8d,
	.descriptionWrapper__0d577,
	.description__75831 {
		color: $low;
	}
	.pageIndicator__973ca {
		border-bottom: 2px solid $low;
		border-top: 2px solid $low;
	}
	.pageButtonNext_b6c1ca,
	.pageButtonPrev__9ee28 {
		border-radius: 0;
		border: 2px solid $low;
		border-color: $low;
	}
	.defaultIndicator__855a2 {
		background-color: $alert;
		border-radius: 0;
		color: $high;
	}
	.codeRedemptionRedirect-3SBiCp,
	.paymentPane__9cf01 {
		@include boxify($high, $mid, 4px);
		color: $low;
	}
	.expandedInfo__47bad {
		@include boxify($low, $mid, 4px);

		.paymentText_deeaf4,
		.paymentHeader__50c05 {
			color: $high;
		}
	}
	.paymentHeader__50c05 {
		margin-top: 0;
		padding-top: 10px;
	}
	.hoverablePayment__3ea24 {
		.giftIcon__9d0ce,
		.summaryInfo_b57acb {
			color: $low;
		}
		&:hover {
			background-color: $low;
			.giftIcon__9d0ce,
			.summaryInfo_b57acb {
				color: $high;
			}
		}
	}
	.lookFilled-yCfaCM.colorBrand-I6CyqQ {
		@include buttonify($alert, $high, $high, $low);
	}
}
