// Overlay Visualizer
.wrapper_b877fa {
	background-color: $high;
	border-radius: 0;
	border-color: $alert;
}
.option_b877fa {
	@include boxify($low, $mid, 2px);
	&:hover {
		box-shadow: 2px 2px 0 $mid;
		background: $low;
	}
	&.selected_b877fa {
		background: $alert;
	}
}
.wrapper_b877fa.disabledSelected_b877fa {
	border-color: $alert;
}
.disabled_b877fa {
	color: $mid;

	&.selected_b877fa,
	&:hover {
		color: $alert;
	}
}
