.theme-dark {
	.payment_f27ac6,
	.paginator__28ba5 {
		background: transparent;
	}
	.codeRedemptionRedirect-3SBiCp,
	.divider-3APUjw,
	.paymentHeader__27aff,
	.bottomDivider_c85b47 {
		border: none;
	}
	.externalRowHeader_e723ce,
	.pageIndicator__973ca,
	.activeBreadcrumb__56acd,
	.breadcrumbWrapper__75797,
	.giftIcon__75cfe,
	.summaryInfo__3df8a,
	.sectionHeader__9a59b,
	.subText__70c8d,
	.descriptionWrapper__75cd5,
	.description__51810 {
		color: $low;
	}
	.pageIndicator__973ca {
		border-bottom: 2px solid $low;
		border-top: 2px solid $low;
	}
	.pageButtonNext__13132,
	.pageButtonPrev__9c384 {
		border-radius: 0;
		border: 2px solid $low;
		border-color: $low;
	}
	.defaultIndicator_b89fc1 {
		background-color: $alert;
		border-radius: 0;
		color: $high;
	}
	.codeRedemptionRedirect-3SBiCp,
	.paymentPane__541d7 {
		@include boxify($high, $mid, 4px);
		color: $low;
	}
	.expandedInfo_efc786 {
		@include boxify($low, $mid, 4px);

		.paymentText__55e50,
		.paymentHeader__27aff {
			color: $high;
		}
	}
	.paymentHeader__27aff {
		margin-top: 0;
		padding-top: 10px;
	}
	.hoverablePayment__4ff3b {
		.giftIcon__75cfe,
		.summaryInfo__3df8a {
			color: $low;
		}
		&:hover {
			background-color: $low;
			.giftIcon__75cfe,
			.summaryInfo__3df8a {
				color: $high;
			}
		}
	}
	.lookFilled-yCfaCM.colorBrand-I6CyqQ {
		@include buttonify($alert, $high, $high, $low);
	}
}
