.theme-dark {
	.auditLog-1NVAY0 {
		@include boxify($high, $mid, 4px);
		border: none;

		&:hover .expandForeground-1nZ4VR {
			stroke: $mid;
		}
		.expandForeground-1nZ4VR {
			stroke: $low;
		}
		.icon-RTGJu3 {
			background-color: $low;
			border-radius: 25%;
		}

		.headerExpanded-1-zwDr,
		.headerClickable-zGQJz3,
		.changeDetails-1kMZqI,
		.headerDefault-1e6yjj {
			background-color: transparent;
		}
		.headerExpanded-1-zwDr:hover,
		.headerClickable-zGQJz3:hover {
			background-color: $mid;
		}
	}
}

.theme-dark .divider-M3saWq {
	display: none;
}
