.theme-dark {
	.auditLog__9228d {
		@include boxify($high, $mid, 4px);
		border: none;

		&:hover .expandForeground-1nZ4VR {
			stroke: $mid;
		}
		.expandForeground-1nZ4VR {
			stroke: $low;
		}
		.icon-RTGJu3 {
			background-color: $low;
			border-radius: 25%;
		}

		.headerExpanded__05a35,
		.headerClickable__334f7,
		.changeDetails_c0aa16,
		.headerDefault__31bb1 {
			background-color: transparent;
		}
		.headerExpanded__05a35:hover,
		.headerClickable__334f7:hover {
			background-color: $mid;
		}
	}
}

.theme-dark .divider__1ee1f {
	display: none;
}
