// Transparencies
.layer-3QrUeG,
.scroller-305q3I,
.contentRegion-3nDuYy,
.sidebarRegionScroller-3MXcoP,
.contentRegionScroller-26nc1e,
.standardSidebarView-3F1I7i {
    background-color: transparent;
}
.side-8zPYf6 .separator-gCa7yv {
    background-color: transparent;
}
// X button
.theme-dark {
    .keybind-KpFkfr {
        color: $low;
    }
    .closeButton-1tv5uR {
        transition: background-color 0.2s;
        border-color: $low;
        &:hover {
            background-color: $alert-trans;
        }
        path {
            fill: $low;
        }
    }
}
// Side bar
.draggable-1EOU8o {
    padding: 1px 0;
}
.side-8zPYf6 .item-PXvHYJ {
    transition: color 0.2s;
    border-radius: 0;
    margin: 2px 0;
    
    // Animation
    .themed-OHr7kt.selected-3s45Ha,
    &:hover.themed-OHr7kt,
    & {
        background-color: transparent !important;
        height: 32px;
    }
    &:before {
        z-index: -1;
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        bottom: 2px;
        transition: width 0.4s;
        animation-name: pulsingBackground;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        width: 0%;
    }
    // Selected channel
    &.selected-3s45Ha,
    &:hover {
        color: $high;
        box-shadow: 0 1px $low, 0 -1px $low;
        &:before {
            width: 100%;
        }
    }
    &[style="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.1);"],
    &[style="color: rgb(240, 71, 71);"] {
        color: $alert !important;
    }
}
// "My Account" Card
.background-1QDuV2 {
    @include boxify($high, $mid, 6px);
}
.userSettingsSecurity-3IYeMF .isEnabled-24g9qA,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: $low;
}
// BD buttons
.bd-button {
    @include buttonify($low, $high, $mid, $high);
    
    &.bd-button-danger {
        background-color: $alert;
    }
}
.bd-addon-views .bd-view-button.selected {
    background-color: $alert;
}

// Theme / Plugin Cards
.bd-addon-list .bd-addon-card {
    @include boxify($high, $mid, 4px);
}
.bd-addon-header svg {
    fill: $low;
}
// BD socials
.socialLinks-3jqNFy svg {
    path {
        fill: $low !important;
    }
    &:hover path {
        fill: $alert !important;
    }
}