// Overlay Visualizer
.wrapper__4beb8 {
	background-color: $high;
	border-radius: 0;
	border-color: $alert;
}
.option__1d8de {
	@include boxify($low, $mid, 2px);
	&:hover {
		box-shadow: 2px 2px 0 $mid;
		background: $low;
	}
	&.selected__4e154 {
		background: $alert;
	}
}
.wrapper__4beb8.disabledSelected__7c065 {
	border-color: $alert;
}
.disabled__586d3 {
	color: $mid;

	&.selected__4e154,
	&:hover {
		color: $alert;
	}
}
