// Overlay Visualizer
.wrapper_d2da9c {
	background-color: $high;
	border-radius: 0;
	border-color: $alert;
}
.option_d2da9c {
	@include boxify($low, $mid, 2px);
	&:hover {
		box-shadow: 2px 2px 0 $mid;
		background: $low;
	}
	&.selected_d2da9c {
		background: $alert;
	}
}
.wrapper_d2da9c.disabledSelected_d2da9c {
	border-color: $alert;
}
.disabled_d2da9c {
	color: $mid;

	&.selected_d2da9c,
	&:hover {
		color: $alert;
	}
}
