.theme-dark {
	.tier-3CS7-p {
		@include boxify($high, $mid, 3px);

		.tierHeaderUnlocked-1OpOLf,
		.tierIconLocked-RGSkSl,
		.tierBody-1d3UiS,
		.tierHeaderLocked-30MLlO {
			color: $low;
			background-color: transparent;
		}
	}

	.subscriberCount-3iRh_w,
	.subscriberCount-3iRh_w strong {
		color: $low;
	}
}
