// Private Channel Card
.settingCard-xZSDjS {
	@include boxify($high, $mid, 3px);
}
// Allow / Passthrough / Deny
.group-LWHoGI {
	border-radius: 0;
	border: 2px solid $low;
	width: 97px;

	.deny-1GO6vI {
		svg {
			color: $alert;
		}
		&:hover {
			border-radius: 0;
		}
		&.selected-3jieYB {
			background-color: $alert;
			border-radius: 0;
			svg {
				color: $high;
			}
		}
	}

	.passthrough--fbdFR {
		&.selected-3jieYB {
			background-color: $low;
			color: $high;
		}
	}

	.allow-1h61-Z {
		border-radius: 0;

		&.selected-3jieYB {
			color: $high;
		}
	}
}
