// Change Log
.theme-dark {
    .content-s2SEQO {
        ol,
        p,
        ul li {
            color: $low;
        }
    }
    .date-1k6kG2 {
        color: $mid;
    }
    .socialLink-3n2n25 {
        color: $low;
    }
}
