// Side bar
.draggable-1EOU8o {
	padding: 1px 0;
}
// Category titles
.bd-sidebar-header h2,
.side_b4b3f6 .header_f72511 {
	color: $low;
	@include titlify(1px, 3px);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item, // PRE-BETA BBD: WILL BE DEPRECIATED SOON
.side_b4b3f6 .item__48dda {
	transition: color 0.2s;
	border-radius: 0;
	margin: 2px 0;
	background-color: transparent !important;

	// Animation
	.themed-2-lozF.selected__5711d,
	&:hover.themed-2-lozF {
		background-color: transparent !important;
		height: 32px;
	}
	&:before {
		z-index: -1;
		content: '';
		position: absolute;
		left: 0;
		top: 1px;
		bottom: 1px;
		transition: transform 0.4s;
		animation-name: pulsingBackground;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		transform: scaleX(0);
		transform-origin: left;
		width: 100%;
	}
	// Selected channel
	&[style*="color: rgb(255, 255, 255);"],
    &.selected, // PRE-BETA BBD: WILL BE DEPRECIATED SOON
    &.selected__5711d,
    &:hover {
		color: $high !important;
		box-shadow: 0 1px $low, 0 -1px $low;
		&:before {
			transform: scaleX(1);
		}
		path {
			fill: $high;
		}
	}
	&[style='color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.1);'],
	&[style='color: rgb(240, 71, 71);'] {
		color: $alert !important;
	}
}
// Role Permissions
.theme-dark {
	.passthroughSelected-1Eq0Kl {
		background: $low;
	}
	.item-2OyinQ {
		border: 1px solid $low;
		border-radius: 0;
	}
}
