@import 'general-settings';
@import 'settings-audit-log';
@import 'settings-authorized-apps';
@import 'settings-BD';
@import 'settings-billing';
@import 'settings-change-log';
@import 'settings-connections';
@import 'settings-integrations';
@import 'settings-keybinds';
@import 'settings-language';
@import 'settings-my-account';
@import 'settings-overlay';
@import 'settings-permissions';
@import 'settings-registered-games';
@import 'settings-roles';
@import 'settings-stickers';
@import 'settings-streamer-mode';
@import 'settings-user-profile';
@import 'sidebar';
