//transparencies
._960e4207cea8323e-layer,
.visual-refresh ._23e6b439306f125a-standardSidebarView,
.visual-refresh ._23e6b439306f125a-sidebarRegionScroller,
._23e6b439306f125a-contentRegion,
.visual-refresh ._23e6b439306f125a-contentRegionScroller {
  background: transparent;
}

// # My Account

// ## Standing: card background
.visual-refresh ._730694f5672c9601-cardPrimary {
  background: transparent;
}

// ## Security

// sec keys
._6c75d92c128c46b0-credentialList {
  border-radius: 0;
}

._6c75d92c128c46b0-credentialItem {
  border-top: none;
}
