@use '../vars/vars' as *;

.visual-refresh .topPill_aa8da2 .themed_aa8da2.item_aa8da2,
.visual-refresh .themed_aa8da2.item_aa8da2 {
	@include buttonify($high-mid, $low, $mid, $low);

	&.selected_aa8da2 {
		background-color: $low ;
		color: $high;
	}
}