@use '../vars/vars' as *;

.visual-refresh .aa8da23faa27393c-topPill .aa8da23faa27393c-themed.aa8da23faa27393c-item,
.visual-refresh .aa8da23faa27393c-themed.aa8da23faa27393c-item {
	@include buttonify($high-mid, $low, $mid, $low);

	&.aa8da23faa27393c-selected {
		background-color: $low ;
		color: $high;
	}
}