// Lattice effect
#app-mount:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 4px 4px;
	background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
	z-index: 10000;
	opacity: 1;
	user-select: none;
	pointer-events: none;
}
