// Transparencies
.layer__960e4,
.scroller_ff90b2,
.contentRegion__23e6b,
.sidebarRegionScroller__23e6b,
.side_b3f026 .separator-2wx7h6,
.contentRegionScroller__23e6b,
.standardSidebarView__23e6b {
	background-color: transparent;
}
.theme-dark .row-1Tg75B,
.theme-dark .item-3eFBNF {
	box-shadow: none;
}
.theme-dark .divider-3wNib3 {
	border: none;
}
// X button
.theme-dark {
	.markValue-2U_-UG,
	.keybind_c2b141 {
		color: $low;
	}
	.closeButton_c2b141 {
		transition: background-color 0.2s;
		border-color: $low;
		&:hover {
			background-color: $alert-trans;
		}
		path {
			fill: $low;
		}
	}
}
// Headers
.h1_b717a1,
.h2-1EaYVL {
	@include titlify(2px, 4px);
}
.h5_b717a1 {
	@include titlify(2px, 2px);
}

.divider_ae36e5,
.bd-setting-divider {
	display: none;
}

.side_b3f026 .separator_b3f026 {
	visibility: hidden;
}

.radioIconForeground__001a7 {
	//dot in the center of selected setting
	fill: var(--color-alert);
}
