.itemFilled__001a7 {
	@include boxify($high, $mid, 3px);

	&:hover:not([aria-checked='true']):not(.disabled__001a7),
	&:hover {
		background-color: $mid;
		color: $high;
	}

	&[aria-checked='true'] {
		background-color: $low;
		color: $high;
	}
}
