// "My Account" Card
.background__1fed1 {
	@include boxify($high, $mid, 6px);
}

//Specificity for changing password prompt
.header__6dc27.header__6dc27 {
	padding: 4px 12px 4px 12px;
	background-color: $low;
	border-radius: 0px;
	display: grid;
	grid-template-rows: auto auto; /* Two rows */
	.colorHeaderPrimary_c9946a {
		grid-column: 2;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $high;
		margin: 0 0 0 12px;
		text-align: left;
	}
	.subtitle__6dc27 {
		grid-column: 1 / span 2;
		color: $high !important;
		text-align: left;
		padding: 0px;
	}
}
.header__6dc27.header__6dc27.header__6dc27::before {
	grid-column: 1;
	display: block;
	content: '';
	height: 16px;
	width: 16px;
	max-height: 16px;
	max-width: 16px;
	min-height: 16px;
	min-width: 16px;
	background-color: $high;
	align-self: center;
	justify-self: center;
}
#app-mount
	> div.appAsidePanelWrapper_a3002d
	> div.notAppAsidePanel_a3002d
	> div:nth-child(4)
	> div.layer_bc663c
	> div
	> div
	> form
	> div.content__49fc1.content__6dc27.thin_d125d2.scrollerBase_d125d2
	> div:nth-child(n + 1)
	> div
	> div
	> input {
	background-color: $mid-trans;
}
