// Overlay Visualizer
.wrapper_e03935 {
	background-color: $high;
	border-radius: 0;
	border-color: $alert;
}
.option_e03935 {
	@include boxify($low, $mid, 2px);
	&:hover {
		box-shadow: 2px 2px 0 $mid;
		background: $low;
	}
	&.selected_e03935 {
		background: $alert;
	}
}
.wrapper_e03935.disabledSelected_e03935 {
	border-color: $alert;
}
.disabled_e03935 {
	color: $mid;

	&.selected_e03935,
	&:hover {
		color: $alert;
	}
}
