.theme-dark {
	.auditLog__43dab {
		@include boxify($high, $mid, 4px);
		border: none;

		&:hover .expandForeground-1nZ4VR {
			stroke: $mid;
		}
		.expandForeground-1nZ4VR {
			stroke: $low;
		}
		.icon-RTGJu3 {
			background-color: $low;
			border-radius: 25%;
		}

		.headerExpanded__43dab,
		.headerClickable__43dab,
		.changeDetails__43dab,
		.headerDefault__43dab {
			background-color: transparent;
		}
		.headerExpanded__43dab:hover,
		.headerClickable__43dab:hover {
			background-color: $mid;
		}
	}
}

.theme-dark .divider__43dab {
	display: none;
}
