@mixin boxify($color, $drop-color, $drop) {
    background: $color;
    border-radius: 0;
    box-shadow: $drop $drop 0 $drop-color;
}
@mixin remask($url, $color) {
    mask: url($url);
    background: $color !important;
}
@mixin buttonify($base-bg, $base-text, $hover-bg, $hover-text) {
    border-radius: 0;
    border-color: transparent;
    background-color: $base-bg;
    color: $base-text;

    &:hover,
    &:active {
        border-color: transparent !important;
        background-color: $hover-bg !important;
        color: $hover-text !important;
    }
}

@keyframes pulsingBackground {
    0% {
        background-color: $low;
    }
    20% {
        background-color: $low;
        opacity: 100%;
    }
    50% {
        background-color: $low-trans;
        opacity: 75%;
    }
    80% {
        background-color: $low;
        opacity: 100%;
    }
    100% {
        background-color: $low;
    }
}

@import 'root_config';
@import 'app/import';
@import 'channels/import';
@import 'chat/import';
@import 'font/font';
@import 'guilds/import';
@import 'home/import';
@import 'members/members';
@import 'overlay/overlay';
@import 'plugin-support/import.scss';
@import 'popouts/import';
@import 'prompts/prompts';
@import 'settings/import';
@import 'voice-video/import';
