@mixin boxify($color, $drop-color, $drop) {
	background: $color;
	border-radius: 0;
	box-shadow: $drop $drop 0 $drop-color;

	&:hover {
		box-shadow: $drop $drop 0 $drop-color;
	}
}
@mixin remask($url, $color) {
	mask: url($url);
	background: $color !important;
}
@mixin buttonify($base-bg, $base-text, $hover-bg, $hover-text) {
	border-radius: 0;
	border-color: transparent;
	background-color: $base-bg;
	color: $base-text;
	transition: all 0.1s;

	&:hover,
	&:active {
		border-color: transparent !important;
		background-color: $hover-bg !important;
		color: $hover-text !important;
	}
}
@mixin titlify($left-offset, $up-offset) {
	letter-spacing: 1px;
	text-shadow: $left-offset $up-offset 0 $mid;
	padding-right: 3px;
	padding-bottom: 3px;
}
@keyframes pulsingBackground {
	0% {
		background-color: $low;
	}
	20% {
		background-color: $low;
		opacity: 100%;
	}
	50% {
		background-color: $low-trans;
		opacity: 75%;
	}
	80% {
		background-color: $low;
		opacity: 100%;
	}
	100% {
		background-color: $low;
	}
}

@keyframes shift {
	0% {
		transform: translate(0%, -50%);
	}
	50% {
		transform: translate(20%, -50%);
	}
	100% {
		transform: translate(0%, -50%);
	}
}

@import 'root_config';
@import 'color_config';
@import 'app/import';
@import 'channels/import';
@import 'chat/import';
@import 'font/font';
@import 'guilds/import';
@import 'home/import';
@import 'members/members';
@import 'overlay/overlay';
@import 'plugin-support/import.scss';
@import 'popouts/import';
@import 'prompts/prompts';
@import 'settings/import';
@import 'voice-video/import';
