// Default
#app-mount,
.title-3hptVQ,
.modeDefault-2fEh7a,
.container-ZMc96U,
.titleBar-1it3bQ {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/Pointers/Hack_Normal_Select_v2.cur'),
		default !important;
}
// Text
.timestamp-p1Df1m.latin24CompactTimeStamp-2pXUBq,
.searchBar-zdmu7v,
.contents-2MsGLg,
textarea,
.textAreaSlate-9-y-k2 div div,
input {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/Pointers/Hack_Text_Select_v2.cur'),
		default !important;
}
// Pointer
a,
button,
.folder-21wGz3,
.item-3eFBNF,
.css-gvi9bl-control,
.css-rzbxvl-option,
.css-1ba14n5-option,
.css-ku6vh5-indicatorContainer,
.avatar-2e8lTP,
.fileInput-2wWHbw,
.container-2nx-BQ,
.input-2XRLou,
.profileBadge-12r2Nm,
.item-1OdjEX,
.container-YkUktl .avatar-1EWyVD,
.wrapper-28eC3z,
.result-u66Ywh,
.labelClickable-eiZOrp,
.buttonWrapper-3YFQGJ,
[role='button'],
[role='button'] header,
[type='checkbox'],
label,
.item-2idW98,
.additionalActionsIcon-1FoUlE,
.clickable-28SzVr:hover .layout-1qmrhw,
.actionIcon-2sw4Sl,
.clickable-LksVCf,
.friendsTable-133bsv .friendsRow-2yicud {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/Pointers/Hack_Link_Select_v2.cur'),
		default !important;
}
// Horizontal resize
.grabber-2GQyvM {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/Pointers/Hack_Horizontal_Resize_v2.cur'),
		default !important;
}
// Disabled
.disabled,
.innerDisabled-2dbG11,
.disabled-29cfPA,
.disabled-2qTmnp,
.modeLocked-3sToxd,
.modeLocked-3sToxd .mainContent-20q_Hp {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/Pointers/Hack_Unavailable_v2.cur'),
		default !important;
}
