// Default
#app-mount,
.title-3hptVQ,
.modeDefault-2fEh7a,
.container_e44302,
.titleBar_a934d8 {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Normal_Select_v2.cur'),
		default !important;
}
// Text
.timestamp_ec86aa.latin24CompactTimeStamp_ec86aa,
.searchBar-zdmu7v,
.contents_ec86aa,
textarea,
.textAreaSlate_d0696b div div,
input {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Text_Select_v2.cur'),
		default !important;
}
// Pointer
a,
button,
.folder-21wGz3,
.item-3eFBNF,
.css-gvi9bl-control,
.css-rzbxvl-option,
.css-1ba14n5-option,
.css-ku6vh5-indicatorContainer,
.avatar_ec86aa,
.fileInput-2wWHbw,
.container_cebd1c,
.input-2XRLou,
.profileBadge_b64375,
.item-1OdjEX,
.container_b2ca13 .avatar_b2ca13,
.wrapper_c5f96a,
.result_f14193,
.labelClickable-eiZOrp,
.buttonWrapper_cecf00,
.button_Jt-tIg, //Read all Notifications plugin
.nameTag_b2ca13, //Nametag bottom left
.hoverRoll_c0d6c6, //Status below nametag, bottom left
.friendsOnline_2JkivW, //Friend Notifications plugin
.basicChannelRowLink_d8bfb3, //Tabs at the top of server channels, probably
.header_fd6364, //Server header
.channelTabs-newTab, //Channel tabs Plugin
.channelTabs-closeTab, //Channel Tabs Plugin
.themed_a0, //I forgot what this one was
[role='button'],
[role='button'] header,
[type='checkbox'],
label,
.item-2idW98,
.additionalActionsIcon-1FoUlE,
.clickable_e9f61e:hover .layout_e9f61e,
.actionIcon_f6f816,
.clickable__2869d,
.friendsTable-133bsv .friendsRow-2yicud {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Link_Select_v2.cur'),
		default !important;
}
// Horizontal resize
.grabber-2GQyvM {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Horizontal_Resize_v2.cur'),
		default !important;
}
// Disabled
.disabled,
.innerDisabled__37f59,
.disabled_cb56ee,
.disabled-2qTmnp,
.modeLocked_d8bfb3,
.modeLocked_d8bfb3 .mainContent-20q_Hp {
	cursor: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/cursors/Hack_Unavailable_v2.cur'),
		default !important;
}
