// Wallpaper
#app-mount {
    background: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/wallpapers/NieR-LOW-1440.png") center/cover no-repeat;
}
// Home icon
.homeIcon-FuNwkv {
    background: url(https://i.imgur.com/09fncQw.png) center/contain no-repeat;
}
// Theatre effect
#app-mount:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to right, 
            rgba(218, 212, 187, 0.05),
            transparent 30%,
            transparent 80%,
            rgba(218, 212, 187, 0.05)
        ),
        radial-gradient(transparent 50%, rgba(218, 212, 187, 0.1));
    user-select: none;
    pointer-events: none;
}
// Extra changes
.theme-dark .mentioned-xhSam7 a {
    background-color: var(--color-low-trans);
    border-radius: 0.25em;
}