// Wallpaper
#app-mount {
	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/wallpapers/light-theme-1440.png')
		center/cover no-repeat;
}

// // Home icon
// .tutorialContainer__1f388 .svg_cc5dd2 {
// 	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_light-theme.png')
// 		center/contain no-repeat;
// }

// Theatre effect
#app-mount:before {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
			to right,
			rgba(78, 75, 66, 0.2),
			transparent 30%,
			transparent 80%,
			rgba(78, 75, 66, 0.4)
		),
		radial-gradient(transparent 50%, rgba(78, 75, 66, 0.4));
	user-select: none;
	pointer-events: none;
}

// Light Mode Text Color
:root {
	--color-high: rgb(218, 212, 187);
	--color-low: rgb(87, 84, 74);
	--color-mid: rgb(151, 147, 129);
	--color-high-mid: rgb(183, 177, 156);
	--color-alert: rgb(205, 102, 77);
	--color-high-trans: rgba(218, 212, 187, 0.8);
	--color-low-trans: rgba(87, 84, 74, 0.6);
	--color-mid-trans: rgb(151, 147, 129, 0.5);
	--color-alert-trans: rgba(205, 102, 77, 0.7);
	--nier-font: sce-ps3_rodin_latinregular;
	//Light Mode selector img
	--selector-img: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/extras/nier-selector_low.png');
	--selector-img-invert: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/extras/nier-selector_high.png');
	--nier-border: url('https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/extras/nier_border.svg');
}

// Highlighting text
::selection {
	background-color: var(--color-alert);
	color: var(--color-high);
}

// Spoiler Text
.obscureWarning__54ab5 {
	color: var(--color-high);
}
