.menu_c1e9c4 {
	@include boxify($low, $mid, 3px);

	.scroller_c1e9c4 {
		.separator_c1e9c4 {
			display: none;
		}
		.item_c1e9c4 {
			margin: 0;
		}
		.colorDefault_c1e9c4,
		.labelContainer_c1e9c4 {
			@include buttonify($low, $high, $high, $low);

			.subtext_c1e9c4,
			.defaultColor__4bd52 {
				color: $high;
			}

			&:hover .subtext_c1e9c4 {
				color: $mid;
			}
			&:hover .defaultColor__4bd52 {
				color: $low;
			}
		}

		.caret_c1e9c4 {
			color: $mid;
		}
		.submenuPaddingContainer_c1e9c4 {
			padding: 0;
		}

		// Specifically react buttons in context menu
		.button_f563df {
			@include buttonify($low, $high, $high, $low);
		}
	}
}
// activity
.theme-dark .secondaryButton_af3b89 .secondaryText_a35965 {
	color: $high;
}
.primaryButton_af3b89 .contents__201d5 {
	div {
		color: $high !important;
	}

	path {
		fill: $high !important;
	}
}
.popout_af3b89 {
	@include boxify($high, $mid, 3px);

	.interactionsContainer_af3b89,
	.popoutContentWrapper_af3b89 {
		padding: 0.5em;
	}

	.hero_af3b89 {
		background: $low !important;

		.popoutHeroBody_af3b89 {
			.lineClamp1__4bd52,
			.popoutHeroTextPrimary_af3b89,
			.tabularNumbers__4bd52,
			.badgeLabel__635ed {
				color: $high !important;
			}
			.badgeContainer__635ed path {
				fill: $high !important;
			}
		}
	}
}

// set status
// invisible
foreignObject[mask='url(#svg-mask-status-offline)'] .status_a423bd {
	background-color: $mid !important;
}
// context popouts / tooltips
.tooltipPrimary__382e7 {
	@include boxify($high, $mid, 2px);
}
.tooltipPointer__382e7 {
	display: none;
}
