// whole container
.outer_c0bea0 {
	&:not(.custom-theme-background.custom-profile-theme) {
		@include boxify($high, $mid, 3px);
	}
	padding: 0 !important;

	// weird box that sits over theme colors, under boxes
	// seems to darken the color selection
	.inner_c0bea0:before {
		height: 100%;
		width: 100%;
	}

	.header__5be3e {
		display: flex;
		flex-direction: column;
	}

	// janky ass invisible container?
	.invisibleContainer_af9888.biteSize_ab8609 {
		display: none;
	}

	.mask__68edb {
		// pfp mask around banner
		mask circle {
			display: none;
		}
		//banner container:
		.banner__68edb {
			border-radius: 0;
		}
	}

	// thinking text and bubbles
	.statusBubbleOuter_af9888 {
		max-width: none;
		max-height: none;
		border-radius: 0;
		box-shadow: none;

		margin: 0 0.5em;
		border: 2px solid $low;

		.content_ab8609 {
			max-height: none !important;
			overflow: visible;
			word-wrap: normal;
		}

		.statusBubble_af9888 {
			background-color: $high;
			border-radius: 0;
			word-wrap: normal;
			padding: 0;

			.content_ab8609 {
				-webkit-line-clamp: 100;
				line-clamp: 100;
			}
		}

		.statusBubbleWithTextMinWidth_af9888 {
			padding: 0.25em;
		}

		.singleLineAlign_af9888 {
			text-align: left;
		}
	}
	.statusBubbleOuter_af9888:before,
	.statusBubbleOuter_af9888:after {
		display: none;
	}

	//edit status buttons on user status hover
	.popover_c97e55.visible_c97e55.wrapper_f7ecac {
		.button_c97e55 svg path {
			fill: $high;
		}
		.button_c97e55:hover svg path {
			fill: $low;
		}
	}

	// thinking text
	.visibleContainer_af9888.biteSize_ab8609 {
		position: relative;
		top: 0;
		left: 0;
	}

	// profile picture clickable area
	.clickable_f89da9,
	.clickable__75742 {
		border: 2px solid $low;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $mid;
		margin: 0.5em;
		padding: 2em;
		border-radius: 0;
		position: relative;
		top: 0;
		left: 0;
	}

	//container holding pfp and banner
	.avatar__75742.biteSize__75742 {
		top: 0;
		left: 0;

		// the actual pfp
		.wrapper__44b0c {
			border-radius: 0;
		}
		.avatarHint_f89da9 {
			//hover
			display: none;
		}
	}

	//"Add Status" container:
	.addCustomStatusButtonBubble_af9888.biteSize_ab8609 {
		top: 0;
		left: 0;
		width: auto;
	}

	// usernames, mutuals, roles

	.body__5be3e {
		border: 2px solid $low;
		margin: 0 0.5em;
		padding: 0.5em;
		background: $high;
		.biteSize_c0bea0 {
			//activities container
			&.activity__5be3e {
				//activites (takes on profile theme color and can cause conflict with colors)
				border-top: 1px solid;
				border-bottom: 1px solid;
				border-color: $low;
				border-radius: 0px;
				background-color: transparent;
			}
		}
	}
	//Roles container
	.root_fccfdf {
		.role_dfa8b6 {
			background-color: $mid-trans;
		}
	}

	.footer_d5223c {
		margin: 0;
		padding: 0.5em;
	}

	// message user
	.channelTextArea__74017 {
		background: $high;
		border-radius: 0;
	}

	//user popout bottom left
	.body_af7fb7 {
		border: 2px solid $low;
		margin: 0 0.5em;
		padding: 0.5em;
		background: $high;
		.biteSize_c0bea0 {
			//activities container
			&.card__39ec2 {
				//activites (takes on profile theme color and can cause conflict with colors)
				border-top: 1px solid;
				border-bottom: 1px solid;
				border-color: $low;
				border-radius: 0px;
				background-color: transparent;
			}
		}
	}
}
