// whole container
.fullSize_c0bea0 {
	// @include boxify($low, $mid, 3px);
	padding: 0 !important;

	// weird box that sits over theme colors, under boxes
	// seems to darken the color selection
	.inner_c0bea0:before {
		height: 100%;
		width: 100%;
	}
	.userProfileInner_c69a7b {
		gap: 0px;
	}

	.mask__68edb {
		// pfp mask around banner
		mask circle {
			display: none;
		}
		:where(.banner__68edb) {
			//Specificity to remove border radius on banner. I can't believe they did this.
			border-radius: 0px;
		}
	}

	.headerInner__24502 {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0.25em;

		> :first-child {
			width: 100%;
		}

		// janky ass invisible container?
		.invisibleContainer_af9888.fullSize_ab8609 {
			display: none;
		}

		.invisibleContainer_af9888.fullSize_ab8609,
		.visibleContainer_af9888.fullSize_ab8609 {
			display: flex;
			align-content: center;
			justify-content: center;
			//padding: 4em 0em 0em 0em;
		}

		//Add Status button
		.addCustomStatusButtonBubble_af9888.fullSize_ab8609 {
			top: 0px;
			left: 0px;
			height: auto;
			.statusBubbleOuter_af9888 {
				margin: 0px 0px 4px 0px;
				border: none;
				.statusBubble_af9888 {
					background-color: $mid-trans;
					border-radius: 0;
					word-wrap: normal;
					padding: 2px;
					//width: fit-content;
				}
			}
		}
		// thinking text container
		.visibleContainer_af9888.fullSize_ab8609 {
			position: relative;
			top: 0;
			left: 0;
			padding-top: 0px;
			width: fit-content;
			display: flex;

			// thinking text and bubbles
			.statusBubbleOuter_af9888 {
				max-width: none;
				width: 100%;
				max-height: none;
				border-radius: 0;
				box-shadow: none;
				margin: 0px 0px 4px 0px;
				border: 2px transparent;
				background-color: transparent;

				.statusBubble_af9888 {
					border-radius: 0;
					word-wrap: normal;
					padding: 0;
					//width: fit-content;

					.content_ab8609 {
						-webkit-line-clamp: 100;
						line-clamp: 100;
						background-color: $mid-trans;
					}
				}

				.content_ab8609 {
					max-height: none !important;
					overflow: visible;
					word-wrap: normal;
					//width: fit-content;
					display: flex;
					align-items: center;
					background-color: $high;
					padding-right: 5px;
					.emoji_e463a5 {
						height: 32px;
						width: 32px;
					}
				}

				.singleLineAlign_af9888 {
					text-align: center;
				}
			}
		}
		.statusBubbleOuter_af9888:before,
		.statusBubbleOuter_af9888:after {
			display: none;
		}

		//edit status buttons on user status hover
		.popover_c97e55.visible_c97e55 {
			.button_c97e55 svg path {
				fill: $high;
			}
			.button_c97e55:hover svg path {
				fill: $low;
			}
		}

		//buttons
		.headerButtons__24502 {
			align-items: normal;
			gap: 0px;
			display: contents;
			.multipleButtons_ea99c4 {
				display: flex;
				flex-direction: row;
				gap: 4px;
			}
		}

		// profile picture area
		.avatar__75742 {
			border-bottom: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $mid;
			margin-bottom: 4px;
			padding: 2em 0em 2em 0em;
			border-radius: 0;
			position: relative;
			top: 0;
			left: 0;

			// the actual pfp
			.wrapper__44b0c {
				border-radius: 0;
				mask-image: none;
			}
		}
	}

	// usernames, mutuals, roles
	.body__24502 {
		//border: 2px solid $low;
		margin: 0em 0.5em 0.5em 0.5em;
		padding: 0.5em;
		background: $high;

		// .defaultColor__4bd52 {
		//     color: $high;
		// }

		.fullSize_c0bea0.overlay__24502 {
			//container that everything below username (had to be categorized seperately cuz it broke everything otherwise lol)
			border: 0px;
			height: 100%;
			width: 100%;
			background: $high;

			//container that holds everything the same as above
			.container_d1d9f3 {
				display: contents;
			}

			//tab selection bar
			.tabBar_d1d9f3 {
				margin: 3px;
				height: 42px;
				gap: 20px;
				border-bottom: 2px solid;
				border-color: $low;
				.item_b3f026 {
					background-color: $mid-trans;
					padding: 3px 32px 3px 6px;
					.defaultColor__4bd52 {
						color: $low;
					}
					&:hover {
						border-bottom: 0px;
					}
					&.selected_b3f026 {
						background-color: $low;
						height: 100%;
						//border-bottom: 0px;
						.defaultColor__4bd52 {
							color: $high;
						}
					}
				}
			}

			//border fixes
			.connectedAccountContainer_e6abe8, //border fix for connected accounts
            .note_fcb628 {
				//border fix for note section
				border: 1px solid;
				border-radius: 0px;
				border-color: $low-trans;
			}
		}
	}
}
