// Backdrop
.backdrop__1a911,
.backdropWithLayer-3_uhz4 {
	opacity: 0.4 !important;
}
// Transparencies
.theme-dark .separator-2lLxgC,
.theme-dark .footer_f82cc7,
.theme-dark .footer-31IekZ {
	background-color: transparent;
	box-shadow: none;
}
.theme-dark .modalRoot-1uudbL {
	@include boxify($high, $mid, 3px);
}
// custom status dropdown selected
.lookFilled-1GseHa.select-1Ia3hD {
	border-radius: 0;
	border: 2px solid $low;
	background-color: $high;
}
.art-2p0nYa {
	background-image: none;
}
.header-2zHCAk {
	padding-top: 0;
}
// Create a server
.h5-2RwDNl,
.footer-31IekZ,
.uploadIcon-2wV7s_,
.colorMuted_fbc755,
.colorHeaderPrimary_fbc755,
.colorHeaderSecondary_fbc755 {
	color: $low;
}
.anchor-1MIwyf {
	color: $alert;
}
// start from template / create my own
.container-x8Y1ix .defaultColor_a595eb {
	color: $high;
}
// You've been invited to join a server
.container_ed5743 {
	.title_f9c402 {
		color: $low;
	}
}
.iconActiveLarger_f11207 {
	border-radius: 0;
}
// Join a server
.text-sm-normal-3Zj3Iv {
	color: $low !important;
}
// don't have an invite?
.rowContainer-3t7486 {
	border-radius: 0;
	background-color: $low;
	.defaultColor_a595eb {
		color: $high;
	}

	&:hover {
		background-color: $alert;
	}
}
.sampleLink-5BWNy9 {
	color: $low;
}
// Upload Image
.theme-dark .uploadModal_f82cc7 {
	@include boxify($high, $mid, 6px);
	.scrollableContainer_d0696b {
		box-shadow: none;
		border: 3px solid $low;
	}
}
// Image popout carousel
.arrowContainer_b65c0b {
	background-color: $alert;
}
// Drag and drop upload
.uploadModalIn_f82cc7 .uploadDropModal_f82cc7 {
	.inner_f82cc7 .instructions_f82cc7,
	.inner_f82cc7 {
		border: none;
		color: $low;
	}
	.bgScale_f82cc7 {
		@include boxify($high, $mid, 4px);
	}
}
.theme-dark .checkbox-f1HnKB {
	border: 2px solid $low;
	border-radius: 0;

	&.checked_cebd1c {
		border: 2px solid $low !important;
		background-color: $high;

		path {
			fill: $low !important;
		}
	}
}
// Login screen
.theme-dark.authBox_dc6abe {
	@include boxify($high, $mid, 6px);

	&,
	.colorHeaderPrimary_fbc755,
	.colorHeaderSecondary_fbc755,
	.h5-2RwDNl {
		color: $low;
	}
	.lookLink_dd4f85.colorBrand_dd4f85 {
		color: $alert;
	}
	.qrCodeContainer-1qlybH,
	.qrCodeOverlay-2bLtKl {
		border: 1px solid $low;
	}
}
// CTRL K
.quickswitcher_f4e139 {
	@include boxify($high, $mid, 5px);
	.input_f4e139 {
		color: $high;
		background: $low;
		border-radius: 0;
		box-shadow: none;
	}
	.icon_f14193 {
		height: 13px;
		width: 13px;
		background-color: $low;
	}
	.resultFocused-3aIoYe {
		background: $low;
		border-radius: 0;

		.note-3TX9O7,
		.misc_f14193,
		.contentUnread_f14193,
		.contentDefault_f14193 {
			color: $high;
		}
		.icon_f14193 {
			background-color: $high;
			path {
				fill: $high;
			}
		}
	}
}
// Invite Friends to Server
.theme-dark {
	.lookLink_dd4f85.colorGrey-2DXtkV,
	.footerText-2QLGHU {
		color: $low;
	}
	.inviteRow-3vmB7i {
		border-radius: 0;
		.inviteRowName-3H4s_c {
			color: $low;
		}

		&:hover {
			background: $low;
			.lookLink_dd4f85.colorGrey-2DXtkV,
			.inviteRowName-3H4s_c {
				color: $high;
			}
		}
	}
}
// Addon Errors
.bd-modal-wrapper {
	.bd-modal-inner {
		@include boxify($high, $mid, 5px);
		border: none;
	}
	.header {
		color: $high;
		background-color: $low;
	}
	.footer-31IekZ,
	.bd-modal-body {
		color: $low;
		background-color: transparent;
	}
	.tab-bar-container {
		background-color: transparent;
		box-shadow: none;
		.tab-bar-item {
			color: $low;

			&.selected {
				border-color: $low;
			}
		}
	}
	.error,
	.table-header {
		color: $low;
		border-color: $low;
	}
	.error-link {
		color: $alert;
	}
}
// Notification settings
.theme-dark .modal_ec75c1 {
	@include boxify($high, $mid, 4px);
}
// Reactions
.reaction_ec6b19 {
	border-radius: 0;
	@include boxify($high, $mid, 3px);

	&.reactionMe_ec6b19 {
		background-color: $low;

		.reactionCount_ec6b19 {
			color: $high;
		}
	}
}
// "Hold Up" - external site prompt
.theme-dark .root_f9a4c9 {
	@include boxify($high, $low, 3px);
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
	@include buttonify($low, $high, $mid, $high);
}
