// Backdrop
.backdrop__1a911,
.backdropWithLayer-3_uhz4 {
	opacity: 0.4 !important;
}
// Transparencies
.theme-dark .separator-2lLxgC,
.theme-dark .footer_dbca3c,
.theme-dark .footer-31IekZ {
	background-color: transparent;
	box-shadow: none;
}
.theme-dark .modalRoot-1uudbL {
	@include boxify($high, $mid, 3px);
}
// custom status dropdown selected
.lookFilled-1GseHa.select-1Ia3hD {
	border-radius: 0;
	border: 2px solid $low;
	background-color: $high;
}
.art-2p0nYa {
	background-image: none;
}
.header-2zHCAk {
	padding-top: 0;
}
// Create a server
.h5-2RwDNl,
.footer-31IekZ,
.uploadIcon-2wV7s_,
.colorMuted_c9946a,
.colorHeaderPrimary_c9946a,
.colorHeaderSecondary_c9946a {
	color: $low;
}
.anchor-1MIwyf {
	color: $alert;
}
// start from template / create my own
.container-x8Y1ix .defaultColor__4bd52 {
	color: $high;
}
// You've been invited to join a server
.container__9b0f4 {
	.title_fa285e {
		color: $low;
	}
}
.iconActiveLarger_f34534 {
	border-radius: 0;
}
// Join a server
.text-sm-normal-3Zj3Iv {
	color: $low !important;
}
// don't have an invite?
.rowContainer-3t7486 {
	border-radius: 0;
	background-color: $low;
	.defaultColor__4bd52 {
		color: $high;
	}

	&:hover {
		background-color: $alert;
	}
}
.sampleLink-5BWNy9 {
	color: $low;
}
// Upload Image
.theme-dark .uploadModal_dbca3c {
	@include boxify($high, $mid, 6px);
	.scrollableContainer__74017 {
		box-shadow: none;
		border: 3px solid $low;
	}
}
// Image popout carousel
.modal_b0827a.root__49fc1,
.carouselModal_d2b9a1.root__49fc1 {
	background: none !important;
	box-shadow: none !important;
	.wrapper_fb6520,
	.wrapper__21d85 {
		width: auto;
		.downloadLink_fb6520,
		.text__96e72 {
			color: $high !important;
		}
	}
}
.arrowContainer__31873 {
	background-color: $alert;
}
// Drag and drop upload
.uploadModalIn_dbca3c .uploadDropModal_dbca3c {
	.inner_dbca3c .instructions_dbca3c,
	.inner_dbca3c {
		border: none;
		color: $low;
	}
	.bgScale_dbca3c {
		@include boxify($high, $mid, 4px);
	}
}
.theme-dark .checkbox-f1HnKB {
	border: 2px solid $low;
	border-radius: 0;

	&.checked__87bf1 {
		border: 2px solid $low !important;
		background-color: $high;

		path {
			fill: $low !important;
		}
	}
}
// Login screen
.theme-dark.authBox_dc6abe {
	@include boxify($high, $mid, 6px);

	&,
	.colorHeaderPrimary_c9946a,
	.colorHeaderSecondary_c9946a,
	.h5-2RwDNl {
		color: $low;
	}
	.lookLink__201d5.colorBrand__201d5 {
		color: $alert;
	}
	.qrCodeContainer-1qlybH,
	.qrCodeOverlay-2bLtKl {
		border: 1px solid $low;
	}
}
// CTRL K
.quickswitcher_ac6cb0 {
	@include boxify($high, $mid, 5px);
	.input_ac6cb0 {
		color: $high;
		background: $low;
		border-radius: 0;
		box-shadow: none;
	}
	.icon__71961 {
		height: 13px;
		width: 13px;
		background-color: $low;
	}
	.resultFocused-3aIoYe {
		background: $low;
		border-radius: 0;

		.note-3TX9O7,
		.misc__71961,
		.contentUnread__71961,
		.contentDefault__71961 {
			color: $high;
		}
		.icon__71961 {
			background-color: $high;
			path {
				fill: $high;
			}
		}
	}
}
// Invite Friends to Server
.theme-dark {
	.lookLink__201d5.colorGrey-2DXtkV,
	.footerText-2QLGHU {
		color: $low;
	}
	.inviteRow-3vmB7i {
		border-radius: 0;
		.inviteRowName-3H4s_c {
			color: $low;
		}

		&:hover {
			background: $low;
			.lookLink__201d5.colorGrey-2DXtkV,
			.inviteRowName-3H4s_c {
				color: $high;
			}
		}
	}
}
// Addon Errors
.bd-modal-wrapper {
	.bd-modal-inner {
		@include boxify($high, $mid, 5px);
		border: none;
	}
	.header {
		color: $high;
		background-color: $low;
	}
	.footer-31IekZ,
	.bd-modal-body {
		color: $low;
		background-color: transparent;
	}
	.tab-bar-container {
		background-color: transparent;
		box-shadow: none;
		.tab-bar-item {
			color: $low;

			&.selected {
				border-color: $low;
			}
		}
	}
	.error,
	.table-header {
		color: $low;
		border-color: $low;
	}
	.error-link {
		color: $alert;
	}
}
// Notification settings
.theme-dark .modal__7f8f5 {
	@include boxify($high, $mid, 4px);
}
// Reactions
.reaction__23977 {
	border-radius: 0;
	@include boxify($high, $mid, 3px);

	&.reactionMe__23977 {
		background-color: $low;

		.reactionCount__23977 {
			color: $high;
		}
	}
}

// Focused Prompts
.theme-dark .focusLock__49fc1 {
	.root__49fc1,
	.root__49fc1 * {
		box-shadow: none;
		border-radius: 0px;
	}
	.art_e1cc86 {
		display: none;
	}
	.modalCloseButton_e1cc86,
	.modalClose__19236,
	.closeButton__527b1 {
		z-index: 2;
		color: $high;
		top: 4px;
		right: 4px;
	}
	.header__49fc1:before,
	.header__19236:before {
		display: flex;
		content: '';
		height: 16px;
		width: 16px;
		max-height: 16px;
		max-width: 16px;
		min-height: 16px;
		min-width: 16px;
		background-color: $high;
		align-self: center;
		justify-self: center;
	}
	.header__49fc1 {
		padding: 4px 12px 4px 12px;
		background-color: $low;
		border-radius: 0px;
		.header_e1cc86 {
			align-items: baseline;
			margin: 0px 0px 0px 12px;
		}
		.heading-lg\/semibold_cf4812 {
			margin-left: 12px !important;
		}
		.headerText_e1cc86,
		.defaultColor__5345c {
			text-transform: uppercase;
			letter-spacing: 4px;
			color: $high;
			margin: 0px;
		}
		.headerDescription_e1cc86 {
			color: $high !important;
			text-align: left;
			padding: 0px;
		}
	}
	.content__19236:has(> .header__19236) {
		&::-webkit-scrollbar {
			display: none;
		}
		padding-right: 32px !important;
	}
	.header__19236 {
		&:before {
			margin-right: 12px;
			margin-left: 12px;
		}
		display: flex;
		flex-direction: row;
		margin: 0px;
		margin-left: -36px;
		width: 440px;
		height: 42px;
		align-items: center;
		background-color: $low;
		&.defaultColor__5345c {
			text-transform: uppercase;
			letter-spacing: 4px;
			color: $high;
		}
	}
	.small__49fc1 {
		&:has(> .header__62280) {
			width: 600px;
		}
		//Specificity for forward message prompt
		.header__62280.header__62280 {
			padding: 4px 12px 4px 12px;
			background-color: $low;
			border-radius: 0px;
			display: flex;
			flex-direction: column;
			.titleLine__62280 {
				display: flex;
				flex-direction: row;
				.title__62280 {
					grid-column: 2;
					margin: 0 0 0 12px;
					.defaultColor__4bd52,
					.defaultColor__5345c {
						margin-left: 0 !important;
						color: $high !important;
					}
				}
				.closeButton__62280 {
					z-index: 2;
					color: $high;
					top: 4px;
					right: 4px;
				}
			}
			//Search bar
			.container_a45028 {
				grid-column: 1 / span 2;
				color: $high !important;
				text-align: left;
				padding: 0px;
			}
			&::before {
				content: none;
			}
			.titleLine__62280::before {
				grid-column: 1;
				display: block;
				content: '';
				height: 16px;
				width: 16px;
				max-height: 16px;
				max-width: 16px;
				min-height: 16px;
				min-width: 16px;
				background-color: $high;
				align-self: center;
				justify-self: center;
			}
		}
		//Specificity for report message prompt
		.header__527b1 {
			flex-direction: row;
			.defaultColor__5345c,
			.text-md\/normal_cf4812 {
				&:not(.text-md\/normal_cf4812) {
					text-transform: uppercase;
					letter-spacing: 4px;
				}
				color: $high !important;
				text-align: left;
			}
		}
		//Specificty for "how was your xyz" prompt //can't actually finish this cuz I don't have a reliable way to bring up the prompt
		.headerContainer__6c12c {
			&::before {
				grid-column: 1;
			}
			display: grid;
		}
	}
	//Share screen container
	.modalSize_e1cc86 {
		.segmentContainer_a2de16 {
			//container holding the tabs
			.divider__33f29 {
				display: none;
			}
			.segmentControl_a2de16 {
				padding: 0px;
			}
			.tabContainer__9e06a {
				//margin-top: 4px;
				height: 42px;
				justify-content: space-around;
				border-bottom: 2px solid;
				border-color: $low;
				.tabItem__9e06a {
					display: flex;
					background-color: $mid-trans;
					padding: 0px 32px 0px 6px;
					margin: 7px 0;
					height: 24px;
					align-self: center;
					.text-sm\/medium_cf4812 {
						color: $low;
						align-self: center;
					}
					&.tabItemSelected__9e06a {
						background-color: $low;
						height: 100%;
						box-shadow: inset 0 4px 0 0 $high;
						.text-sm\/medium_cf4812 {
							color: $high;
							align-self: baseline;
							padding-top: 6px;
						}
					}
				}
			}
		}
		.sourceContainer_a2de16 {
			padding: 0;
		}
	}
	// Message Preview
	.message__89466 {
		border-radius: 0;
		border: 1px solid $low;
		background-color: $high;
		box-shadow: none;
	}
	// Pro tip
	.pro__30cbe {
		color: $alert !important;
	}
	.footer__49fc1 {
		position: relative;
		padding: 25px 0 25px 0; /* Adjust as needed */
		background-color: $high; /* box background color */
		background-image: linear-gradient(
			to right,
			transparent 6px,
			$mid-trans 6px,
			$mid-trans calc(100% - 6px),
			transparent calc(100% - 6px)
		);
		background-repeat: no-repeat; /* Ensure the gradient doesn't repeat */
		background-position: top; /* Position it at the top */
		background-size: 100% 2px; /* Set the height of the "border" and make it span the full width */

		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		.lookFilled__201d5::before,
		.lookLink__201d5::before {
			display: block;
			content: '';
			height: 16px;
			width: 16px;
			max-height: 16px;
			max-width: 16px;
			min-height: 16px;
			min-width: 16px;
			background-color: $low;
		}
		.lookFilled__201d5::after,
		.lookLink__201d5::after {
			content: '';
			position: absolute;
			top: 50%;
			left: -30px; /* Adjust spacing relative to the square */
			transform: translateY(-50%);
			width: 24px;
			height: 22px;
			background-image: $selector-img; /* Replace with actual path */
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
			transition: opacity 0.175s ease-in-out;
			pointer-events: none; //Needed so the hover behavior doesn't trigger when you pass the mouse over where the pointer itself would be
		}
		.lookFilled__201d5:hover::before,
		.lookLink__201d5:hover::before {
			display: block;
			content: '';
			height: 16px;
			width: 16px;
			background-color: $high;
			color: $high;
		}
		.lookFilled__201d5:hover::after,
		.lookLink__201d5:hover::after {
			opacity: 1;
		}
		.lookFilled__201d5,
		.lookLink__201d5 {
			display: flex;
			background-color: $mid-trans;
			border-radius: 0px;
			font-size: 16px;
			width: 125px;
			height: 32px;
			min-height: 0px;
			padding: 0 0 0 8px;
			justify-content: left;
			.contents__201d5 {
				color: $low;
				margin: 0 0 0 12px;
			}
		}
		.lookFilled__201d5,
		.lookLink__201d5 {
			&:hover:not(.checkboxWrapper_f525d3, .checkboxWrapper_f525d3 *) {
				box-shadow: 3px 3px $mid-trans;
				background-color: $low !important;
				.contents__201d5 {
					pointer-events: none;
					color: $high !important;
				}
			}
		}
		.checkboxWrapper_f525d3 {
			flex: none;
		}

		&.footerWithMessage__62280 {
			flex-direction: column;
			padding: 0;
			.textArea__74017 {
				background-color: $mid-trans;
			}
		}
	}
}
